<template>
    <div class="container view inline-block">
        <div v-if="!isLoading">
            <div class="row " >
                <div class="col-sm">
                    <pendientes/>
                </div>
                <div class="col-sm mb-lg-1 ">
                    <movimientos />
                </div>
            </div>
            <div class="row">
                <div class="col-sm mb-lg-1 ">
                    <vencimientos/>
                </div>
                <div class="col-sm mb-lg-1">
                    <rutas/>
                </div>
            </div>
        </div>
        <div v-else class="pt-xl-5 text-center">
            <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
        </div>


    </div>
</template>

<script>
    import Pendientes from "./pendientes";
    import Movimientos from "./movimientos";
    import Vencimientos from "./vencimientos";
    import Rutas from "./rutas";
    export default {
        name: "index",
        components: {Rutas, Vencimientos, Movimientos, Pendientes},
        data(){
            return{
                isLoading:true,
            }
        },
        created() {
            document.onreadystatechange = () => {
                if (document.readyState === "complete") {
                    setTimeout(()=>{
                        this.isLoading=false
                    },5000)
                }
            }
        }
    }
</script>

<style scoped>

</style>
