<template>
    <div  v-if="!loading"  class="card " style="max-height: 70vh;" >
        <tableBody v-bind:data="this.data"/>
    </div>
</template>

<script>
    import tableBody from "../misc/grid-editable";
    import { mdbContainer ,mdbInput} from "mdbvue";
    import axios from "axios";
    export default {
        name: "movimientos",
        components: {
            mdbContainer,
            tableBody,
            mdbInput
        },
        data(){
            return {
                loading:true,
                data: {
                    nombreTabla: "Movimientos recientes ",
                    searchFields:true,
                    syleContent:{'font-size':'10px !important','white-space': 'nowrap'},
                    styleLabel:{'font-size':'10px !important','white-space': 'nowrap !important'},
                    styleTitle:{'font-size':'12px !important' },
                    columns: [
                        {
                            label: "ID",
                            field: "id",
                            sort: true,
                        },
                        {
                            label: "Motivo movimiento",
                            field: "motivo",
                            sort: true,
                        },
                        {
                            label: "Producto",
                            field: "producto",
                            sort: true,
                        },
                        {
                            label: "Cantidad gestionada",
                            field: "cantidad",
                            sort: true,
                        },
                        {
                            label: "Unidad de medida",
                            field: "medida",
                            sort: true,
                        },
                        {
                            label: "Usuario de origen",
                            field: "origen",
                            sort: true,
                        },
                        {
                            label: "Entidad de destino",
                            field: "destino",
                            sort: true,
                        },


                    ],
                    rows: [],
                    routes:{},
                    showInfo: {
                        show: false,
                        method: "",
                        enable: false,
                    },
                    create: {
                        show: false,
                    },
                    edit: {
                        show: false,
                    },
                    delete: {
                        enable: false,
                    },
                }
            }
        },
        async created() {
            this.loading=true;
            await this.fillTable();
        },
        methods:{
            async fillTable(){
                const respond= await axios.get('movimientos/list');
                this.data.rows=this.mapData(respond.data);
                this.loading=false;
            },
            mapData(movimientos){
                try{
                    if(movimientos.length>0){
                        return movimientos.map((movimiento)=>{
                            return {
                                id:movimiento.id,
                                producto:movimiento.producto.nombre,
                                motivo:movimiento.motivo_movimiento.motivo,
                                origen:movimiento.users.nombre,
                                destino:movimiento.movimiento_stock_usuarios.length>0?
                                    "Usuario: ("+movimiento.movimiento_stock_usuarios[0].users.nombre+")":
                                    movimiento.motivo_movimiento.id==4?"Cliente":"Bodega",
                                cantidad:movimiento.recuento,
                                medida:movimiento.producto.unidad_medida.nombre

                            }
                        })
                    }
                    return rutas;
                }catch (e) {
                    return [];
                }

            },


        }
    }
</script>

<style scoped>

</style>

