<template>
    <div  v-if="!loading"  class="card " style="max-height: 70vh;" >
        <tableBody @selected="(val)=>{
            this.selectedCerts=val;
        }" v-bind:data="this.data"/>
        <mdb-btn v-if="this.selectedCerts.length>0" @click="facturar" >Facturar Seleccionados </mdb-btn>
        <Facturar/>
    </div>

</template>

<script>
    import tableBody from "../misc/grid-editable";
    import { mdbContainer, mdbBtn ,mdbInput} from "mdbvue";
    import Facturar from '../factura/create';
    import axios from "axios";
    import {mapState} from "vuex";
    export default {
        name: "pendientes",
        components: {
            mdbContainer,
            tableBody,
            mdbInput,
            mdbBtn,
            Facturar
        },
        computed: {
            ...mapState(["createFactura"]),
            certificados:{
                get(){
                    return this.$store.state.FactureCerts;
                },
                set(val){
                    this.$store.commit('FactureCerts',val);
                }
            }
        },
        data(){
            return {
                selectedCerts:[],
                loading:true,
                data: {
                    nombreTabla: "Certificados pendientes de facturacion",
                    searchFields:true,
                    syleContent:{'font-size':'10px !important','white-space': 'nowrap'},
                    styleLabel:{'font-size':'10px !important','white-space': 'nowrap !important'},
                    styleTitle:{'font-size':'12px !important' },
                    columns: [
                        {
                            label: "ID",
                            field: "id",
                            sort: true,
                        },
                        {
                            label: "Cliente",
                            field: "client",
                            sort: true,
                        },
                        {
                            label: "Folio",
                            field: "folio",
                            sort: true,
                        },
                        {
                            label: "Direccion",
                            field: "direccion",
                            sort: true,
                        },
                        {
                            label: "Fecha",
                            field: "fecha",
                            sort: true,
                        },
                        {
                            label: "Usuario",
                            field: "user",
                            sort: true,
                        },


                    ],
                    rows: [],
                    routes:{},
                    showInfo: {
                        show: false,
                        method: "",
                        enable: false,
                    },
                    create: {
                        show: false,
                    },
                    edit: {
                        show: false,
                    },
                    delete: {
                        enable: false,
                    },
                }
            }
        },
        async created() {
            this.loading=true;
            await this.fillTable();
        },
        methods:{
            facturar(){
              this.certificados=this.selectedCerts.map(el=>{
                  return {folio:el.folio,valor:el.valor}
              });
                this.$store.commit('createFactura',{route:{
                    store:"/factura/store",
                        update:"/factura/update"
                    }});
            },
            async fillTable(){
                const respond= await axios.get('/certificados/pendientes');
                this.data.rows=respond.data;
                this.loading=false;
            },

        }
    }
</script>

<style scoped>

</style>

