<template>
    <div  v-if="!loading"  class="card"  style="max-height: 70vh;">
       <tableBody v-bind:data="this.data"/>
    </div>
</template>

<script>
    import tableBody from "../misc/grid-editable";
    import { mdbContainer } from "mdbvue";
    import axios from "axios";
    export default {
        name: "rutas",
        components: {
            mdbContainer,
            tableBody,
        },
        data(){
            return {
                loading:true,
                data: {
                    nombreTabla: "Rutas pendientes ",
                    syleContent:{'font-size':'10px !important','white-space': 'nowrap'},
                    styleLabel:{'font-size':'10px !important','white-space': 'nowrap !important'},
                    styleTitle:{'font-size':'12px !important' },
                    columns: [
                        {
                            label: "ID",
                            field: "id",
                            sort: true,
                        },
                        {
                            label: "Motivo de visita",
                            field: "motivo",
                            sort: true,
                        },
                        {
                            label: "Encargado a",
                            field: "encargado",
                            sort: true,
                        },
                        {
                            label: "Nombre Cliente",
                            field: "cliente",
                            sort: true,
                        },
                        {
                            label: "Direccion del inmueble",
                            field: "direccion",
                            sort: true,
                        },
                        {
                            label: "Estado de la ruta",
                            field: "estado",
                            sort: true,
                        },
                        {
                            label: "Fecha y hora de realizacion",
                            field: "datetime",
                            sort: true,
                        },

                    ],
                    rows: [],
                    routes:{},
                    showInfo: {
                        show: false,
                        method: "",
                        enable: false,
                    },
                    create: {
                        show: false,
                    },
                    edit: {
                        show: false,
                    },
                    delete: {
                        enable: false,
                    },
                }
            }
        },
       async created() {
            this.loading=true;
          await this.fillTable();
        },
        methods:{
            async fillTable(){
                    const respond= await axios.get('rutas/pendientes');
                    this.data.rows=this.mapData(respond.data.data);
                    this.loading=false;
            },
            mapData(rutas){
                try{
                    if(rutas.length>0){
                        return rutas.map((ruta)=>{
                            return {
                                id:ruta.id,
                                motivo:ruta.motivo_visita.motivo,
                                encargado:ruta.user.nombre,
                                cliente:ruta.cliente.nombre,
                                direccion:ruta.inmueble.direccion,
                                estado:ruta.estado_ruta.estado,
                                datetime:ruta.horario_inicio,
                            }
                        })
                    }
                   return rutas;
                }catch (e) {
                    return [];
                }

            }

        }
    }
</script>

<style scoped>

</style>
