<template>
    <div  v-if="!loading"  class="card " style="max-height: 70vh;" >
        <tableBody v-bind:data="this.data"/>
    </div>
</template>

<script>
    import tableBody from "../misc/grid-editable";
    import { mdbContainer ,mdbInput} from "mdbvue";
    import axios from "axios";
    export default {
        name: "movimientos",
        components: {
            mdbContainer,
            tableBody,
            mdbInput
        },
        data(){
            return {
                loading:true,
                data: {
                    nombreTabla: "Productos por expirar ",
                    searchFields:true,
                    syleContent:{'font-size':'10px !important','white-space': 'nowrap'},
                    styleLabel:{'font-size':'10px !important','white-space': 'nowrap !important'},
                    styleTitle:{'font-size':'12px !important' },
                    columns: [
                        {
                            label: "ID",
                            field: "id",
                            sort: true,
                        },
                        {
                            label: "Cantidad",
                            field: "cantidad",
                            sort: true,
                        },
                        {
                            label: "Producto",
                            field: "producto",
                            sort: true,
                        },
                        {
                            label: "Caducidad",
                            field: "caducidad",
                            sort: true,
                        },
                        {
                            label: "Lote",
                            field: "lote",
                            sort: true,
                        },


                    ],
                    rows: [],
                    routes:{},
                    showInfo: {
                        show: false,
                        method: "",
                        enable: false,
                    },
                    create: {
                        show: false,
                    },
                    edit: {
                        show: false,
                    },
                    delete: {
                        enable: false,
                    },
                }
            }
        },
        async created() {
            this.loading=true;
            await this.fillTable();
        },
        methods:{
            async fillTable(){
                const respond= await axios.get('stocks/por-expirar');
                this.data.rows=this.mapData(respond.data);
                this.loading=false;
            },
            mapData(vencimiento){
                try{
                    if(vencimiento.length>0){
                        return vencimiento.map((venc)=>{
                            return {
                                id:venc.id,
                                cantidad:venc.cantidad,
                                lote:venc.lote,
                                producto:venc.producto.nombre,
                                caducidad:venc.caducidad,
                            }
                        })
                    }
                    return rutas;
                }catch (e) {
                    return [];
                }

            },


        }
    }
</script>

<style scoped>

</style>

