<template>
    <md-dialog :md-active="this.showModal"  @close="closeModal" >
        <div class="modal-1 mh100 " >
            <mdb-modal-header class="text-center mh100 ">Ruta</mdb-modal-header>
            <mdb-modal-body class=" grey-text">
                <md-dialog-content>
                    <md-tabs md-dynamic-height class="" md-alignment="centered">
                        <md-tab id="horario" md-label="Horario">
                            <horario :with-frecuency="eventDay.withFrecuency" :frecuency="eventDay.frecuency" :id_motivo_visita="eventDay.id_motivo_visita" :horario="eventDay.horario" @selected-horario="selectedHorario" />
                        </md-tab>
                        <md-tab id="usuario" md-label="Usuario">
                            <usuario :user="eventDay.user" @selected-user="selectedUser" />
                        </md-tab>
                        <md-tab id="eTrabajo" md-label="Encomienda Trabajo">
                          <encomienda-trabajo :cliente="eventDay.cliente" @selected-cliente="selectedCliente" />
                        </md-tab>
                        <md-tab id="cliente" md-label="Cliente">
                            <cliente :inmueble="eventDay.inmueble" @selected-inmueble="selectedInmueble"/>
                        </md-tab>
                        <md-tab id="ruta" v-if="eventDay.user!==undefined?eventDay.user.id!==undefined&&eventDay.inmueble.id!==undefined&&eventDay.horario_fin!==undefined:false" md-label="Ruta">
                            <ruta @new-location="newLocation" :ruta="scheduledEvent" />
                        </md-tab>
                    </md-tabs>
                    <mdb-modal-footer center v-if="readyToSave">
                        <md-switch
                            v-if="this.ScheduledEvent.id!==undefined&&(this.ScheduledEvent.codigo!==undefined&&this.ScheduledEvent.codigo!==null)"
                            v-model="toAllRoutes"
                        >Para todas las asociadas</md-switch>
                        <mdb-btn  v-on:click="saveChanges" color="indigo">{{this.ScheduledEvent.id!==undefined?'Actualizar':'Guardar'}}</mdb-btn>
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>

<script>
import {
    mdbContainer,
    mdbBtn,
    mdbModalHeader,
    mdbModalBody,
   mdbModalFooter,
} from "mdbvue";
const WEEKDAYS = ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"];
import Horario from "./event-tabs/horario";
import Usuario from "./event-tabs/usuario";
import Cliente from './event-tabs/cliente'
import EncomiendaTrabajo from "./event-tabs/encomienda-trabajo";
import Ruta from "./event-tabs/ruta";
import axios from 'axios';
import Swal from "sweetalert2";


export default {
    components:{
        EncomiendaTrabajo,
        Usuario,
        Ruta,
        Horario,
        Cliente,
        mdbContainer,
        mdbBtn,
        mdbModalHeader,
        mdbModalBody,
        mdbModalFooter,
    },
    props:{
        show:{
          type:Boolean,
          default:false
        },
        ScheduledEvent:{
            type:Object,
            default:{
                id:undefined,

                estado_ruta:{
                    id:1,
                    estado:"Vigente",
                },
                horario:{

                },
                cliente:{
                    id:undefined,
                    nombre:undefined,
                    nombre_fantasia:undefined,
                    rut:undefined,
                    direccion_principal:undefined,
                    ciudad:undefined,
                    fono:undefined,
                    email:undefined,
                },
                withFrecuency:false,
                frecuency:0,
                id_cliente:undefined,
                id_estado:undefined,
                id_inmueble:undefined,
                id_motivo_visita:undefined,
                id_usuario:undefined,
                horario_inicio:undefined,
                horario_fin: undefined,
                inmueble:{
                    id:undefined,
                    ciudad:undefined,
                    direccion:undefined,
                    id_propetario:undefined,
                    latitude:undefined,
                    longitude:undefined,
                    nombre:undefined,
                    propietario:{
                        id:undefined,
                        nombre:undefined,
                        nombre_fantasia:undefined,
                        rut:undefined,
                        direccion_principal:undefined,
                        ciudad:undefined,
                        fono:undefined,
                        email:undefined,
                    }
                },
                motivo_visita:{
                    id:2,
                    motivo:"Servicio"
                },
                user:{
                    car_location: undefined,
                    email: undefined,
                    fcm_token: undefined,
                    firma: undefined,
                    id: undefined,
                    isAdmin: undefined,
                    location: undefined,
                    nombre: undefined,
                    patente: undefined,
                    rut: undefined,
                    tec_a_cargo: undefined,
                    tecnico_a_cargo: undefined,
                    updated_at: undefined
                }
            }
        }
    },
    data(){
        return{
            fecha:undefined,
            scheduledEvent:undefined,
            readyToSave:false,
            toAllRoutes:false

        }
    },
    name: "EventEditAndCreate",
    watch:{
        scheduledEvent:{
            handler(){
               this.checkReady();
            },deep:true
        }
    },
    computed:{
      showModal:{
          get(){
              return this.show
          },
          set(val){
              this.$emit('show',val);
          }
      },
        eventDay:{
          get(){
              if(this.scheduledEvent===undefined){
                  this.scheduledEvent=this.ScheduledEvent;
              }
              return this.scheduledEvent;
          },
            set(val){
             this.scheduledEvent=val;
            }
        }
    },

    methods:{
        checkReady(){
            this.readyToSave=
                this.scheduledEvent.inmueble.latitude!==undefined&&
                this.scheduledEvent.user.id!==undefined&&
                this.scheduledEvent.cliente.id!==undefined&&
                this.scheduledEvent.horario_inicio!==undefined&&
                this.scheduledEvent.horario_fin!==undefined;
        },
        async newLocation(location){
            this.eventDay.inmueble.latitude=location.latitude;
            this.eventDay.inmueble.longitude=location.longitude;
            this.checkReady();
        },
        closeModal(){
            this.$emit('show',false)
        },
        saveChanges(){
            if(this.scheduledEvent.withFrecuency){
                this.saveWithFrecuency(this.scheduledEvent.frecuency)
            }else{
                if(Array.isArray(this.scheduledEvent.horario.fecha)){
                    if(this.scheduledEvent.horario.fecha.length>0){
                        this.scheduledEvent.horario.fecha=this.scheduledEvent.horario.fecha[0];
                        this.scheduledEvent.horario_inicio=`${this.scheduledEvent.horario.fecha} ${this.scheduledEvent.horario.hora_inicio}`;
                        this.scheduledEvent.horario_fin=`${this.scheduledEvent.horario.fecha} ${this.scheduledEvent.horario.hora_fin}`;
                    }
                }
                this.save();
            }
        },
         async saveWithFrecuency(frecuency){
            this.fecha=JSON.parse(JSON.stringify(this.scheduledEvent.horario.fecha));
          let date=dayjs(this.fecha);
            try{

                if(date.format("YYYY")==='Invalid Date'&&Array.isArray(this.fecha)){
                    date=dayjs(this.fecha[0])
                    if(Array.isArray(this.scheduledEvent.horario.fecha)){
                        this.scheduledEvent.horario.fecha=JSON.parse(JSON.stringify(this.fecha[0]));
                    }
                }
                    const feriados=await axios.get(`https://apis.digital.gob.cl/fl/feriados/${date.format("YYYY")}`);
                let datesNoFeriados=[];
                while(dayjs(this.scheduledEvent.horario.fecha).format("YYYY")===date.format("YYYY")) {
                    if(feriados.data.find(feriado=>feriado.fecha===date.format("YYYY-MM-DD"))===undefined&&WEEKDAYS[date.weekday()]!=='Domingo'){
                            datesNoFeriados.push(date.format("YYYY-MM-DD"));
                    }else{
                            let newDate=dayjs(date.format('YYYY-MM-DD'));
                            while(feriados.data.find(feriado=>feriado.fecha===newDate.format("YYYY-MM-DD"))!==undefined){
                                newDate=newDate.add(1,'day');
                            }
                            if(WEEKDAYS[newDate.weekday()]==='Domingo'){
                                newDate=newDate.add(1,'day');
                            }
                                datesNoFeriados.push(newDate.format("YYYY-MM-DD"));
                    }
                    date=date.add(frecuency,'day');
                }
                this.scheduledEvent.horario.fecha=datesNoFeriados;
                this.save();
            }catch (e) {
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "El proceso no se completo correctamente",
                    text:e,
                    showConfirmButton: false,
                    timer: 1000,
                });

            }


        },
        save(){
            this.scheduledEvent.id_estado=this.scheduledEvent.estado_ruta.id;
            if(this.scheduledEvent.id!==undefined&&(this.scheduledEvent.codigo!==null&&this.scheduledEvent.codigo!==undefined)){
                this.scheduledEvent.toAllRoutes=this.toAllRoutes;
            }
            axios.post('/rutas/store',this.scheduledEvent).then((resp)=>{
                if(resp.status===200){
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Los Cambios se Guardaron Correctamente",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                    this.$emit('update',resp.data.data[0]);
                }else{
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: resp.data.data.message,
                        text:"El proceso no se completo correctamente",
                        showConfirmButton: false,
                        timer: time,
                    });

                }
            }).catch((err)=>{
              this.errors(err);
            });
        },
        errors(err){
            let time=1000;
            if(Array.isArray(err.response.data.message)){
                const responseErrors=err.response.data.message;
                let Errors=`<ol>`;
                Object.keys(responseErrors).forEach((field)=>{
                    responseErrors[field].forEach((error)=>{
                        Errors+=`<li>${error}</li>`
                        time+=2000;
                    })
                });
                Errors+=`</ol>`
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Algo ha salido mal",
                    html:Errors,
                    showConfirmButton: false,
                    timer: time,
                });
                if(this.fecha!==undefined&&this.scheduledEvent.horario.withFrecuency) {
                    this.scheduledEvent.horario.fecha = JSON.parse(JSON.stringify(this.fecha));
                    this.fecha=undefined;
                }
            }else{
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: err.response.data.message,
                    text:"El proceso no se completo correctamente",
                    showConfirmButton: true,
                });
            }

        },
        selectedCliente(selected) {
            this.eventDay.id_cliente = selected.id;
            this.eventDay.cliente=selected;
        },
        selectedInmueble(selected){
            this.eventDay.id_inmueble=selected.id
            this.eventDay.inmueble=selected;

        },
        selectedHorario(selected){
            this.scheduledEvent.withFrecuency=selected.withFrecuency;
            this.scheduledEvent.frecuency=selected.frecuency;
            this.scheduledEvent.horario=selected.horario;
            this.scheduledEvent.horario_inicio=selected.horario_inicio;
            this.scheduledEvent.horario_fin=selected.horario_fin;
            this.scheduledEvent.id_motivo_visita=selected.motivo_visita;
        },
        selectedUser(selected){
            this.eventDay.id_usuario=selected.id;
            this.eventDay.user=selected;
        }
    }

}
</script>

<style scoped>

</style>
