<template>
        <md-app class=" rutas">
            <md-app-drawer style="max-width: 350px; z-index:3;  min-height: -webkit-fill-available;" :md-active.sync="menuVisible" md-persistent="full">
               <div class="ml-3 mr-3">
                   <md-field @change="selectedList">
                       <label for="search">Buscar un:</label>
                       <md-select v-model="search.field.id"   name="search" id="search">
                           <md-option  v-bind:value="target.id" v-for="target in searchOptions" :key="target.id" >{{target.label}}</md-option>
                       </md-select>
                   </md-field>
                   <md-field>
                       <label for="search"> Burcar por: </label>
                       <md-select v-model="search.key"   name="search" id="search" :key="search.field.id">
                           <md-option  v-bind:value="k.value" v-for="k in searchOptions.find(el=>el.id===search.field.id).key" :key="k.value" >{{k.label}}</md-option>
                       </md-select>
                   </md-field>
                   <md-field>
                       <label>
                           Texto a encontrar
                       </label>
                       <md-input v-if="search.key!==''" type="text" v-model="search.term" />
                   </md-field>
               </div>

               <list-user @user="(el)=>this.usuario=el" v-if="search.field.id===1" :search="search"/>
                <list-client @client="(el)=>this.cliente=el" v-if="search.field.id===2" :search="search"/>
                <div class="inline-block text-center h3" >{{search.field.label}}:</div>
                        <ol class=" inline-block display-grid p-3"  v-if="search.field.id===2">
                            <li v-if="cliente.nombre!==null"><mdb-icon icon="user-circle" /> {{cliente.nombre}}</li>
                            <li v-if="cliente.nombre_fantasia!==null"><mdb-icon icon="user-circle" /> {{cliente.nombre_fantasia}}</li>
                            <li v-if="cliente.direccion_principal!==null"><mdb-icon icon="home" /> {{cliente.direccion_principal}}</li>
                            <li v-if="cliente.ciudad!==null"><mdb-icon icon="building" /> {{cliente.ciudad}}</li>
                            <li v-if="cliente.rut!==null"><mdb-icon icon="clipboard-list" /> {{cliente.rut}}</li>
                            <li v-if="cliente.fono!==null"><mdb-icon icon="phone" /> {{cliente.fono}}</li>
                            <li v-if="cliente.email!==null"><mdb-icon icon="at" /> {{cliente.email}}</li>
                        </ol>
                    <ol class=" inline-block display-grid p-3"  v-if="search.field.id===1">
                        <li v-if="usuario.nombre!==null"><mdb-icon icon="user-circle" /> {{usuario.nombre}}</li>
                        <li v-if="usuario.email!==null"><mdb-icon icon="home" /> {{usuario.email}}</li>
                        <li v-if="usuario.rut!==null"><mdb-icon icon="building" /> {{usuario.rut}}</li>
                    </ol>
            </md-app-drawer>

            <md-app-content>
                <div class="row-not-flex" v-if="!isLoading">
                    <div class="col-xm" >
                        <mdb-btn size="lg" class="shadow-none"  :icon="menuVisible?'angle-double-left':'angle-double-right'" outline="default" @click="menuVisible=!menuVisible"> Usuarios/Clientes</mdb-btn>
                    </div>
                        <div class="col">
                            <calendario @delete-event="deleteEvent" @edit-event="edit" :events="rutas" @click-date="date"/>
                            <event-edit-and-create  @update="updateEvents" v-if="showEventForm" :show="showEventForm" @show="(val)=>{showEventForm=val}" :scheduled-event="selectedEvent"/>

                        </div>

                </div>
                <div class="row text-center" v-else>
                    <md-progress-spinner  md-mode="indeterminate"></md-progress-spinner>
                </div>
                    <div class="row">
                        <div v-if="menuVisible" class="col text-center mb-1"><h4><mdb-icon far icon="question-circle" /> Arrastre un elemento al calendario</h4></div>
                        <div v-if="menuVisible"  class="col text-center mt-2"><h4><mdb-icon far icon="question-circle" /> Presione F11 para pantalla completa</h4></div>

                    </div>
                </md-app-content>
        </md-app>

</template>
<script>
import {mdbContainer,mdbIcon,mdbBtn} from 'mdbvue';
import calendario from './calendario'
import listEvents from './list-events'
import EventEditAndCreate from "./EventEditAndCreate";
import ListUser from "./list/list-user";
import ListClient from "./list/list-client";
import swal from 'sweetalert2';
import axios from 'axios';
export default {
    name: "index",
    props:{
      rutas:{
          type:Array,
          default:[]
      }
    },
    components:{
        ListClient,
        ListUser,
        EventEditAndCreate,
        calendario,
        mdbContainer,
        mdbIcon,
        mdbBtn,
        listEvents
    },
    data(){
        return {
            cliente:{
                id:null,
                nombre:null,
                nombre_fantasia:null,
                direccion_principal:null,
                ciudad:null,
                rut:null,
                fono:null,
                email:null,
            },
            usuario:{
                id:null,
                nombre:null,
                email:null,
                rut:null,
                firma:null
            },
            search:{
              field:{label:"Usuario",id:1},
                term:"",
                key:""
            },
            searchOptions:[
                {label:"Usuario",id:1,
                key:[
                    {label:"Nombre",value:"nombre"},
                    {label:"Correo Electronico",value:"email"},
                    {label:"Rut",value:"rut"},
                    {label:"Patente",value:"patente"},
                ]},
                {label:"Cliente",id:2,
                    key:[
                        {label:"Nombre",value:"nombre"},
                        {label:"Nombre de Fantasia",value:"nombre_fantasia"},
                        {label:"Rut",value:"rut"},
                        {label:"Correo Electronico",value:"email"},
                        {label:"Direccion principal",value:"direccion_principal"}
                        ]}],
            menuVisible: false,
            showList: false,
            selectedDate:undefined,
            selectedEvent:{},
            showEventForm:false,
            routes:[],
            isLoading:false
        }
    },
    computed:{
        RouteData:{
            get(){
                if(this.rutas!==undefined){
                    this.routes=this.rutas;
                    return this.routes;
                }else{
                    return this.routes;
                }
            },
            set(val){
                this.routes=val;
            }
        },
      showListEvents:{
          get(){
            return this.showList;
          },
          set(val){
            this.showList=val;
          }
      },
    },
    created() {

    },
    methods:{
        selectedList(val){
            this.search.key='';
        },
        deleteEvent(ev){
            swal.fire({
                title: '¿Esta Seguro?',
                text: "No podra deshacer este cambio, ¿desea eliminar la ruta seleccionada?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.post(`/rutas/delete/${ev}`).then((resp)=>{
                        if(resp.status===200){
                            swal.fire({
                                position: "top-end",
                                icon: "success",
                                title: "El registro ha sido eliminado",
                                showConfirmButton: false,
                                timer: 2000,
                            });
                            this.updateEvents(null);
                        }
                    })
                }
            })
        },
        toggleMenu () {
            this.menuVisible = !this.menuVisible
        },
        date(val){
            this.edit({
                id:undefined,
                estado_ruta:{
                    id:1,
                    estado:"Vigente",
                },
                horario:{
                    fecha:val.date,
                },
                cliente:{
                    id:undefined,
                    nombre:undefined,
                    nombre_fantasia:undefined,
                    rut:undefined,
                    direccion_principal:undefined,
                    ciudad:undefined,
                    fono:undefined,
                    email:undefined,
                },
                id_cliente:undefined,
                id_estado:undefined,
                id_inmueble:undefined,
                id_motivo_visita:undefined,
                id_usuario:undefined,
                horario_inicio:undefined,
                horario_fin: undefined,
                inmueble:{
                    id:undefined,
                    ciudad:undefined,
                    direccion:undefined,
                    id_propetario:undefined,
                    latitude:undefined,
                    longitude:undefined,
                    nombre:undefined,
                    propietario:{
                        id:undefined,
                        nombre:undefined,
                        nombre_fantasia:undefined,
                        rut:undefined,
                        direccion_principal:undefined,
                        ciudad:undefined,
                        fono:undefined,
                        email:undefined,
                    }
                },
                motivo_visita:{
                    id:2,
                    motivo:"Servicio"
                },
                user:{
                    car_location: undefined,
                    email: undefined,
                    fcm_token: undefined,
                    firma: undefined,
                    id: undefined,
                    isAdmin: undefined,
                    location: undefined,
                    nombre: undefined,
                    patente: undefined,
                    rut: undefined,
                    tec_a_cargo: undefined,
                    tecnico_a_cargo: undefined,
                    updated_at: undefined
                }
            });
        },
        showEventList(val){
            this.showListEvents=val;
        },
        edit(val){
            this.selectedEvent=val;
            this.showEventForm=true;

        },
        updateEvents(ev){
            window.location.reload()
        }
    }
}
</script>

<style scoped>
.md-app-content{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
.row-not-flex{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.rutas{
    zoom: 70%;

}
</style>
