<template>
    <md-dialog :md-active="showModal"  @close="()=>this.showModal=false" >
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'"> Crear Rol</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>



                </md-dialog-content>
                <mdb-modal-footer center>
                    <mdb-btn @click.native="saveData" color="indigo">Nuevo</mdb-btn>
                </mdb-modal-footer>
                <mdb-modal-footer center>
                    <mdb-btn @click.native="saveData" color="indigo">Cerrar</mdb-btn>
                </mdb-modal-footer>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>

<script>
import { mdbContainer, mdbTextarea, mdbIcon, mdbBtn, mdbModal, mdbModalHeader, mdbModalBody, mdbInput, mdbModalFooter } from 'mdbvue';
export default {
    name: "list-events",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon
    },
    props:{
        show:{
            type:Boolean,
            default:false
        }
    },computed:{
      showModal:{
          get(){
              return this.show;
          },set(val){
              this.$emit('show',val);
          }
      }
    }
}
</script>

<style scoped>

</style>
