<template>
  <md-dialog :md-active="this.createBodega.show" @close="closeModal">
    <div class="modal-1 mh100">
      <mdb-modal-header v-bind:class="'text-center mh100'">
        Crear Bodega</mdb-modal-header
      >
      <mdb-modal-body class="mx-3 grey-text">
        <md-dialog-content>
          <mdb-input
            label="Nombre Bodega"
            class="mb-5"
            v-model="bodega.nombre"
          />
          <mdb-modal-footer center>
            <mdb-btn @click.native="saveData" color="indigo">Guardar</mdb-btn>
          </mdb-modal-footer>
        </md-dialog-content>
      </mdb-modal-body>
    </div>
  </md-dialog>
</template>
<script>
import {
  mdbContainer,
  mdbTextarea,
  mdbIcon,
  mdbBtn,
  mdbModal,
  mdbModalHeader,
  mdbModalBody,
  mdbInput,
  mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import mdbFileUpload from "../../misc/MdFile";
import axios from "axios";
import Swal from "sweetalert2";
export default {
  name: "create",
  components: {
    mdbContainer,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
    mdbIcon,
  },
  data() {
    return {
      bodega: {
        nombre: "",
      },
      route: "",
      updated: false,
    };
  },
  computed: {
    ...mapState(["createBodega"]),
  },
  created() {
    window.addEventListener(
      "keydown",
      (e) => {
        if (e.key === "Escape" && this.createBodega.show) {
          this.closeModal();
        }
        if (e.key === "Enter" && this.createBodega.show) {
          this.saveData();
        }
      },
      { passive: true }
    );
  },
  updated() {
    if (!this.updated) {
      this.updated = !this.updated;
      if (this.createBodega.show) {
        this.route = this.createBodega.payload.route;
      }
    }
  },
  methods: {
    closeModal() {
      this.$store.commit("hideCreateBodega");
    },
    saveData() {
      axios
        .post(this.route.store, { ...this.bodega })
        .then((response) => {
          if (response.status === 200) {
            Swal.fire({
              position: "top-end",
              icon: "success",
              title: "Ha sido Creado Correctamente",
              showConfirmButton: false,
              timer: 2000,
            });
            setTimeout(() => {
              window.location.reload();
            }, 700);
          } else {
            Swal.fire({
              position: "top-end",
              icon: "error",
              title: "Algo ha salido mal",
              text: "Faltan campos requeridos o los datos ya existen",
              showConfirmButton: false,
              timer: 2000,
            });
          }
        })
        .catch((e) => {
          Swal.fire({
            position: "top-end",
            icon: "error",
            title: "Ha ocurrido un error",
            showConfirmButton: false,
            timer: 2000,
          });
        });
    },
  },
};
</script>

<style>

</style>
