<template>
    <md-dialog :md-active="this.editBodega.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">
               Editar Bodega</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input
                        v-autofocus
                        label="Nombre Boodega"
                        class="mb-5"
                        v-model="bodega.nombre"
                    />
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
export default {
    name: "edit",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data() {
        return {
            bodega: {
                id: 0,
                nombre: "",
            },
            route: "",
            updated: false,
        };
    },
    computed: {
        ...mapState(["editBodega"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape" && this.editBodega.show) {
                    this.closeModal();
                }
                if (e.key === "Enter" && this.editBodega.show) {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    async updated() {
        if (this.$store.state.editBodega.show) {
            this.route = this.editBodega.payload.route;
            this.bodega = this.editBodega.payload.data;
        }
    },
    methods: {
        closeModal() {
            this.$store.commit("hideEditBodega");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },
        saveData() {
            axios.post(this.route.update, {...this.bodega}).then((response) => {
                if (response.status === 200) {
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Ha sido Creado Correctamente",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                    setTimeout(() => {
                        window.location.reload();
                    }, 700);
                } else {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Algo ha salido mal",
                        text: "Faltan campos requeridos o los datos ya existen",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                }
            });
        },
    },
};
</script>

<style>

</style>
