<template>
  <mdb-container>
    <tableBody v-bind:data="this.data">
      <template v-slot:edit>
        <edit></edit>
      </template>
      <template v-slot:create>
        <create></create>
      </template>
    </tableBody>
  </mdb-container>
</template>
<script>
import tableBody from "../../misc/grid-editable";
import { mdbContainer } from "mdbvue";
import edit from "./edit";
import create from "./create";
export default {
  name: "index",
  props: ["routes", "bodegas", "permissions"],
  components: {
    mdbContainer,
    edit,
    tableBody,
    create,
  },
  data() {
    let permissions = JSON.parse(this.permissions);
    return {
      data: {
        nombreTabla: "Bodegas",
        columns: [
          {
            label: "Id",
            field: "id",
            sort: true,
          },
          {
            label: "Descripción",
            field: "nombre",
            sort: true,
          },
        ],
        rows: JSON.parse(this.bodegas),
        routes: JSON.parse(this.routes),
        showInfo: {
          show: false,
          method: "",
        },
        create: {
          show: false,
          method: "createBodega",
          enable: permissions.create,
        },
        edit: {
          show: false,
          method: "editBodega",
          enable: permissions.edit,
        },
        delete: {
          enable: permissions.delete,
        },
      },
    };
  },
};
</script>

<style scoped>
</style>
