<template>
    <div>
        <md-dialog :md-active.sync="this.componentePreset.show">
            <div class="modal-1 mh100">
                <md-dialog-content>
                    <md-autocomplete
                        v-model="termProducto"
                        :md-options="productos"
                        @md-changed="searchProducto"
                        @md-opened="searchProducto"
                        @md-selected="selectedProducto"
                    >
                        <label>Producto</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro el producto
                        </template>
                    </md-autocomplete>
                    <md-field>
                        <label for="">Recibir en Factor</label>
                        <md-select
                            v-model="factor"
                            @md-selected="selectedFactor"
                        >
                            <md-option value="-1">No Aplica</md-option>
                            <md-option
                                v-for="factor in factores"
                                v-bind:value="factor.id"
                                v-bind:key="factor.id"
                                >{{ factor.descripcion }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <mdb-input
                        label="Cantidad"
                        class="mb-5"
                        v-model="compuesto.cantidad"
                    />

                    <md-button
                        class="md-primary md-raised"
                        @click="addCompuesto"
                        >Agregar</md-button
                    >

                    <md-list>
                        <md-list-item
                            v-for="item in this.compuestos"
                            :key="item.id_producto"
                        >
                            <mdb-icon
                                icon="minus-circle"
                                @click.native="quitarCompuesto(item)"
                                class="clickable-icon"
                            ></mdb-icon>
                            <span class="md-list-item-text"
                                >{{ item.producto }}: {{ item.cantidad }}</span
                            >
                        </md-list-item>
                    </md-list>

                    <div v-if="this.compuestos.length === 0">
                        No hay componentes agregados
                    </div>
                </md-dialog-content>

                <md-dialog-actions>
                    <md-button class="md-primary" @click="hideDialog"
                        >Cerrar</md-button
                    >
                    <md-button class="md-primary" @click="actualizaComponentes"
                        >Guardar</md-button
                    >
                </md-dialog-actions>
            </div>
        </md-dialog>
    </div>
</template>

<script>
import { mapState } from "vuex";
import VueMaterial from "vue-material";
import axios from 'axios';
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import Axios from 'axios';
export default {
    name: "componentePreset",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    computed: {
        ...mapState(["componentePreset", "compuestosProducto"]),
    },
    props: ["componentes", "productosList", "urlFactor"],
    data() {
        return {
            compuestos: [],
            compuesto: {
                id_producto: "",
                producto: "",
                cantidad: 0,
            },
            termProducto: "",
            productos: [],
            updated: false,
            factor: -1,
            factores: [],
            factor_conversion: null
        };
    },
    updated() {
        if (this.componentePreset.show && !this.updated) {
            if (this.compuestosProducto.length > 0) {
                this.compuestos = Object.assign(this.compuestosProducto);
            }

            this.updated = true;
        }
    },
    methods: {
        hideDialog() {
            this.$store.commit("hideComponentePreset");
        },
        selectedFactor(selected) {
            let factor = this.factores.filter(
                (factor) => factor.id === selected
            );
            this.factor_conversion = factor[0];
        },
        addCompuesto() {
            if (this.compuesto.cantidad === 0 || this.compuestos.find((el) => el.id_producto === this.compuesto.id_producto) !== undefined) {
                return;
            }
            this.compuesto.cantidad *= this.factor_conversion!==null&&this.factor_conversion!==undefined?this.factor_conversion.factor_conversion:1;
            if(this.compuesto.id_producto!==""&&this.compuesto.id_producto!==undefined){
                this.compuestos.push(Object.assign(this.compuesto));
            }
            this.compuesto = {
                id_producto: "",
                producto: "",
                cantidad: 0,
            };
            this.factor= -1
            this.factores = []

            this.termProducto = "";
        },
        quitarCompuesto(item) {
            this.compuestos = this.compuestos.filter(
                (compuesto) => compuesto.id_producto !== item.id_producto
            );
        },
        searchProducto(searchTerm) {
            this.productos = new Promise((resolve) => {
                window.setTimeout(() => {
                    if (!searchTerm) {
                        resolve(this.productosList);
                    } else {
                        const term = searchTerm.toLowerCase();

                        resolve(
                            axios.post('/producto/show',{search:searchTerm,forPreset:true})
                                .then(response => {
                                    this.productos=response.data.data;
                                    return response.data.data.map((e)=>{
                                        return e.nombre;
                                    });
                                })
                        );
                    }
                }, 500);
            });
        },
        selectedProducto(selected) {
            this.compuesto.id_producto = selected.id;
            this.compuesto.producto = selected.nombre;
            this.termProducto = selected.nombre;

            Axios
                .get(
                    `${this.urlFactor
                    }/${selected.id}`
                )
                .then((result) => {
                    this.factores = result.data;
                });
        },
        actualizaComponentes() {
            this.$store.commit("setCompuestosProducto", this.compuestos);
            this.hideDialog();
        },
    },
};
</script>

<style scoped>
.clickable-icon {
    cursor: pointer;
}
</style>
