<template>
    <md-dialog :md-active="this.editProductos.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">
                Crear Productos</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input
                        label="Nombre"
                        class="mb-5"
                        v-model="productos.nombre"
                    />
                    <mdb-input
                        label="Codigo"
                        class="mb-5"
                        v-model="productos.codigo"
                    />
                    <mdb-input
                        label="Registro ISP"
                        class="mb-5"
                        v-model="productos.regISP"
                    />
                    <mdb-input
                        label="Precio Compra"
                        class="mb-5"
                        v-model="productos.precio_compra"
                    />
                    <mdb-input
                        label="Precio Distribucion"
                        class="mb-5"
                        v-model="productos.precio_distribucion"
                    />
                    <mdb-input
                        label="Ingrediente Activo"
                        class="mb-5"
                        v-model="productos.ing_activo"
                    />
                    <mdb-input
                        label="Marca"
                        class="mb-5"
                        v-model="productos.marca"
                    />
                    <md-field>
                        <label for="unidad_medida">Unidad Medida</label>
                        <md-select
                            v-model="productos.id_unidad_minima"
                            name="unidad_medida"
                            id="unidad_medida"
                            v-on:md-selected="unidadChange"
                        >
                            <md-option
                                v-bind:value="uMedida.id"
                                v-for="uMedida in this.unidadMedida"
                                :key="uMedida.nombre"
                                >{{ uMedida.nombre }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <br />
                     <md-field v-if="this.factorConversion.length>0">
                        <label for="factor_conversion"
                            >Factor de Conversión</label
                        >
                        <md-select
                            v-model="productos.id_factor_conversion"
                            name="factor_conversion"
                            id="factor_conversion "
                        >
                            <md-option
                                v-bind:value="fConversion.id"
                                v-for="fConversion in this.factorConversion"
                                :key="fConversion.descripcion"
                                >{{ fConversion.descripcion }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <md-switch
                        v-model="productos.maquinaria"
                        value="si"
                        @change="toggle"
                        >Maquinaria</md-switch
                    >
                    <br />
                    <mdb-input
                        type="textarea"
                        :rows="3"
                        label="Descripcion"
                        class="mb-5"
                        v-model="productos.descripcion"
                    />
                    <mdb-input
                        label="Ubicacion"
                        class="mb-5"
                        v-model="productos.ubicacion"
                    />
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
export default {
    name: "edit",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data() {
        return {
            productos: {
                id_unidad_minima: "",
                nombre: "",
                codigo: "",
                regISP: "",
                precio_compra: "",
                precio_distribucion: "",
                ing_activo: "",
                marca: "",
                caducidad: "",
                maquinaria: "no",
                descripcion: "",
                ubicacion: "",
                 factor_conversion: {
                     id: 0,
                     unidad_medida_origen: "",
                     unidad_medida_destino: "",
                     factor: 0,
                 },
                unidad_medida: {
                    id: 0,
                    nombre: "",
                    abreviatura: "",
                },
                id_factor_conversion: 0,
            },
            factorConversion: [],
            unidadMedida: [],
            route: "",
            updated: false,
        };
    },
    computed: {
        ...mapState(["editProductos"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape") {
                    this.closeModal();
                }
                if (e.key === "Enter") {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    async updated() {
        if (!this.updated) {
            this.updated = !this.updated;
            let _this = this;
            if (this.editProductos.show) {
                this.route = this.editProductos.payload.route;
                await axios
                    .get(this.route.create)
                    .then((response) => {
                        this.unidadMedida = response.data.data;
                    })
                    .then(() => {
                        this.productos = this.editProductos.payload.data;
                    });
            }
        }
    },
    methods: {
        closeModal() {
            this.$store.commit("hideEditProductos");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },
        unidadChange() {
            axios
                .get(
                    `${this.route.factor}?id_unidad_minima=${this.productos.id_unidad_minima}`
                )
                .then((response) => {
                    this.factorConversion = response.data.data;
                });
        },
        saveData() {
            axios
                .post(this.route.update, { ...this.productos })
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Creado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                })
                .catch((e) => {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Ha ocurrido un error",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
        },
        toggle(value) {
            this.productos.maquinaria = value || "no";
        },
    },
};
</script>

<style>

</style>
