<template>
    <div>
        <md-dialog :md-active="this.editPresets.show" @close="closeModal">
            <div class="modal-1 mh100">
                <mdb-modal-header v-bind:class="'text-center mh100'">
                    Crear Preset</mdb-modal-header
                >
                <mdb-modal-body class="mx-3 grey-text">
                    <md-dialog-content>
                        <mdb-input
                            label="Nombre"
                            class="mb-5"
                            v-model="preset.nombre"
                        />
                        <mdb-input
                            label="Codigo"
                            class="mb-5"
                            v-model="preset.codigo"
                        />
                        <mdb-input
                            label="Registro ISP"
                            class="mb-5"
                            v-model="preset.regISP"
                        />
                        <mdb-input
                            label="Precio Compra"
                            class="mb-5"
                            v-model="preset.precio_compra"
                        />
                        <mdb-input
                            label="Precio Distribucion"
                            class="mb-5"
                            v-model="preset.precio_distribucion"
                        />
                        <mdb-input
                            label="Ingrediente Activo"
                            class="mb-5"
                            v-model="preset.ing_activo"
                        />
                        <mdb-input
                            label="Marca"
                            class="mb-5"
                            v-model="preset.marca"
                        />
                        <mdb-input
                            label="Lote"
                            class="mb-5"
                            v-model="preset.lote"
                        />
                        <md-field>
                            <label for="unidad_medida">Unidad Medida</label>
                            <md-select
                                v-model="preset.id_unidad_minima"
                                name="unidad_medida"
                                id="unidad_medida"
                            >
                                <md-option
                                    v-bind:value="uMedida.id"
                                    v-for="uMedida in this.unidadMedida"
                                    :key="uMedida.nombre"
                                    >{{ uMedida.nombre }}</md-option
                                >
                            </md-select>
                        </md-field>
                        <br />
                        <div class="custom-control custom-switch">
                            <input
                                v-model="preset.perecible"
                                v-bind:value="preset.perecible"
                                type="checkbox"
                                class="custom-control-input"
                                id="perecible"
                            />
                            <label class="custom-control-label" for="perecible"
                                >Perecible</label
                            >
                        </div>
                        <br />
                        <mdb-input
                            type="date"
                            label="Caducidad"
                            class="mb-5"
                            v-if="preset.perecible"
                            v-model="preset.caducidad"
                        />

                        <mdb-input
                            type="textarea"
                            :rows="3"
                            label="Descripcion"
                            class="mb-5"
                            v-model="preset.descripcion"
                        />
                        <mdb-input
                            label="Ubicacion"
                            class="mb-5"
                            v-model="preset.ubicacion"
                        />
                        <mdb-modal-footer center>
                            <md-progress-spinner   v-if="compuestosProducto.length <= 0" md-mode="indeterminate"></md-progress-spinner>

                            <mdb-btn @click="abrirComponente"
                                     v-if="compuestosProducto.length > 0"
                                >Agregar Componente</mdb-btn
                            >
                            <mdb-btn
                                @click="saveData"
                                color="indigo"
                                v-if="compuestosProducto.length > 0"
                                >Guardar</mdb-btn
                            >
                        </mdb-modal-footer>
                    </md-dialog-content>
                </mdb-modal-body>
            </div>
        </md-dialog>
        <slot name="componente"></slot>
    </div>
</template>
<script>
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";

export default {
    name: "editPreset",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data() {
        return {
            preset: {
                id: 0,
                id_unidad_minima: "",
                nombre: "",
                codigo: "",
                regISP: "",
                precio_compra: "",
                precio_distribucion: "",
                ing_activo: "",
                marca: "",
                lote: "",
                caducidad: "",
                perecible: false,
                descripcion: "",
                ubicacion: "",
                unidad_medida: {
                    id: 0,
                    nombre: "",
                    abreviatura: "",
                },
                compuesto: 1,
                componentes: [],
            },
            unidadMedida: [],
            factorConversion: [],
            route: "",
            updated: false,
        };
    },
    computed: {
        ...mapState(["editPresets", "compuestosProducto"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape") {
                    this.closeModal();
                }
                if (e.key === "Enter") {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    async updated() {
        if (!this.updated) {
            this.updated = !this.updated;
            if (this.editPresets.show) {
                this.route = this.editPresets.payload.route;
                await axios.get(this.route.unidades).then((response) => {
                    this.unidadMedida = response.data.data;
                })
                this.preset = this.editPresets.payload.data

                axios.get(`${this.editPresets.payload.route.componentes}/${this.preset.id}`).then(response => {
                    this.$store.state.compuestosProducto = response.data.map(item => {
                        return {
                            id_producto: item.id_compuesto,
                            producto: item.compuesto.nombre,
                            cantidad: item.cantidad
                        }
                    })
                })
            }
        }
    },
    methods: {
        closeModal() {
            this.$store.commit("hideEditProductos");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },
        abrirComponente() {
            this.$store.commit("editComponentePreset");
        },
        saveData() {
            this.preset.componentes = this.compuestosProducto
            axios
                .post(this.route.update, { ...this.preset })
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Creado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                })
                .catch((e) => {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Ha ocurrido un error",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
        },
    },
};
</script>

<style>

</style>
