<template>
    <mdb-container>
        <mdb-accordion>
            <mdb-accordion-pane
                title="Productos"
                type="table"
                :isOpen="this.openPaneNum === 0"
                @pane-clicked="handlePaneOpened(0)"
            >
                <tableBody v-bind:data="this.tablaProducto">
                    <template v-slot:edit>
                        <edit></edit>
                    </template>
                    <template v-slot:create>
                        <create></create>
                    </template>
                </tableBody>
            </mdb-accordion-pane>
            <mdb-accordion-pane
                title="Presets"
                type="table"
                :isOpen="this.openPaneNum === 1"
                @pane-clicked="handlePaneOpened(1)"
            >
                <tableBody v-bind:data="this.tablaPresets">
                    <template v-slot:edit>
                        <edit-presets></edit-presets>
                    </template>
                    <template v-slot:create>
                        <create-presets>
                            <template v-slot:componente>
                                <componente-preset :productosList="productosList" :urlFactor="routeFactores"></componente-preset>
                            </template>
                        </create-presets>
                    </template>
                </tableBody>
            </mdb-accordion-pane>
        </mdb-accordion>
    </mdb-container>
</template>

<script>
import tableBody from "../misc/grid-editable";
import { mdbContainer, mdbAccordion, mdbAccordionPane } from "mdbvue";
import edit from "./edit";
import create from "./create";
import EditPresets from "./editPresets.vue";
import CreatePresets from "./createPresets.vue";
import ComponentePreset from "./componentePreset.vue";
export default {
    name: "index",
    props: ["routes", "productos", "presets", "permissions"],
    components: {
        mdbContainer,
        mdbAccordion,
        mdbAccordionPane,
        edit,
        tableBody,
        create,
        EditPresets,
        CreatePresets,
        ComponentePreset,
    },
    data() {
        let route = JSON.parse(this.routes);
        let permissions = JSON.parse(this.permissions);
        return {
            openPaneNum: 0,
            productosList: JSON.parse(this.productos),
            routeFactores: route.preset.factor,
            tablaProducto: {
                nombreTabla: "Productos",
                searchFields:true,
                columns: [
                    {
                        label: "Id",
                        field: "id",
                        sort: true,
                    },
                    {
                        label: "Unidad Minima",
                        field: "id_unidad_medida",
                        sort: true,
                    },
                    {
                        label: "Nombre",
                        field: "nombre",
                        sort: true,
                    },
                    {
                        label: "Codigo",
                        field: "codigo",
                        sort: true,
                    },
                    {
                        label: "Precio Compra",
                        field: "precio_compra",
                        sort: true,
                    },
                    {
                        label: "Precio Distribucion",
                        field: "precio_distribucion",
                        sort: true,
                    },
                    {
                        label: "Ingrediente Activo",
                        field: "ing_activo",
                        sort: true,
                    },
                    {
                        label: "Marca",
                        field: "marca",
                        sort: true,
                    },
                    {
                        label: "Maquinaria",
                        field: "maquinaria",
                        sort: true,
                    },
                    {
                        label: "Descripcion",
                        field: "descripcion",
                        sort: true,
                    },
                ],
                rows: JSON.parse(this.productos),
                routes: route.productos,
                showInfo: {
                    show: false,
                    method: "",
                    enable: false,
                },
                create: {
                    show: false,
                    method: "createProductos",
                    enable: permissions.producto.create,
                },
                edit: {
                    show: false,
                    method: "editProductos",
                    enable: permissions.producto.edit,
                },
                delete: {
                    enable: permissions.producto.delete,
                },
            },
            tablaPresets: {
                nombreTabla: "Presets ",
                columns: [
                    {
                        label: "Id",
                        field: "id",
                        sort: true,
                    },
                    {
                        label: "Unidad Minima",
                        field: "id_unidad_medida",
                        sort: true,
                    },
                    {
                        label: "Nombre",
                        field: "nombre",
                        sort: true,
                    },
                    {
                        label: "Codigo",
                        field: "codigo",
                        sort: true,
                    },
                    {
                        label: "Precio Compra",
                        field: "precio_compra",
                        sort: true,
                    },
                    {
                        label: "Precio Distribucion",
                        field: "precio_distribucion",
                        sort: true,
                    },
                    {
                        label: "Ingrediente Activo",
                        field: "ing_activo",
                        sort: true,
                    },
                    {
                        label: "Marca",
                        field: "marca",
                        sort: true,
                    },
                    {
                        label: "Maquinaria",
                        field: "maquinaria",
                        sort: true,
                    },
                    {
                        label: "Descripcion",
                        field: "descripcion",
                        sort: true,
                    },
                ],
                rows: JSON.parse(this.presets),
                routes: route.preset,
                showInfo: {
                    show: false,
                    method: "",
                    enable: false,
                },
                create: {
                    show: false,
                    method: "createPresets",
                    enable: permissions.preset.create,
                },
                edit: {
                    show: false,
                    method: "editPresets",
                    enable: permissions.preset.edit,
                },
                delete: {
                    enable: permissions.preset.delete,
                },
            },
        };
    },
    methods: {
        handlePaneOpened(num) {
            if (this.openPaneNum == num) {
                return (this.openPaneNum = null);
            }
            this.openPaneNum = num;
        },
    },
};
</script>

<style scoped>
</style>

