<template>
    <div class="container-fluid">
        <div v-if="data!=='undefined'">
            <navbar :config=JSON.parse(config) :data="JSON.parse(data)" />
        </div>
        <div v-if="data==='undefined'">
            <navbar :config=JSON.parse(config) :data='data' />
        </div>
    </div>
</template>

<script>
    import 'mdbvue/lib/mdbvue.css';
    import Navbar from "./components/home/navbar";
    export default {
        name: "App",
        props:["config","data"],
        components: {Navbar},
    }
</script>

<style scoped>

</style>
