<template>
    <mdb-navbar color="default" double dark ref="navbar">
        <mdb-navbar-brand href="http://www.fumival.cl">
            <img class="img-brand" :src="logo" height="30" alt="">
        </mdb-navbar-brand>
        <mdb-navbar-toggler  v-if="data!==undefined">
                <mdb-navbar-nav class="align-items-center">
                    <mdb-nav-item  href="/">Inicio</mdb-nav-item>
                <mdb-nav-item  v-for="menu in this.Menu" v-bind:href="menu.route" v-bind:key="menu.menuText" active>{{menu.menuText}}</mdb-nav-item>
            </mdb-navbar-nav>
            <mdb-navbar-nav right >
                <mdb-navbar-toggler>
                <push-notifications
                    ref="pushNotification"
                    @update-token="onUpdateToken"
                   />
                <mdb-popover :delayOnMouseOut="20" trigger="click"  :options="{placement: 'bottom'}" >
                    <span slot="header">
                            <md-icon>account_circle</md-icon> {{this.user.nombre}}

                    </span>
                    <span slot="body" >
                                <div class="text-center">
                                    <a  href="/fumival.apk">Descargar aplicacion</a>
                                </div>
                                <div class="text-center">
                                    <a   @click="Logout">Salir</a>
                                </div>
                            </span>
                    <md-button class="md-icon-button" slot="reference">
                        <md-icon color="white" >account_circle</md-icon>
                    </md-button>
                </mdb-popover>

                <mdb-popover :delayOnMouseOut="20" trigger="click"  :options="{placement: 'bottom'}" >
                    <span slot="header"><md-icon>settings</md-icon> Mantenedores</span>
                    <span slot="body" >
                                <ol class="text-center">
                                    <a class="dropdown-item" v-for="mantenedores in this.Mantenedores" v-bind:href="mantenedores.route"  v-bind:key="mantenedores.menuText" >{{mantenedores.menuText}}</a>
                                </ol>
                            </span>
                    <md-button class="md-icon-button" slot="reference">
                        <md-icon color="white" >settings</md-icon>
                    </md-button>
                </mdb-popover>
                </mdb-navbar-toggler>
            </mdb-navbar-nav>

        </mdb-navbar-toggler>

    </mdb-navbar>
</template>

<script>
    import pushNotifications from "./components/realtime/pushNotifications";
    import { mdbNavbar,mdbBtn,mdbIcon,mdbPopover, mdbNavbarBrand, mdbNavbarToggler, mdbNavbarNav, mdbNavItem, mdbDropdown, mdbDropdownMenu, mdbDropdownToggle, mdbInput, mdbDropdownItem } from 'mdbvue';
    import axios from "axios"
    import {mapActions} from "vuex";
    export default {
        name: "navbar",
        props:["config","data","logo"],
        components: {
            mdbNavbar,
            mdbPopover,
            mdbIcon,
            mdbBtn,
            mdbNavbarBrand,
            mdbNavbarToggler,
            mdbNavbarNav,
            mdbNavItem,
            mdbDropdown,
            mdbDropdownMenu,
            mdbDropdownToggle,
            mdbDropdownItem,
            mdbInput,
            pushNotifications
        },
        data() {
            return {
                Mantenedores:[],
                Menu: [],
                user: ''
            }
        },
        mounted() {
        let d = JSON.parse(this.data);
        if(d.menu!==null){
            localStorage.setItem('menu',JSON.stringify(d.menu));
        }else{
            if(localStorage.getItem('menu')!==null||localStorage.getItem('menu')!==undefined){
                d.menu=JSON.parse(localStorage.getItem('menu'));
            }else{
                this.Logout();
            }
        }

        this.user = d.user

        Object.values(d.menu).forEach(el=>{
            if(Object.keys(el)[0] ==="Mantenedores"){
                this.Mantenedores=el["Mantenedores"];
                return
            }
            this.Menu.push(el)

         });
        this.enableNotifications();
        },
        methods: {
            enableNotifications () {
                this.$refs.pushNotification.askForPermission()
            },
            ...mapActions(['onUpdateToken']),
            Register(){
               window.location.href= this.config.route_register;
            },
            Login(){
                window.location.href= this.config.route_login;
            },
            Logout(){
                let d = JSON.parse(this.data);
                axios.post( d.route_logout).then(()=>{
                    location.reload();
                });

            }
        }
    }
</script>
<style scoped>
    .navbar {
        font-weight: 300;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

    }
    .img-brand{
        max-width: 50%;
    }
</style>
