// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.navbar {
    font-weight: 300;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.img-brand{
    max-width: 50%;
}
.md-icon .md-icon-font .md-icon-image .md-file-icon .md-theme-default {
    display: none;
}
.md-menu-content {
    z-index: 11!important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: -webkit-fill-available !important;
}
.md-dialog .md-dialog-container {
    max-width: -webkit-fill-available!important;
    background-color: white;
    max-height: 100%;
}
.md-dialog-container {
    margin-top: 0!important;
    max-height: 100% !important;
}


.bordered{
    border: solid grey 2px;
    border-radius: 10px;
}
.event-edit-modal{
    min-width: fit-content !important;
}
.flex-space-arround{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.md-dialog{
    z-index: 10!important;
}
.flex-auto{
    flex:auto;

}
.modal-body{
    padding: 0px!important;

}

.modal-1 {
    z-index: 3;
    background-color: white;
    max-height: 100%;
    min-width: 500px;
    border-radius: 0.125rem;
}
.mh100 {
    max-height: 100% !important;
    overflow: auto;
}
.md-list-item {
    max-width: -webkit-fill-available !important;
}
.py-4{
    min-height: -webkit-fill-available;
}
.md-dialog .div.md-dialog-container {
    max-width: fit-content;
}
@media (max-width: 500px) {
    .modal-1 {
        margin: 0;
        min-width: 100%;
    }
}
@media all and (display-mode: fullscreen) {
    .navbar {
        display: none!important;
    }
}
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.full-height {
    height: fit-content;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
#errores{
    display: block;
}
.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
ul{
    min-width: -webkit-fit-content;
    min-height: -webkit-fit-content;
}


@import "../../node_modules/vue-material/dist/theme/default.css";
@import "../../node_modules/vue-material/dist/vue-material.min.css";
