<template>
    <md-dialog :md-active="this.createTipoTratamiento.show"  @close="closeModal" >
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'"> Crear tipo de tratamiento</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input label="Nombre" class="mb-5" v-model="tipo_tratamiento.nombre"/>
                    <mdb-input label="Abreviatura" class="mb-5" v-model="tipo_tratamiento.abreviatura"/>
                    <mdb-input lines="2" type="textarea" label="Comentario Fijo" class="mb-5" v-model="tipo_tratamiento.comentario_fijo"/>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo">Guardar</mdb-btn>
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
    import { mdbContainer, mdbTextarea, mdbIcon, mdbBtn, mdbModal, mdbModalHeader, mdbModalBody, mdbInput, mdbModalFooter } from 'mdbvue';
    import {mapState} from 'vuex';
    import axios from 'axios';
    import Swal from 'sweetalert2';
    export default {
        name: 'create',
        components: {
            mdbContainer,
            mdbBtn,
            mdbModal,
            mdbModalHeader,
            mdbModalBody,
            mdbInput,
            mdbModalFooter,
            mdbTextarea,
            mdbIcon
        },
        data() {
            return {
                tipo_tratamiento:{
                    nombre:"",
                    abreviatura:"",
                    comentario_fijo:""
                },
                route:"",
                updated:false
            }
        },
        computed:{
            ...mapState(["createTipoTratamiento"]),
        },created() {
            window.addEventListener('keydown', (e) => {
                if(e.key ==="Escape"&&this.createTipoTratamiento.show){

                    this.closeModal();
                }
                if(e.key ==="Enter"&&this.createTipoTratamiento.show){
                    this.saveData();
                }
            }, {passive: true});
        },
        updated() {
            if(!this.updated){
                this.updated=!this.updated;
                if(this.createTipoTratamiento.show){
                    this.route = this.createTipoTratamiento.payload.route;
                }
            }
        },
        methods:{
            closeModal(){
                this.$store.commit("hideCreateTipoTratamiento");
            },
            saveData(){

                axios.post(this.route.store,this.tipo_tratamiento).then(response => {
                    if(response.status===200) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Ha sido Creado Correctamente',
                            showConfirmButton: false,
                            timer: 2000
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    }else{
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Algo ha salido mal',
                            text: 'Faltan campos requeridos o los datos ya existen',
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                });
            }
        }
    }
</script>

<style>
</style>
