<template>
    <md-dialog :md-active="this.MedioPago.show"  @close="closeModal" >
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'"> Crear tipo de tratamiento</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input label="Medio de pago" class="mb-5" v-model="medio_pago.medio"/>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo">Guardar</mdb-btn>
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
    import { mdbContainer, mdbTextarea, mdbIcon, mdbBtn, mdbModal, mdbModalHeader, mdbModalBody, mdbInput, mdbModalFooter } from 'mdbvue';
    import {mapState} from 'vuex';
    import axios from 'axios';
    import Swal from 'sweetalert2';
    export default {
        name: 'create',
        components: {
            mdbContainer,
            mdbBtn,
            mdbModal,
            mdbModalHeader,
            mdbModalBody,
            mdbInput,
            mdbModalFooter,
            mdbTextarea,
            mdbIcon
        },
        data() {
            return {
                medio_pago:{
                    medio:""
                },
            }
        },
        computed:{
            ...mapState(["MedioPago"]),
            route:{
                get(){
                    return this.MedioPago.payload.route;
                }
            }
        },watch:{
            MedioPago:{
                handler(){
                    if(this.MedioPago.payload.data!==undefined){
                        this.medio_pago=Object.assign({},this.MedioPago.payload.data);
                    }
                },deep:true
            }
        },
        created() {
            window.addEventListener('keydown', (e) => {
                if(e.key ==="Escape"&&this.createTipoTratamiento.show){

                    this.closeModal();
                }
                if(e.key ==="Enter"&&this.createTipoTratamiento.show){
                    this.saveData();
                }
            }, {passive: true});
        },
        methods:{
            closeModal(){
                this.$store.commit("hideMedioPago");
            },
            saveData(){

                axios.post(this.medio_pago.id!==undefined?this.route.update:this.route.store,this.medio_pago).then(response => {
                    if(response.status===200) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Ha sido Creado Correctamente',
                            showConfirmButton: false,
                            timer: 2000
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    }else{
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Algo ha salido mal',
                            text: 'Faltan campos requeridos o los datos ya existen',
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                }).catch((e) => {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Ha ocurrido un error",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
            }
        }
    }
</script>

<style>
</style>
