<template>
    <mdb-container>
        <tableBody v-bind:data='this.data' >
            <template v-slot:create >
                <create></create>
            </template>
        </tableBody>
    </mdb-container>
</template>

<script>
    import tableBody from '../../misc/grid-editable';
    import {mdbContainer} from 'mdbvue';
    import create from './create'
    export default {
        name: "index",
        props:["routes","medio_pago", "permissions"],
        components:{
            mdbContainer,
            tableBody,
            create
        },
        data() {

            let permisos = JSON.parse(this.permissions);

            return {
                data: {
                    nombreTabla:"Medios de Pago",
                    columns:  [
                        {
                            label: 'Id',
                            field: 'id',
                            sort: true
                        },
                        {
                            label: 'Medio',
                            field: 'medio',
                            sort: true
                        },
                    ],
                    rows:JSON.parse(this.medio_pago),
                    routes:JSON.parse(this.routes),
                    showInfo:{
                        show:false,
                        method:"",
                    },
                    create:{
                        show:false,
                        method:'createMedioPago',
                        enable: permisos.create
                    },
                    edit:{
                        show:false,
                        method:'createMedioPago',
                        enable: permisos.edit
                    },
                    delete: {
                        enable: permisos.delete
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
