<template>
           <md-list class="md-triple-line" style="min-width: -webkit-fill-available;">
              <md-list-item>
                  <md-avatar class="md-large mr-0">
                     <md-icon size="md" class="md-primary" round >event_available</md-icon>
                  </md-avatar>
                <div class="md-list-item-text">
                  <span>{{item.notification.title}}</span>
                  <span>{{item.notification.body}}</span>
                </div>
                  <div class="md-list">
                      <div class="md-list-item">
                          <md-button class="md-icon-button md-list-action ml-0" @click="done(item.data['gcm.notification.id'])">
                              <md-icon class="md-primary">done_all</md-icon>
                          </md-button>
                      </div>
                      <div class="md-list-item" v-if="item.notification.click_action!==''">
                          <md-button class="md-icon-button md-list-action ml-0" @click="view(item)">
                            <md-icon class="md-primary">visibility</md-icon>
                          </md-button>
                      </div>
                  </div>
              </md-list-item>
           </md-list>
</template>

<script>

export default {
    props:{
      item:{
          type: Object,
          required:true,
      },
        done:{
          type: Function,
            required: true
        }
    },
    name: "notification",
    methods:{
        view(item){
            if(item.notification.click_action!==''){
                window.open(item.notification.click_action, '_blank').focus();
            }
        }
    }
}
</script>

<style scoped>

</style>
