<template>
    <mdb-popover :max-width="600"  dismissible :delayOnMouseOut="20" trigger="click"  :options="{placement: 'bottom'}" :disabled="this.isLoading" :key="notifications.length" >
        <span slot="header"><md-icon>notifications</md-icon> Notificaciones</span>
        <span slot="body" >
            <md-content class="md-scrollbar overflow-auto" style="max-height: 250px;!important">
                 <Notification v-for="(item,index) in notifications" :done="done" :item="item" :key="index" />
            </md-content>
            <div class="align-items-center">
                <a @click="getNotifications('all')">Mostrar todo</a>
            </div>
        </span>
        <div slot="reference" >
            <md-badge v-if="notifications.length>0" :md-content="notifications.length" >
                <md-button class="md-icon-button">
                    <md-icon>notifications</md-icon>
                </md-button>
            </md-badge>
            <md-button v-else class="md-icon-button">
                <md-icon>notifications</md-icon>
            </md-button>
        </div>

    </mdb-popover>
</template>

<script>
import messaging from './firebase';
import Vue from 'vue';
import {mdbDropdownItem,mdbPopover} from 'mdbvue'
import Notification from "./notification";
import axios from 'axios';
const currentToken=Vue.prototype.$firebaseServerKey;
export default {
    name:'pushNotification',
    components: {
        Notification,
        mdbDropdownItem,
        mdbPopover
    },
    data () {
        return {
            hasServiceWorker: false,
            notifications:[],
            message:undefined,
            isLoading:false,
        }
    },
    mounted () {
        this.initialize();
        this.getNotifications(5);
    },
    methods: {
        done(id){
            this.notifications=this.notifications.filter(n=>n.data["gcm.notification.id"]!==id);
            axios.delete("/user/notifications/"+id);
        },
        getNotifications(quantity){
            this.isLoading=true;
            axios.get('/user/notifications/'+quantity).then((resp)=>{
               this.notifications=resp.data.data.map((el)=>{
                   return {
                       data:{
                           ...el.notification.data,
                           "gcm.notification.id":el.id
                       },
                       notification:el.notification.notification,
                       to:el.notification.to
                   }
               });
                    this.isLoading=false;
            }).catch((err)=>{
                    this.isLoading=false;
            });
        },
        initialize () {
            if (!('serviceWorker' in navigator)) {
                console.warn('serviceWorker not working')
                return
            }
            if (!('PushManager' in window)) {
                console.warn('PushManager not working')
                return
            }
            this.hasServiceWorker = true
        },
        async askForPermission () {
            this.initialize();
            if (!this.hasServiceWorker) {
                return;
            }
            navigator.serviceWorker.register('/static/firebase-messaging-sw.js')
                .then((registration) => {
                    messaging.messaging.useServiceWorker(registration);
                    messaging.messaging.requestPermission().then(() => {
                            messaging.messaging.getToken().then((token) => {
                                if (token !== this.currentToken) {
                                    this.$emit('update-token', token)
                                }
                            }).catch((err) => console.log('--- token error:', err))
                    }).catch(function (err) {
                        console.log('Unable to get permission to notify.', err)
                    })

                }).catch(err => {
                console.log('error register', err)
            });
            await messaging.messaging.onMessage((result) => {
                this.notifications.unshift(result);
            });
        },
        cancelNotifications(){
            navigator.serviceWorker.ready.then(function(reg) {
                reg.pushManager.getSubscription().then(function(subscription) {
                    subscription.unsubscribe().then(function(successful) {
                        console.log("No tine permisos y fue desuscrito a notificaciones")
                    }).catch(function(e) {
                        console.log("no se pudo desuscribir")
                    })
                })
            });
        }
    }
}
</script>

