<template>
    <md-dialog :md-active="this.createPerfil.show"  @close="closeModal" >
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'"> Crear Rol</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input label="Nombre del perfil" class="mb-5" v-model="profile.role_name"/>
                    <mdb-input label="Nombre unico del perfil" v-model="profile.slug" class="mb-5"/>
                    <div class="custom-control custom-switch"  v-for="permission in profile.permissions">
                        <md-switch v-model="permission.allowed" class="md-primary" v-bind:id="permission.descripcion" >{{permission.descripcion}}</md-switch>
                    </div>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo">Guardar</mdb-btn>
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
    import { mdbContainer, mdbTextarea, mdbIcon, mdbBtn, mdbModal, mdbModalHeader, mdbModalBody, mdbInput, mdbModalFooter } from 'mdbvue';
    import {mapState} from 'vuex';
    import axios from 'axios';
    import Swal from 'sweetalert2';
    export default {
        name: 'create',
        components: {
            mdbContainer,
            mdbBtn,
            mdbModal,
            mdbModalHeader,
            mdbModalBody,
            mdbInput,
            mdbModalFooter,
            mdbTextarea,
            mdbIcon
        },
        data() {
            return {
                profile:{
                    role_name:"",
                    slug:"",
                    id:0,
                    permissions:{},
                },
                route:"",
                updated:false
            }
        },
        computed:{
            ...mapState(["createPerfil"]),
        },created() {
            window.addEventListener('keydown', (e) => {
                if(e.key ==="Escape"){
                    this.closeModal();
                }
                if(e.key ==="Enter"){
                    this.saveData();
                }
            }, {passive: true});
        },
        updated() {
            if(!this.updated){
                this.updated=!this.updated;
                    if(this.createPerfil.show){
                        this.route = this.createPerfil.payload.route;
                        axios.get(this.route.create).then(response => {
                            this.profile = {permissions: response.data,role_name:"",slug:"",id:0};
                        });
                    }
            }
        },
        methods:{
            closeModal(){
                this.$store.commit("hideCreatePerfil");
            },
            saveData(){

                axios.post(this.route.store,this.profile).then(response => {
                    if(response.status===200) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Ha sido Creado Correctamente',
                            showConfirmButton: false,
                            timer: 2000
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    }
                });
            }
        }
    }
</script>

<style>
</style>
