<template>
    <md-dialog :md-active="this.editPerfil.show"  @close="closeModal" >
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">Editar Rol {{profile.role_name}}</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input  label="Nombre del perfil" class="mb-5" v-model="profile.role_name"/>
                    <mdb-input label="Nombre unico del perfil" v-model="profile.slug" class="mb-5"/>
                    <div class="custom-control custom-switch"  v-for="permission in profile.permissions">
                        <md-switch v-model="permission.allowed" class="md-primary" v-bind:id="permission.descripcion" >{{permission.descripcion}}</md-switch>
                    </div>
                    <mdb-modal-footer center>
                        <mdb-btn v-on:click="saveData" color="indigo">Guardar</mdb-btn>
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>

<script>
    import { mdbContainer, mdbTextarea, mdbIcon, mdbBtn, mdbModal, mdbModalHeader, mdbModalBody, mdbInput, mdbModalFooter } from 'mdbvue';
    import {mapState} from 'vuex';
    import Swal from 'sweetalert2';
    import axios from 'axios';
    export default {
        name: 'edit',
        components: {
            mdbContainer,
            mdbBtn,
            mdbModal,
            mdbModalHeader,
            mdbModalBody,
            mdbInput,
            mdbModalFooter,
            mdbTextarea,
            mdbIcon
        },
        data() {
            return {
                profile:{
                    role_name:"",
                    slug:"",
                    id:0,
                    permissions:{},
                },
                route:"",
                updated:false
            }
        }, backup:{},
        computed:{
            ...mapState(["editPerfil"]),
        },
        created() {
            window.addEventListener('keydown', (e) => {
                if(e.key ==="Escape"){
                    this.closeModal();

                }
                if(e.key ==="Enter"){
                    this.saveData();
                }
            }, {passive: true});
        },
        updated() {
            if(this.editPerfil.show){
                this.$options.backup=Object.assign(this.$options.backup,this.editPerfil.payload.data);
                this.profile = this.editPerfil.payload.data;
                this.route = this.editPerfil.payload.route;
            }
        },
        methods:{
            closeModal(){
                if(this.editPerfil.show){
                    Object.assign(this.editPerfil.payload.data,this.$options.backup);
                    this.editPerfil.payload.data=this.$options.backup;
                    this.$store.commit("hideEditPerfil");
                    setTimeout( ()=> { window.location.reload();},100)
                }

            },
            saveData(){
                axios.post(this.route.update,this.profile).then(response => {
                    if(response.status===200){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Ha sido actualizado Correctamente',
                            showConfirmButton: false,
                            timer: 2000
                        });
                        setTimeout( ()=> { window.location.reload();},700)
                    }
                }).catch(error => {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Ha Ocurrido un error',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                });
            }
        }
    }
</script>

<style>

</style>
