<template>
<mdb-container>
    <tableBody v-bind:data='this.data' >
        <template v-slot:edit >
            <edit></edit>
        </template>
        <template v-slot:create >
            <create></create>
        </template>
    </tableBody>
</mdb-container>
</template>

<script>
    import tableBody from '../misc/grid-editable';
    import {mdbContainer} from 'mdbvue';
    import edit from './edit';
    import create from './create'
    export default {
        name: "index",
        props:["routes","roles", "permissions"],
        components:{
          mdbContainer,
            edit,
            tableBody,
            create
        },
        data() {
            let permissions = JSON.parse(this.permissions)
            return {
                data: {
                    nombreTabla:"Roles",
                    columns:  [
                        {
                            label: 'Id',
                            field: 'id',
                            sort: true
                        },
                        {
                            label: 'Nombre',
                            field: 'role_name',
                            sort: true
                        },
                        {
                            label: 'Nombre Unico',
                            field: 'slug',
                            sort: true
                        },
                    ],
                    rows:JSON.parse(this.roles),
                    routes:JSON.parse(this.routes),
                    showInfo:{
                        show:false,
                        method:"",
                        enable: false
                    },
                    create:{
                        show:false,
                        method:'createPerfil',
                        enable: permissions.create
                    },
                    edit:{
                        show:false,
                        method:'editPerfil',
                        enable: permissions.edit
                    },
                    delete:{
                        enable: permissions.delete
                    }
                }
            }
        },
    }
</script>

<style scoped>

</style>
