<template>
    <div class="calendar-date-selector inline-block text-center">
        <mdb-btn @click="selectPrevious"><</mdb-btn>
        <mdb-btn @click="selectCurrent">Hoy</mdb-btn>
        <mdb-btn @click="selectNext">></mdb-btn>

    </div>
</template>

<script>
//import dayjs from "dayjs";
import {mdbBtn} from 'mdbvue'
export default {
    name: "CalendarModeSelector",
    components:{
        mdbBtn
    },
    props: {
        currentDate: {
            type: String,
            required: true,
        },

        selectedDate: {
            type: Object,
            required: true,
        },
    },

    methods: {
        selectPrevious() {
            let newSelectedDate = dayjs(this.selectedDate).subtract(1, "month");
            this.$emit("dateSelected", newSelectedDate);
        },

        selectCurrent() {
            let newSelectedDate = dayjs(this.currentDate);
            this.$emit("dateSelected", newSelectedDate);
        },

        selectNext() {
            let newSelectedDate = dayjs(this.selectedDate).add(1, "month");
            this.$emit("dateSelected", newSelectedDate);
        },
    },

};
</script>

<style scoped>
.calendar-date-selector {
    justify-content: space-between;
    color: var(--grey-800);
}

.calendar-date-selector > * {
    cursor: pointer;
    user-select: none;
}
</style>
