<template>
    <div class="calendar-month" >
        <div class="calendar-month-header">
            <CalendarDateIndicator
                :selected-date="selectedDate"
                class="calendar-month-header-selected-month"
            />
            <CalendarDateSelector
                :current-date="today"
                :selected-date="selectedDate"
                @dateSelected="selectDate"
            />
        </div>
        <ol class="days-grid">

                <li class="day-of-week" v-for="weekday in weekdays" :key="weekday">{{ weekday }}</li>
            <CalendarMonthDayItem
                @dblclick="clickDate(day)"
                v-for="day in days"
                :key="day.date"
                :day="day"
                ref="calendarItem"
                :is-today="day.date === today"
            >
                <template v-slot:event   >

                <event-day :events="events" :day="day" v-on="$listeners" />

                </template>
            </CalendarMonthDayItem>

        </ol>
    </div>
</template>

<script>
import dayjs from "dayjs";
import weekday from "dayjs/plugin/weekday";
import weekOfYear from "dayjs/plugin/weekOfYear";
import esUs from 'dayjs/locale/es-us';
import CalendarMonthDayItem from "./CalendarMonthDayItem";
import CalendarDateIndicator from "./CalendarDateIndicator";
import CalendarDateSelector from "./CalendarDateSelector";
import Draggable from "vuedraggable";
import eventDay from "./eventDay";
const WEEKDAYS = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"];
dayjs.extend(weekday);
dayjs.extend(weekOfYear);
dayjs.locale(esUs);

export default {
    name: "CalendarMonth",
    components: {
        eventDay,
        CalendarMonthDayItem,
        CalendarDateIndicator,
        CalendarDateSelector,
        Draggable
    },
    props:{
        events:{
            type:Array,
            default:[]
        }
    },
    data() {
        return {
            selectedDate: dayjs()
        };
    },

    computed: {
        eventDay:{
            get(){
              return this.events;
            },
            set(val){
                this.$emit('add-event',val);
            }
        },
        days() {
            return [
                ...this.previousMonthDays,
                ...this.currentMonthDays,
                ...this.nextMonthDays
            ];
        },
        weekdays() {
            return WEEKDAYS;
        },
        today() {
            return dayjs().format("YYYY-MM-DD");
        },

        month() {
            return Number(this.selectedDate.format("M"));
        },

        year() {
            return Number(this.selectedDate.format("YYYY"));
        },

        numberOfDaysInMonth() {
            return dayjs(this.selectedDate).daysInMonth();
        },

        currentMonthDays() {
            return [...Array(this.numberOfDaysInMonth)].map((day, index) => {
                return {
                    date: dayjs(`${this.year}-${this.month}-${index + 1}`).format(
                        "YYYY-MM-DD"
                    ),
                    isCurrentMonth: true
                };
            });
        },

        previousMonthDays() {
            const firstDayOfTheMonthWeekday = this.getWeekday(
                this.currentMonthDays[0].date
            );
            const previousMonth = dayjs(`${this.year}-${this.month}-01`).subtract(
                1,
                "month"
            );

            const visibleNumberOfDaysFromPreviousMonth = firstDayOfTheMonthWeekday
                ? firstDayOfTheMonthWeekday - 1
                : 6;

            const previousMonthLastMondayDayOfMonth = dayjs(
                this.currentMonthDays[0].date
            )
                .subtract(visibleNumberOfDaysFromPreviousMonth, "day")
                .date();

            return [...Array(visibleNumberOfDaysFromPreviousMonth)].map(
                (day, index) => {
                    return {
                        date: dayjs(
                            `${previousMonth.year()}-${previousMonth.month() +
                            1}-${previousMonthLastMondayDayOfMonth + index}`
                        ).format("YYYY-MM-DD"),
                        isCurrentMonth: false
                    };
                }
            );
        },

        nextMonthDays() {
            const lastDayOfTheMonthWeekday = this.getWeekday(
                `${this.year}-${this.month}-${this.currentMonthDays.length}`
            );

            const nextMonth = dayjs(`${this.year}-${this.month}-01`).add(1, "month");

            const visibleNumberOfDaysFromNextMonth = lastDayOfTheMonthWeekday
                ? 7 - lastDayOfTheMonthWeekday
                : lastDayOfTheMonthWeekday;

            return [...Array(visibleNumberOfDaysFromNextMonth)].map((day, index) => {
                return {
                    date: dayjs(
                        `${nextMonth.year()}-${nextMonth.month() + 1}-${index + 1}`
                    ).format("YYYY-MM-DD"),
                    isCurrentMonth: false
                };
            });
        }
    },

    methods: {
        log(el){

        },
        getWeekday(date) {
            return dayjs(date).weekday();
        },

        selectDate(newSelectedDate) {
            this.selectedDate = newSelectedDate;
        },
        clickDate(val){
            this.$refs.calendarItem.filter((el)=>el.day.date===val.date)[0].$el.classList.add('selected')
            this.$refs.calendarItem.filter((el)=>el.day.date!==val.date).forEach((sq)=>sq.$el.classList.remove('selected'))

           this.$emit('click-date',val);
        },
    }
};
</script>

<style scoped>
.calendar-month {
    position: relative;
    background-color: var(--grey-200);
    border: solid 1px var(--grey-300);
}

.day-of-week {
    color: var(--grey-800);
    font-size: 18px;
    background-color: #fff;
    padding-bottom: 5px;
    padding-top: 10px;
}

.day-of-week,
.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-of-week > * {
    text-align: right;
    padding-right: 5px;
}

.days-grid {
    height: 100%;
    position: relative;
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
    border-top: solid 1px var(--grey-200);
}
.day-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-of-week > * {
    text-align: right;
    padding-right: 5px;
}
</style>
