<template>
    <li
        class="calendar-day no-copy"
        :class="{
          'calendar-day--not-current': !day.isCurrentMonth,
          'calendar-day--today': isToday
        }"
        @dblclick="()=>this.$emit('dblclick')"
    >
        <span class="day-position">{{ label.format("D") }}</span>
        <div class="d-inline-block" style="min-width: available; min-height:available">
            <slot name="event"  >

            </slot>
        </div>

    </li>
</template>

<script>

//import dayjs from "dayjs";
//import esUs from 'dayjs/locale/es-us';
//dayjs.locale(esUs);
export default {
    name: "CalendarMonthDayItem",
    props: {
        day: {
            type: Object,
            required: true
        },

        isCurrentMonth: {
            type: Boolean,
            default: false
        },

        isToday: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        label(){
            return dayjs(this.day.date);
        },

    }
};
</script>

<style scoped>
.calendar-day {
    position: relative;
    min-height: 100px;
    font-size: 16px;
    background-color: #fff;
    color: var(--grey-800);
    padding: 5px;
}
.selected{
    background-color:var(--primary);
}
.calendar-day > span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2px;
    width: var(--day-label-size);
    height: var(--day-label-size);
    cursor: pointer;
}

.calendar-day--not-current {
    background-color: var(--grey-100);
    color: var(--grey-300);
}

.calendar-day--today {
    padding-top: 4px;
}
.day-position{
    position:unset !important;
    margin-left: auto;
}
.calendar-day--today > span {
    color: #fff;
    border-radius: 9999px;
    background-color: var(--primary);
}
.no-copy {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
</style>
