<template >
    <Draggable  group="user" style="background-color: transparent;" class="" :list="events" tag="div" ghost-class="move-item"  @change="logUser" >
        <Draggable  group="client" style="background-color: transparent;" class="" :list="events" tag="div" ghost-class="move-item"  @change="logClient" >
       <mdb-container v-for="event in events" v-if="event.horario.fecha===day.date" :key="events.id">
            <mdb-popover :delayOnMouseOut="20" trigger="hover"  :options="{placement: 'right'}" :ref="event.id">
                <span slot="header">{{event.horario.hora_inicio}} - {{event.horario.hora_fin}}</span>
                <span slot="body" >
                                <ol class="inline-block display-grid">
                                 <li> <mdb-icon icon="user-circle" /> {{event.cliente.nombre}}</li>
                                 <li><mdb-icon icon="car-side" /> {{event.user.nombre}}</li>
                                <li><mdb-icon icon="home" /> {{event.inmueble.direccion}}</li>
                                <li><mdb-icon icon="building" /> {{event.cliente.nombre_fantasia}}</li>
                                <li><mdb-icon icon="clipboard-list" /> {{event.motivo_visita.motivo}}</li>
                                <li><mdb-icon icon="clipboard-check" /> {{event.estado_ruta.estado}}</li>
                                </ol>
                                <div class="text-center">
                                    <mdb-btn size="sm"  @click="editEvent(event)">Editar</mdb-btn>
                                </div>
                            </span>
                <md-chip md-deletable @md-delete="deleteEvent(event.id)" slot="reference" :class="color(event.user)===''?'md-primary':''"
                         :style="'background-color:'+color(event.cliente)+'!important; color: white;'" ><mdb-icon icon="user-circle" />
                    {{event.cliente.nombre.length>25?event.cliente.nombre.substr(0,25)+'...':event.cliente.nombre}}
                </md-chip>
            </mdb-popover>
        </mdb-container>
        <mdb-container style="min-width: 50px;min-height: 50px">

        </mdb-container>
    </Draggable>
    </Draggable>
</template>

<script>
import VueMaterial from "vue-material";
import Draggable from "vuedraggable";
Vue.use(VueMaterial);
import {mdbPopover,mdbContainer,mdbIcon,mdbBtn} from 'mdbvue';
export default {
    props:{
        events:{
            type:Array,
            default:[]
        },
        day:{
            type:Object,
            default:{}
        }
    },
    components:{
        Draggable,
        mdbPopover,
        mdbContainer,
        mdbIcon,
        mdbBtn
    },
    name: "eventDay",
    data(){
        return {
            eventDefault: {
                id: undefined,
                estado_ruta: {
                    id: 1,
                    estado: "Vigente",
                },
                horario: {
                    fecha: undefined
                },
                user:{
                    id:undefined,
                    nombre:undefined,
                    rut:undefined,
                    email:undefined,
                },
                cliente: {},
                id_cliente: undefined,
                id_estado: undefined,
                id_inmueble: undefined,
                id_motivo_visita: undefined,
                id_usuario: undefined,
                horario_inicio: undefined,
                horario_fin: undefined,
                inmueble: {
                    id: undefined,
                    ciudad: undefined,
                    direccion: undefined,
                    id_propetario: undefined,
                    latitude: undefined,
                    longitude: undefined,
                    nombre: undefined,
                    propietario: {
                        id: undefined,
                        nombre: undefined,
                        nombre_fantasia: undefined,
                        rut: undefined,
                        direccion_principal: undefined,
                        ciudad: undefined,
                        fono: undefined,
                        email: undefined,
                    }
                }
            }
        }
    },
    methods:{
        editEvent(ev){
            this.$refs[ev.id][0].doClose();
            this.$emit('edit-event',ev);
        },
        deleteEvent(ev){
          this.$emit("delete-event",ev);
        },
        logClient(g){
            let ev=Object.assign({},this.eventDefault);
            if(g.added!==undefined){
                ev.horario.fecha=this.day.date;
                if(g.added.element.cliente!==undefined){
                    Object.keys(g.added.element).forEach((el)=>{
                        if(el!=='horario') {
                            ev[el] = g.added.element[el];
                        }else{
                            ev["horario"]=g.added.element["horario"];
                            ev["horario"].fecha=this.day.date;

                        }
                    })
                }else{
                    //ev.cliente=g.added.element;
                    ev.inmueble.propietario=g.added.element;
                    //ev.id_cliente=g.added.element.id;
                }
                this.$emit('edit-event',ev);
            }

        },
        logUser(g){
            let ev=Object.assign({},this.eventDefault);
            if(g.added!==undefined){
                if(g.added.element.user!==undefined){
                    Object.keys(g.added.element).forEach((el)=>{
                        if(el!=='horario'){
                            ev[el]=g.added.element[el];
                        }else{
                            ev["horario"]=g.added.element["horario"]
                            ev["horario"].fecha=this.day.date;
                        }

                    })
                }else{
                    ev.user=g.added.element;
                    ev.horario.fecha=this.day.date;
                    ev.id_usuario=g.added.element.id
                }
                this.$emit('edit-event',ev);
            }

        },
        color(cliente){
            try{
                return cliente.tipo_cliente!==null
                && cliente.tipo_cliente!==undefined?cliente.tipo_cliente.color!==null?`${cliente.tipo_cliente.color}` :'':'';
            }catch (e) {
                return '';
            }
        },
    }
}
</script>

<style scoped>

</style>
