<template>
    <CalendarMonth  v-on="$listeners"  :events="ev" @click-date="(val)=>{this.$emit('click-date',val)}" class="calendar body-calendar"/>
</template>

<script>
import CalendarMonth from "./CalendarMonth";

export default {
    name: "index",
    props:{
        events:{
            type:Array,
            default:[]
        }
    },
    computed:{
        ev:{
            get(){
                return this.events;
            }
        }
    },
    components: {
        CalendarMonth
    },
};
</script>

<style>
.calendar {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.body-calendar {
    font-family: sans-serif;
    font-weight: 100;
    --grey-100: #e4e9f0;
    --grey-200: #cfd7e3;
    --grey-300: #b5c0cd;
    --grey-800: #3e4e63;
    --grid-gap: 1px;
    --day-label-size: 20px;
}

ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.calendar-month-header {
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
}
</style>

