<template>
    <md-dialog :md-active="this.editEmpresa.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">Editar Empresa</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input
                        label="Nombre"
                        class="mb-5"
                        v-model="empresa.nombre"
                    />
                    <mdb-input label="Rut" class="mb-5" v-model="empresa.rut" />
                    <mdb-input
                        label="Direccion"
                        class="mb-5"
                        v-model="empresa.direccion"
                    />
                    <mdb-input label="Representante legal" class="mb-5" v-model="empresa.repLegal"/>
                    <mdb-input label="Rut representante legal" class="mb-5" v-model="empresa.rutRepLegal"/>
                    <mdb-input
                        label="Correo"
                        type="email"
                        class="mb-5"
                        v-model="empresa.correo"
                    />
                    <mdb-input
                        label="Telefono"
                        class="mb-5"
                        v-model="empresa.fono"
                    />
                    <mdb-input label="Celular" class="mb-5" v-model="empresa.celular"/>
                    <md-field class="mb-5">
                        <label>Logo</label>
                        <mdbFileUpload
                            accept="image/*"
                            ref="inputFile"
                            v-on:md-change="handleChange"
                        />
                    </md-field>
                    <mdb-input
                        label="Pagin Web"
                        class="mb-5"
                        v-model="empresa.pagina_web"
                    />
                    <mdb-input
                        label="Otros datos"
                        type="textarea"
                        class="mb-5"
                        outline :rows="3"
                        v-model="empresa.otros"
                    />
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import mdbFileUpload from '../../misc/MdFile'
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
export default {
    name: "edit",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
        mdbFileUpload
    },
    data() {
        return {
            empresa: {
                nombre:"",
                repLegal:"",
                rutRepLegal:"",
                celular:"",
                rut:"",
                direccion:"",
                correo:"",
                fono:"",
                logo:null,
                pagina_web:"",
                otros:""
            },
            route: "",
            updated: false,
        };
    },
    computed: {
        ...mapState(["editEmpresa"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape" && this.editEmpresa.show) {
                    this.closeModal();
                }
                if (e.key === "Enter" && this.editEmpresa.show) {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    updated() {
        if (!this.updated) {
            this.updated = !this.updated;
            if (this.editEmpresa.show) {
                this.route = this.editEmpresa.payload.route;
                this.empresa = this.editEmpresa.payload.data;
            }
        }
    },
    methods: {
        closeModal() {
            this.$store.commit("hideEditEmpresa");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },
        handleChange(v) {
            this.empresa.logo = v[0];
        },
        saveData() {
            const EmpresaForm = new FormData();
            Object.keys(this.empresa).map((key) => {
                EmpresaForm.append(key, this.empresa[key]);
            });
            axios
                .request({
                    method: "POST",
                    url: this.route.update,
                    data: EmpresaForm,
                    headers: {
                        "Content-Type":
                            "multipart/form-data; boundary=9051914041544843365972754266",
                    },
                })
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Actualizado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                });
        },
    },
};
</script>

<style>
</style>
