<template>
    <mdb-container>
        <tableBody v-bind:data='this.data' >
            <template v-slot:edit >
                <edit></edit>
            </template>
            <template v-slot:create >
                <create></create>
            </template>
        </tableBody>
    </mdb-container>
</template>
<script>
    import tableBody from '../../misc/grid-editable';
    import {mdbContainer} from 'mdbvue';
    import edit from './edit';
    import create from './create'
    export default {
        name: "index",
        props:["routes","empresa", "permissions"],
        components:{
            mdbContainer,
            edit,
            tableBody,
            create
        },
        data() {
            let permission = JSON.parse(this.permissions)

            return {
                data: {
                    nombreTabla:"Datos de empresa",
                    columns:  [
                        {
                            label: 'Id',
                            field: 'id',
                            sort: true
                        },
                        {
                            label: 'Nombre',
                            field: 'nombre',
                            sort: true
                        },
                        {
                            label: 'Rut',
                            field: 'rut',
                            sort: true
                        },
                        {
                            label: 'Direccion',
                            field: 'direccion',
                            sort: true
                        },
                        {
                            label: 'Correo',
                            field: 'correo',
                            sort: true
                        },
                        {
                            label: 'Fono',
                            field: 'fono',
                            sort: true
                        },
                        {
                            label: 'Logo',
                            field: 'logo',
                            sort: true
                        },
                        {
                            label: 'Pagina Web',
                            field: 'pagina_web',
                            sort: true
                        },
                        {
                            label: 'Otros',
                            field: 'otros',
                            sort: true
                        },
                    ],
                    rows:JSON.parse(this.empresa),
                    routes:JSON.parse(this.routes),
                    showInfo:{
                        show:false,
                        method:"",
                    },
                    create:{
                        show:false,
                        method:'createEmpresa',
                        enable: permission.create
                    },
                    edit:{
                        show:false,
                        method:'editEmpresa',
                        enable: permission.edit
                    },
                    delete: {
                        enable: permission.delete
                    }
                }
            }
        },mounted() {

        }
    }
</script>

<style scoped>

</style>
