<template>
    <div class="flex-center position-ref full-height" >
        <div class="login">
            <div class="title">
                <img src="/images/logo2.png" alt="">
            </div>
            <div class="content">
                <form method="post"  v-bind:action="this.login">
                    <p class="h4 text-center mb-4 pt-2">Se requiere identificacion</p>
                    <mdb-input  v-on:input="validateRut" v-on:change="validateRut" v-on:autocomplete="validateRut" required v-model="credentials.rut" label="Rut" type="text"  name="rut"  />
                    <mdb-input label="Contraseña"  type="password" name="password" v-model="credentials.password" id="password" required/>
                    <md-checkbox v-model="credentials.remember" >Recordarme</md-checkbox>
                    <div class="text-center mt-4" >
                        <div class=" alert invalid-feedback" id="errores" role="alert" v-if="!this.$store.state.isValidRut">
                            El Rut Ingresado no es válido
                        </div>
                        <button :disabled="!this.$store.state.isValidRut" class="btn btn-default" type="submit">Ingresar</button>
                    </div>
                    <input type="hidden" v-bind:value="csrf" name="_token" id="csrf" class="form-control"/>
                    <input type="hidden" v-bind:value="credentials.remember" name="remember" id="remember" class="form-control"/>
                </form>

            </div>
        </div>

    </div>
</template>

<script>
    import { mdbInput, mdbBtn } from 'mdbvue';
    import {mapMutations,mapState} from 'vuex';
    import MdbSelect from "../misc/mdb-select";
    export default {
        props: ["data","login","message","old","reset"],
        name: "index",
        components: {
            MdbSelect,
            mdbInput,
            mdbBtn
        }, data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                credentials:{
                    rut:"",
                    password:"",
                    remember:false
                },
                validRut:false
            }
        },mounted() {

            this.old?this.credentials.rut=JSON.parse(this.old).rut===null?"":this.credentials.rut=JSON.parse(this.old).rut:this.credentials.rut="";
        },
         watch: {
            "credentials.rut":{
                handler(){
                    this.validateRut();
                },deep:true
            }
        },
        methods:{
            async validateRut(){
                console.log("VALIDANDO RUT",this.$store.state.isValidRut)
                 await this.$store.dispatch('validRut',this.credentials.rut);
                console.log(" RUT validado",this.$store.state.isValidRut)
            }
        }

    }
</script>

<style scoped >
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent; } }

@keyframes autofill {
    to {
        color: #666;
        background: transparent; } }

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    animation-name: autofill;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

.login{
    width:25%;
}

</style>

