<template>
    <mdb-navbar color="default" dark>

        <mdb-navbar-brand href="http://www.fumival.cl">
            <img class="img-brand" src="http://www.fumival.cl/wordpress/wp-content/uploads/2020/04/cropped-FUMIVAL_HOR-01.png" height="30" alt="">
        </mdb-navbar-brand>
        <mdb-navbar-toggler  v-if="data!=='undefined'">
                <mdb-navbar-nav>
                <mdb-nav-item  v-for="opt in menu" v-bind:href="opt.route" v-bind:key="opt.menuText" active>{{opt.menuText}}</mdb-nav-item>
                <mdb-dropdown tag="li" class="nav-item" v-if="this.Mantenedores.length>0">
                    <mdb-dropdown-toggle tag="a" navLink color="indigo" slot="toggle" waves-fixed>Mantenedores</mdb-dropdown-toggle>
                    <mdb-dropdown-menu>
                        <mdb-dropdown-item v-for="mantenedores in this.Mantenedores" v-bind:href="mantenedores.route"  v-bind:key="mantenedores.menuText" >{{mantenedores.menuText}}</mdb-dropdown-item>
                    </mdb-dropdown-menu>
                </mdb-dropdown>
            </mdb-navbar-nav>
            <mdb-dropdown tag="li" class="nav-item" v-if="data!==undefined" >
                <mdb-dropdown-toggle tag="li" navLink color="default" slot="toggle" waves-fixed>{{data.user}}</mdb-dropdown-toggle>
                <mdb-dropdown-menu>

                    <mdb-dropdown-item v-on:click="Logout">Salir</mdb-dropdown-item>
                </mdb-dropdown-menu>
            </mdb-dropdown>
        </mdb-navbar-toggler>
        <mdb-navbar-nav right  v-if="data==='undefined'">
        </mdb-navbar-nav>
    </mdb-navbar>
</template>

<script>
    import { mdbNavbar, mdbNavbarBrand, mdbNavbarToggler, mdbNavbarNav, mdbNavItem, mdbDropdown, mdbDropdownMenu, mdbDropdownToggle, mdbInput, mdbDropdownItem } from 'mdbvue';
    import axios from 'axios'
    export default {
        name: "navbar",
        props:["config","data"],
        components: {
          //  PushNotification,
            mdbNavbar,
            mdbNavbarBrand,
            mdbNavbarToggler,
            mdbNavbarNav,
            mdbNavItem,
            mdbDropdown,
            mdbDropdownMenu,
            mdbDropdownToggle,
            mdbDropdownItem,
            mdbInput
        },
        data() {
            return {
                Mantenedores:[],
                menu:[]
            }
        },
        mounted() {
            if(this.data.menu!==undefined){
                sessionStorage.set('menu',this.data.menu);
                this.menu= sessionStorage.get('menu');
            }
            Object.values(this.menu).forEach(el=>{
                if(Object.keys(el)[0]==="Mantenedores"){
                    this.Mantenedores=el["Mantenedores"];
                }
            });
        },
        methods: {
            Register(){
               window.location.href= this.config.route_register;
            },
            Login(){
                window.location.href= this.config.route_login;
            },
            Logout(){
                axios.post( this.data.route_logout).then(()=>{
                    location.reload();
                });

            }
        }
    }
</script>
<style scoped>

</style>
