<template>
    <md-dialog
        :md-active="this.$store.state.TipoCliente.show"
        @close="closeModal"
    >
        <div class="modal-1 mh100 ">
            <mdb-modal-header class="text-center mh100">Crear Tipo Cliente</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input
                        v-autofocus
                        label="Nombre del tipo de cliente"
                        v-model="tipo_cliente.tipo"
                    />
                    <md-field>
                        <md-input
                            v-autofocus
                            type="color"
                            class="inline-block"
                            v-model="tipo_cliente.color"
                        />
                        <label style="padding-top: 5%">Color para agenda</label>
                    </md-field>
                    <md-switch class="md-primary" v-model="tipo_cliente.restrict_payment">Restringir pago diferido</md-switch>
                    <mdb-input
                        v-autofocus
                        label="Porcentaje de Impuesto"
                        v-model="tipo_cliente.impuesto"
                    />
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn>
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";

Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";


export default {
    name: "create",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data() {
        return {
            tipo_cliente: {
                tipo:"",
                color:"",
                impuesto:undefined,
                restrict_payment:false
            },

        };
    },
    watch:{
      TipoCliente:{
          handler(){
              if(this.TipoCliente.payload.data!==undefined){
                  this.tipo_cliente=Object.assign({},this.TipoCliente.payload.data);
              }
          },deep:true
      }
    },
    computed: {
        ...mapState(["TipoCliente"]),
        route:{
            get(){
                return this.TipoCliente.payload.route;
            }
        }
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape") {
                    this.closeModal();
                }
                if (e.key === "Enter") {
                    this.saveData();
                }
            },
            { passive: true }
        );

    },
    methods: {
        closeModal() {
            this.$store.commit("hideCreateTipoCliente");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },
        saveData() {
            axios
                .post(this.tipo_cliente.id!==undefined?this.route.update:this.route.store, this.tipo_cliente )
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Creado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });

                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                });
        },
    },
};
</script>

<style scoped>
</style>
