<template>
    <mdb-container>

        <tableBody v-bind:data="this.data">
            <template v-slot:edit>
                <edit></edit>
            </template>
            <template v-slot:create>
                <create></create>
            </template>
        </tableBody>
    </mdb-container>
</template>

<script>
import tableBody from "../../misc/grid-editable";
import { mdbContainer, mdbBtn } from "mdbvue";
import edit from "./edit";
import create from "./create";
export default {
    name: "index",
    props: ["routes", "tipo_cliente", "permissions"],
    components: {
        mdbContainer,
        edit,
        tableBody,
        create,
        mdbBtn
    },
    data() {
        let permissions = JSON.parse(this.permissions);
        let rowsData = JSON.parse(this.tipo_cliente)
        return {
            json_data: rowsData,
            data: {
                nombreTabla: "Tipos de Cliente ",
                columns: [
                    {
                        label: "Id",
                        field: "id",
                        sort: true,
                    },
                    {
                        label: "Tipo",
                        field: "tipo",
                        sort: true,
                    },
                    {
                        label: "Color en Agenda",
                        field: "color",
                        sort: true,
                        type:'color'
                    },
                    {
                        label: "Restringir pago diferido",
                        field: "restrict_payment",
                        sort: true,
                    },
                ],
                rows: rowsData,
                routes: JSON.parse(this.routes),
                showInfo: {
                    show: false,
                    method: "",
                    enable: false,
                },
                create: {
                    show: true,
                    method: "createTipoCliente",
                    enable: permissions.create,
                },

                edit: {
                    show: true,
                    method: "createTipoCliente",
                    enable: permissions.edit,
                },
                delete: {
                    enable: permissions.delete,
                },
            },
        };
    },
};
</script>

<style scoped>
</style>

