<template >
    <!-- Table with panel -->
    <mdb-card style="max-height: 84vh;" v-show="this.ready" class="no-select overflow-auto " >
        <div  class="view view-cascade gradient-card-header mh-50 indigo py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <div style="min-width: 6%;" >
                <button v-if="this.create.enable" type="button" class="btn m-0 ml-1 btn-outline-white btn-rounded btn-sm px-2" v-on:click="createNew">
                    Crear &nbsp;<i class="fas fa-plus-square mt-0" ></i>
                </button>
            </div>

            <a  class="white-text mx-3" :style="{'padding-left':'6%',...data.styleTitle}">{{data.nombreTabla}}</a>
            <div style="min-width: 16%;">
                <button type="button" class="btn m-0 mr-1 btn-outline-white btn-rounded btn-sm px-2"  v-if="selected.length===1 && this.edit.enable" v-on:click="updateRecords">
                       Editar &nbsp;<i class="fas fa-pencil-alt mt-0"></i>
                </button>
                <button type="button" class="btn m-0 mr-1 btn-outline-white btn-rounded btn-sm px-2" v-if="selected.length>0 && this.delete.enable"  v-on:click="deleteRecords" >
                        Eliminar &nbsp;<i class="fas fa-times mt-0"></i>
                </button>
                <button type="button" class="btn m-0 mr-1 btn-outline-white btn-rounded btn-sm px-2" v-if="selected.length===1&&!(this.showInfo.method===''||this.showInfo.method=== undefined)&&this.showInfo.enable"   v-on:click="info">
                  Mas Informacion &nbsp;
                        <i class="fas fa-info-circle mt-0"></i>
                </button>
            </div>
        </div>
        <div class="row ml-1 mr-1  justify-content-between align-items-center" >
            <div class="col-sm pl-0">
                <mdb-btn @click.native="prevPage" color="indigo" size="sm" icon="angle-left"/>
            </div>
            <div class="col-sm-4" v-if="data.searchFields" >
                <md-field>
                    <label for="search">Buscar por</label>
                    <md-select v-model="search.field" name="search" id="search">
                        <md-option v-if="col.field.toLowerCase()!=='firma'&&col.field.toLowerCase()!=='imagen'&&col.field.toLowerCase()!=='logo'" v-bind:value="col.field" v-for="col in data.columns" :key="col.field" >{{col.label}}</md-option>
                    </md-select>
                </md-field>
            </div>
            <div class="col-sm-4" v-if="search.field!==''">
                <md-field>
                    <label v-if="!search.field.toLowerCase().includes('fecha')">Texto a encontrar</label>
                    <md-input  :type="search.field.toLowerCase().includes('fecha')?'date':'text'" v-on:input="searchValue" />
                </md-field>
            </div>
            <div class="col-sm">
                <md-field>
                    <label for="regs">Registros por Página</label>
                    <md-select v-model="paginationData.pageSize" @click="()=>paginationData.currentPage=1" name="regs" id="regs">
                        <md-option  :value="5" >5</md-option>
                        <md-option v-if="data.rows.length>=10" :value="10" >10</md-option>
                        <md-option v-if="data.rows.length>=15" :value="15" >15</md-option>
                        <md-option v-if="data.rows.length!==5&&data.rows.length!==10&&data.rows.length!==15" :value="data.rows.length" >Todos</md-option>
                    </md-select>
                </md-field>
            </div>
            <div class="col-sm pr-0 text-right">
                <mdb-btn @click.native="nextPage" color="indigo" size="sm"
                         icon="angle-right"
                />
            </div>
        </div>
        <div class="alert alert-info center" v-if="!data.rows.length>0" >
            <div style="text-align: center;">No existen datos</div>
        </div>
        <div class="table-wrapper" v-if="data.rows.length>0">
            <div class="text-center">Página {{this.paginationData.currentPage}} de {{ Math.ceil(data.rows.length/this.paginationData.pageSize) }}</div>
        </div>



        <mdb-scrollbar   >
            <mdb-card-body style="min-height:initial;!important; padding-bottom: 0px;!important">
            <mdb-tbl >
                <mdb-tbl-head>
                    <th>
                        <input  disabled class="form-check-input pl-2" type="checkbox" id="checkbox">
                        <label class="form-check-label mr-2" for="checkbox"></label>
                    </th>
                    <th v-for="column in data.columns">
                        <a :style="data.styleLabel" > {{column.label}}</a>
                    </th>
                </mdb-tbl-head>
                <mdb-tbl-body :key="paginationData.pageSize" >
                    <tr v-for="row in this.paginate(data.rows)"  v-on:click="selectedRecord(row)">
                        <th scope="row">
                            <input class="form-check-input " type="checkbox"  v-model="selected" v-bind:value="row.id"  v-bind:id="row.id" v-bind:tabindex="row.id">
                        </th>
                        <td v-for="key in keyCols" >
                            <a v-if="row[key]!=null" >
                                <watch-image v-if="row[key].toString().substring(0,10)==='data:image'" :src="row[key]" />
                                <a v-else-if="typeof row[key]!=='boolean'" class="text-body" :style="data.syleContent" >
                                    <a v-if="key==='color'" :style="'padding-right:4%; background-color:'+row[key]">&nbsp;</a>
                                    {{ row[key]}}
                                </a>

                                <a v-else class="text-body" :style="data.syleContent" >
                                    {{row[key]?'Si':'No'}}
                                </a>
                            </a>
                            <a v-else class="text-body" >
                                -
                            </a>



                        </td>
                    </tr>
                </mdb-tbl-body>
            </mdb-tbl>
        </mdb-card-body>
        </mdb-scrollbar>

        <slot name="edit" ></slot>
        <slot name="info"></slot>
        <slot name="create" ></slot>
    </mdb-card>
</template>
<script>
    import {mapMutations} from 'vuex';
    import watchImage from './watch-image'
    import { mdbTbl,mdbCard,mdbCardBody, mdbTblHead, mdbTblBody ,mdbScrollbar,mdbBtn,mdbInput, } from 'mdbvue';
    import axios from 'axios';
    import Swal from 'sweetalert2';
    var rawData=[];
    export default {
        name: "tableBody",
        props:["data"],
        components: {
            watchImage,
            mdbScrollbar,
            mdbCardBody,
            mdbCard,
            mdbTbl,
            mdbTblHead,
            mdbTblBody,
            mdbInput,
            mdbBtn
        },  data() {
            return {
                paginationData:{
                  pageSize:5,
                  currentPage:1
                },
                search:{
                    field:"",
                    hint:""
                },
                showInfo:this.data.showInfo,
                create:this.data.create,
                edit:this.data.edit,
                delete: this.data.delete,
                keyCols:[],
                ready:false,
                selected:[],
                debug:false,
            }
        },selectedData:{},
        watch:{
          selected:{
              handler(){

              },deep:true
          }
        },
        computed:{
          pagination:{
              get(){
                  return this.paginationData;
              },
              set(val){
                  this.paginationData=val;
              }
          }
        },
        methods: {
            searchValue(e){
                try{
                    if(e.trim()===""||this.data.rows.length===0){
                        this.data.rows=Array.from(rawData);
                    }
                    if(e.trim()!=="") {
                        if(!isNaN(parseInt(e))&&!this.search.field.toLowerCase().includes("fecha")){
                            this.data.rows= this.data.rows.filter(x => {
                                return parseInt(x[this.search.field])===parseInt(e);
                            });
                        }else{
                            if(this.search.field.toLowerCase().includes("fecha")){
                                this.data.rows= this.data.rows.filter(x => {
                                    return x[this.search.field]!==null?x[this.search.field].toLowerCase().includes(e.toString()):false
                                });
                            }
                            this.data.rows= this.data.rows.filter(x => {
                                return x[this.search.field]!==null?x[this.search.field].toLowerCase().includes(e.toLowerCase()):false
                            });
                        }
                    }
                }catch (e) {
                    this.search.hint="no se encontraron registros";
                }

            },
            nextPage() {
                if((this.pagination.currentPage*this.pagination.pageSize) < this.data.rows.length) {
                    this.pagination.currentPage++;


                }
            },
             paginate(array) {
                return array.slice((this.pagination.currentPage - 1) * this.pagination.pageSize, this.pagination.currentPage * this.pagination.pageSize);
            },
            prevPage() {
                if(this.pagination.currentPage > 1){
                    this.pagination.currentPage--;
                }
            },
            updateRecords(){
                if(this.debug) {
                    console.log({data: this.$options.selectedData, route: this.data.routes});
                }
                const inmutableData=this.$options.selectedData;
                this.$store.commit(this.edit.method,{data:inmutableData,route:this.data.routes});
            },
            info(){
                if(this.debug) {
                    console.log({data: this.$options.selectedData, route: this.data.routes.update});
                }
                this.$store.commit(this.showInfo.method,{data:this.selected.map(el=>{
                        return this.data.rows.filter(item=>item.id===el)[0];
                    })[0],route:this.data.routes.update});
            },
            createNew(){
                if(this.debug){
                    console.log({route:this.data.routes});
                }

                this.$store.commit(this.create.method,{route:this.data.routes});
                this.data.selected=[];
            },
             deleteRecords(){
                    Swal.fire({
                        title: 'Esta seguro?',
                        text: "Este cambio no se podra revertir",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Eliminar',
                        cancelButtonText: 'Cancelar',
                    }).then(resp =>{if(resp.value){

                        this.selected.forEach(el => {
                        axios.post(this.data.routes.delete, {
                            id :el
                            })
                            .then(result =>{
                            if(result.status===200){
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Ha sido eliminado Correctamente',
                                    showConfirmButton: true,
                                }).then(resp => {
                                     window.location.reload()
                                });

                            }
                        }).catch(error=>{
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'error',
                                    title: 'Ha Ocurrido un error',
                                    text: error.response.data.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                        });
                        })


                    }});
            },
            selectedRecord(target) {

                let id=target.id;
                this.selected.find(record => record === id)=== id?
                    this.selected=this.selected.filter(item => item!==id) : this.selected.push(id);this.$options.selectedData=target;

                    this.$emit('selected',this.selected.map(el=>{
                        return this.data.rows.filter(item=>item.id===el)[0];
                    }));
            },
        },update() {
            if(this.showInfo.method!==undefined&&this.create.method!==undefined&&this.update.method!==undefined){
                this.methods={...this.methods,...mapMutations([this.showInfo.method,this.create.method,this.update.method])};
            }
        },
        created() {
                window.addEventListener('keydown', (e) => {
                    if(e.key ==="F2"){
                        this.createNew();
                    }
                    if(e.key ==="F4"){
                        if(this.selected.length===1){
                            this.updateRecords();
                        }
                    }
                    if(e.key ==="Escape"){
                        if(this.selected.length>0){
                            this.selected.shift();
                        }
                    }
                    if(e.key ==="Delete"){
                        if(this.selected.length>0){
                            this.deleteRecords();
                        }
                    }
                }, {passive: true});
            Object.values(this.data.columns).forEach(col=>{
                this.keyCols.push(col.field);
            });
            this.ready=!this.ready;
            rawData=Array.from(this.data.rows);
            if(this.data.debug){
                console.log(this.data);
            }
        },

    }
</script>

<style scoped>
.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mh-50{
    min-height: 50px;
}
</style>
