<template>
    <div>
        <mdb-input label="Rol" :value="selected.value" type="text" v-model="selected.text"  :id="selected.id"  v-on:focus="toggleSelect" v-on:blur="toggleSelect">
        </mdb-input>
        <div v-show="options"  class="materialized">
            <a v-for="option in optionsArray" v-bind:value="option.value" v-bind:id="option.id">
                <option  v-on:click="selectedValue($event,option)">{{option.text}}</option>
            </a>
        </div>
    </div>

</template>

<script>
    import {mdbInput} from 'mdbvue';
    export default {
        name: "mdbSelect",
        components: {mdbInput},
        data() {
            return {
                options:false,
                text:"",
                colored:false,
                optionsArray:[
                    {
                        id:"1",
                        value:"1",
                        text:"a"
                    },
                    {
                        id:"2",
                        value:"2",
                        text:"b"
                    },
                    {
                        id:"3",
                        value:"3",
                        text:"C"
                    },
                ],
                selected: {
                    id:"0",
                    value:"0",
                    text:""
                }
            }
        },
        methods:{
            toggleSelect(){
                this.options=!this.options;
            },selectedValue(ev,option){
                this.selected.id=option.id;
                this.selected.value=option.value;
                this.selected.text=option.text;
            }
        },updated() {

        },
        beforeCreate() {

        }


    }
</script>

<style scoped>
    .materialized{

        position: absolute;
        text-align: center;
        z-index: 1;
        display: block;
        background-color: white!important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px!important;
        pointer-events: auto;
        font-family: inherit;
        overflow: visible;
        cursor: pointer;
        width: 100%;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #495057;
        background-clip: padding-box;
        height: 250%;
        padding: .6rem 0 .4rem 0;
        margin: 0 0 .5rem 0;
        box-sizing: border-box !important;
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        outline: none;
        overflow-y: scroll;
    }
    .materialized:focus{
        transition: transform .2s cubic-bezier(.25,.8,.25,1),opacity .3s cubic-bezier(.25,.8,.25,1);
        will-change: opacity,transform,top,left!important;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

    }
    .materialized::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5; }
    .colored{
        background-color:#0d47a1;
    }
    option:hover {
        background-color: #5f56c1;
    }



</style>
