<template>
    <div class="md-file">
        <input
            class="md-input"
            readonly
            v-model="model"
            v-bind="{ disabled, required, placeholder }"
            @click="openPicker"
            @blur="onBlur">

        <input type="file" ref="inputFile" v-bind="attributes" v-on="$listeners" @change="onChange" />
    </div>
</template>

<script>
    import MdUuid from '../../../../node_modules/vue-material/src/core/utils/MdUuid'
    import MdFieldMixin from '../../../../node_modules/vue-material/src/components/MdField/MdFieldMixin'

    export default {
        name: 'MdFile',
        props: {
            id: {
                type: String,
                default: () => 'md-file-' + MdUuid()
            },
            name: String
        },
        mixins: [MdFieldMixin],
        inject: ['MdField'],
        methods: {
            getMultipleName (files) {
                let names = [];

                [...files].forEach(({ name }) => names.push(name))

                return names.join(', ')
            },
            getFileName (files, target) {
                if (!files || files.length === 0) {
                    return target.value.split('\\').pop()
                }

                if (files.length > 1) {
                    return this.getMultipleName(files)
                }

                if (files.length === 1) {
                    return files[0].name
                }

                return null
            },
            openPicker () {
                this.onFocus()
                this.$refs.inputFile.click()
            },
            onChange ($event) {
                this.onFileSelected($event)
            },
            onFileSelected ({ target, dataTransfer }) {
                const files = target.files || dataTransfer.files

                this.model = this.getFileName(files, target)
                this.$emit('md-change', files || target.value)
            }
        },
        created () {
            this.MdField.file = true
        },
        beforeDestroy () {
            this.MdField.file = false
        }
    }
</script>

<style lang="scss">
    .md-file {
        display: flex;
        flex: 1;
        left: 0px!important;
        input[type="file"] {
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            position: absolute;
            clip: rect(0 0 0 0);
            border: 0;
            left: 0px!important;
        }

        .md-file-icon {
            &:not(.md-disabled) {
                cursor: pointer;
            }

            &.md-disabled {
                pointer-events: none;
            }
        }
    }
    .md-field.md-has-file:after, .md-field.md-has-file:before, .md-field.md-has-file label {
        left: 0px;
    }
</style>

