<template>
    <div>
        <mdb-btn tag="a" @click.native="modal = true"  outline="indigo" floating size="sm"><mdb-icon icon="eye"/></mdb-btn>
        <mdb-modal :show="modal" @close="modal = false">
            <mdb-modal-header>
                <mdb-modal-title>Imagen Adjunta</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
                <img v-bind:src="src" class="img-fluid" >
            </mdb-modal-body>
            <mdb-modal-footer>
                <mdb-btn color="indigo" @click.native="modal = false">Cerrar</mdb-btn>
            </mdb-modal-footer>
        </mdb-modal>
    </div>
</template>

<script>
    import { mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter, mdbBtn,mdbIcon } from 'mdbvue';
    export default {
        props:["src"],
        name:"watch-image",
        components: {
            mdbModal,
            mdbModalHeader,
            mdbModalTitle,
            mdbModalBody,
            mdbModalFooter,
            mdbBtn,
            mdbIcon
        },
        data() {
            return {
                modal: false
            };
        }
    };
</script>

<style scoped>

</style>
