<template>
    <md-dialog
        :md-active="show"
        @close="closeModal">
        <div class="modal-1 mh100">
            <md-progress-spinner v-if="isLoading" md-mode="determinate" ></md-progress-spinner>
            <mdb-modal-header v-else v-bind:class="'text-center mh100'"> Crear Contacto </mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <form v-on:submit.prevent="saveData">
                    <md-dialog-content>
                                <div class="container">
                                    <md-field required>
                                        <label for="contacto">Tipo de contacto</label>

                                        <md-select
                                            name="contacto"
                                            v-model="tipo_contacto">
                                            <md-option
                                                v-for="tipo in tipo_contactos.data"
                                                v-bind:value="tipo.id"
                                                v-bind:key="tipo.id"
                                            >{{ tipo.descripcion }}</md-option
                                            >
                                        </md-select>
                                    </md-field>
                                    <mdb-input
                                        required
                                        label="Contacto"
                                        class="mb-5"
                                        :type="tipo_contacto===1?'email':'text'"
                                        v-model="contacto"
                                    />
                                </div>
                        <mdb-modal-footer center>
                            <mdb-btn type="submit" color="indigo">Guardar</mdb-btn>
                        </mdb-modal-footer>
                    </md-dialog-content>
                </form>

            </mdb-modal-body>
        </div>

    </md-dialog>
</template>

<script>
import axios from 'axios';
import {
    mdbBtn,
    mdbContainer, mdbIcon,
    mdbInput,
    mdbModal,
    mdbModalBody,
    mdbModalFooter,
    mdbModalHeader,
    mdbTextarea
} from "mdbvue";
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import Swal from "sweetalert2";
export default {
name: "contacto",
    components:{
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data(){
        return{
        isLoading:false,
            tipo_contacto:undefined,
            contacto:'',
            id_cliente:undefined,
            tipo_contactos:[]
        }
    },
    computed:{
    show:{
        get(){
            return this.$store.state.createContact.show;
        },
        set(val){
            this.$store.commit('createContact',{show:val,payload:this.$store.state.createContact.payload})
        }
    },
  },
    mounted(){
        this.loadTipoContacto();
    },
    methods:{
        closeModal(){
            this.show=false;
        },
        saveData(){
            this.isLoading=true;
            if(this.$store.state.createContact.payload===undefined){
                this.tipo_contacto={...this.tipo_contactos.data.filter((contacto) => contacto.id === this.tipo_contacto)}[0];
                this.$emit('contacto',{
                    id_tipo_contacto:this.tipo_contacto.id,
                    descripcion:this.tipo_contacto.descripcion,
                    contacto:this.contacto,
                });
                this.$store.commit('createContact',{show:false,payload:undefined})
            }else{

                axios.post('/contactos',{
                    id_tipo_contacto:this.tipo_contacto,
                    contacto:this.contacto,
                    id_cliente:this.$store.state.createContact.payload.id
                }).then(()=>{
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Ha sido Editado Correctamente",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                    this.$emit('update');
                }).catch(()=>{
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Algo ha salido mal",
                        text: "Faltan campos requeridos o los datos ya existen",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                })
            }
            this.isLoading=false;

        },
       async loadTipoContacto(){
            this.isLoading=true
            this.tipo_contactos=await axios.get('/tipo-contacto');
            this.isLoading=false;
        }
    }
}
</script>

<style scoped>

</style>
