<template>
    <md-dialog
        :md-active="this.$store.state.createClientes.show"
        @close="closeModal"
    >
        <div class="modal-create-clientes  mh100 ">
            <mdb-modal-header class="text-center mh100">
                Crear Clientes</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">

                <form v-on:submit="saveData">
                    <md-dialog-content>
                        <mdb-input
                            v-autofocus
                            label="Nombre"
                            class="mb-5"
                            v-model="clientes.nombre"
                            required
                        />
                        <mdb-input
                            v-autofocus
                            label="Nombre de Fantasia"
                            class="mb-5"
                            v-model="clientes.nombre_fantasia"
                            required
                        />
                        <mdb-input
                            v-autofocus
                            label="Rut"
                            class="mb-5"
                            v-model="clientes.rut"
                            required
                        />
                        <mdb-input
                            v-autofocus
                            label="Direccion Principal"
                            class="mb-5"
                            v-model="clientes.direccion_principal"
                            required
                        />
                        <mdb-input
                            v-autofocus
                            label="Ciudad"
                            class="mb-5"
                            v-model="clientes.ciudad"
                        />
                        <mdb-input
                            v-autofocus
                            label="Fono"
                            class="mb-5"
                            v-model="clientes.fono"
                        />
                        <mdb-input
                            v-autofocus
                            label="E-Mail"
                            class="mb-5"
                            type="email"
                            v-model="clientes.email"
                            required
                        />
                        <br />
                        <md-field>
                            <label for="inmuebles">Inmuebles</label>
                            <md-select
                                multiple
                                v-model="clientes.inmuebles"
                                name="inmubles"
                                id="inmuebles"

                            >
                                <md-option
                                    v-for="inmueble in listInmuebles"
                                    v-bind:value="inmueble.id"
                                    v-bind:key="inmueble.id"
                                >{{ [inmueble.descripcion,inmueble.direccion,inmueble.nombre_comercial].join(",") }}</md-option
                                >
                            </md-select>

                        </md-field>
                        <md-field >
                            <label for="tipo_cliente">Tipo Cliente</label>
                            <md-select v-model="clientes.id_tipo_cliente" name="tipo_cliente" id="tipo_cliente">
                                <md-option  :value="tipo_cliente.id" v-for="tipo_cliente in listTipoCliente" :key="tipo_cliente.id">{{tipo_cliente.tipo}}</md-option>
                            </md-select>

                        </md-field>
                        <md-list>
                            <md-list-item
                                v-for="item in this.contactos"
                                :key="item.id_tipo_contacto"
                            >
                                <mdb-icon
                                    icon="minus-circle"
                                    @click.native="quitarContacto(item)"
                                    class="clickable-icon"
                                ></mdb-icon>
                                <span class="md-list-item-text">
                                {{ item.descripcion }}: {{item.contacto}}
                            </span>
                            </md-list-item>
                        </md-list>
                        <mdb-modal-footer center>
                            <mdb-btn @click.native="createContact" color="secondary"
                            >Agregar medio de contacto</mdb-btn>
                            <mdb-btn :disabled="!ready" color="indigo" type="submit"
                            >Guardar</mdb-btn
                            >
                        </mdb-modal-footer>
                    </md-dialog-content>
                </form>
            </mdb-modal-body>
        </div>
        <contacto @contacto="(contacto)=>{this.contactos.push(contacto)}" />
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";
import contacto from "./contacto";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";


export default {
    name: "create",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
        contacto
    },
    data() {
        return {
            clientes: {
                id: 0,
                nombre: "",
                nombre_fantasia: "",
                rut: "",
                direccion_principal: "",
                fono: "",
                email: "",
                ciudad:"",
                inmuebles: [],
                id_tipo_cliente:1
            },
            contactos:[],
            listTipoCliente:[],
            listInmuebles: [],
            route: "",
            updated: false,
        };
    },
    computed: {
        ...mapState(["createClientes"]),
        ready:{
            get(){
                return this.clientes.nombre.trim()!==""&&this.clientes.rut.trim()!==""&&this.clientes.email.trim()!==""&&this.clientes.direccion_principal.trim()!==""
            }
        }
    },
    created() {
        this.getTipoCliente();
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape") {
                    this.closeModal();
                }
                if (e.key === "Enter") {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },

    async updated() {
        if (this.createClientes.show&&!this.updated) {
            this.updated = !this.updated;
            if (this.$store.state.createClientes.show) {
                this.route = this.createClientes.payload.route;
                // await axios.post(this.route.update).then(response => {
                //     this.unidadOrigen=response.data.data;
                //     this.unidadDestino=response.data.data;
                // });

                await axios.get(`${this.route.inmuebles}`).then((response) => {
                    this.listInmuebles = response.data.data.map((inmueble) => {
                        return {
                            id: inmueble.id,
                            descripcion: inmueble.nombre,
                            direccion:inmueble.direccion,
                            nombre_comercial:inmueble.nombre_comercial
                        };
                    });
                });
            }
        }
    },
    methods: {
        getTipoCliente(){
            axios.get('/clientes/create').then((resp)=>this.listTipoCliente=resp.data);
        },
        quitarContacto(item){
            this.contactos = this.contactos.filter((contacto) => contacto.id !== item.id);
        },
        createContact(){
            this.$store.commit('createContact',{show:true,payload:undefined});
        },
        closeModal() {
            this.$store.commit("hideCreateClientes");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },
        saveData(ev) {
            ev.preventDefault();
            axios
                .post(this.createClientes.payload.route.store, { ...this.clientes,contactos: this.contactos })
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Creado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });

                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                })
                .catch((e) => {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Ha ocurrido un error",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
        },
    },
};
</script>

<style >
.modal-create-clientes {
    z-index: 3;
    background-color: white;
    max-height: 100%;
    min-width: 700px;
    border-radius: 0.125rem;
}
.md-list-item{
    max-width: 500px;
}
.md-menu-content-container{
    min-width: fit-content!important;
}
.md-select-menu{
    min-width: fit-content!important;
}
</style>
