<template>
    <md-dialog
        :md-active="this.$store.state.editClientes.show"
        @close="closeModal"
    >
        <div class="modal-edit-clientes mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">
                Crear Clientes</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input
                        v-autofocus
                        label="Nombre"
                        class="mb-5"
                        required
                        v-model="clientes.nombre"
                    />
                    <mdb-input
                        v-autofocus
                        label="Nombre de Fantasia"
                        class="mb-5"
                        v-model="clientes.nombre_fantasia"
                    />
                    <mdb-input
                        v-autofocus
                        label="Rut"
                        class="mb-5"
                        v-model="clientes.rut"
                    />
                    <mdb-input
                        v-autofocus
                        label="Direccion Principal"
                        class="mb-5"
                        v-model="clientes.direccion_principal"
                    />
                    <mdb-input
                        v-autofocus
                        label="Ciudad"
                        class="mb-5"
                        v-model="clientes.ciudad"
                    />
                    <mdb-input
                        v-autofocus
                        label="Fono"
                        class="mb-5"
                        v-model="clientes.fono"
                    />
                    <mdb-input
                        v-autofocus
                        label="E-Mail"
                        class="mb-5"
                        type="email"
                        v-model="clientes.email"
                    />
                    <div class="text-center" v-if="isDataLoading">
                        <md-progress-spinner  md-mode="indeterminate"></md-progress-spinner>
                    </div>
                    <div v-else >
                        <md-field >
                            <label for="inmuebles">Inmuebles</label>
                            <md-select
                                multiple
                                v-model="clientes.inmuebles"
                                name="inmubles"
                                id="inmuebles"
                            >
                                <md-option
                                    size="lg"
                                    v-for="inmueble in listInmuebles"
                                    v-bind:value="inmueble.id"
                                    v-bind:key="inmueble.id"
                                >{{ [inmueble.descripcion,inmueble.direccion,inmueble.nombre_comercial].join(",") }}</md-option>
                            </md-select>
                        </md-field>
                        <md-field >
                            <label for="tipo_cliente">Tipo Cliente</label>
                            <md-select v-model="clientes.id_tipo_cliente" name="tipo_cliente" id="tipo_cliente">
                                <md-option  :value="tipo_cliente.id" v-for="tipo_cliente in listTipoCliente" :key="tipo_cliente.id">{{tipo_cliente.tipo}}</md-option>
                            </md-select>
                        </md-field>
                        <md-list>
                            <md-list-item
                                v-for="item in this.contactos"
                                :key="item.contacto.id"

                            >
                                <mdb-icon
                                    icon="minus-circle"
                                    @click.native="quitarContacto(item)"
                                    class="clickable-icon"
                                ></mdb-icon>
                                <span class="md-list-item-text">
                                {{ item.tipo_contacto.descripcion }}: {{item.contacto}}
                            </span>
                            </md-list-item>
                        </md-list>
                    </div>


                    <mdb-modal-footer center>
                        <mdb-btn @click.native="createContact" color="secondary"
                        >Agregar medio de contacto</mdb-btn>
                        <mdb-btn :disabled="!ready" @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn>
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
        <contacto @update="()=>{this.getContactsAndInmueble();}" />
    </md-dialog>
</template>

<script>
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import Axios from "axios";
import Swal from "sweetalert2";
import Contacto from "./contacto";
import axios from "axios";

export default {
    name: "edit",
    components: {
        Contacto,
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    computed: {
        ...mapState(["editClientes"]),
        ready:{
            get(){
                if(this.clientes.nombre!==null&&this.clientes.rut!==null&&this.clientes.direccion_principal!==null){
                    return this.clientes.nombre!==""
                        &&this.clientes.rut!==""
                        &&this.clientes.email!==""
                        &&this.clientes.direccion_principal!==""
                }else{
                    return false;
                }

            }
        }
    },
    data() {
        return {
            isDataLoading:false,
            clientes: {
                id: 0,
                nombre: "",
                nombre_fantasia: "",
                rut: "",
                direccion_principal: "",
                fono: "",
                email: "",
                ciudad: "",
                inmuebles: [],
                id_tipo_cliente:1

            },
            contactos:[],
            route: "",
            listTipoCliente:[],
            listInmuebles: [],
            updated: false,
        };
    },
    created() {
        this.getTipoCliente();
    },
    updated() {
        if (this.editClientes.show && this.clientes.id === 0) {
            this.route = this.editClientes.payload.route;
            this.clientes = this.editClientes.payload.data;
            Axios.get(`${this.route.inmuebles}`)
                .then((response) => {
                    this.listInmuebles = response.data.data.map((inmueble) => {
                        return {
                            id: inmueble.id,
                            descripcion: inmueble.nombre,
                            direccion:inmueble.direccion,
                            nombre_comercial:inmueble.nombre_comercial
                        };
                    });
                })
                .finally(() => {this.getContactsAndInmueble();});
        }
    },
    methods: {
        getTipoCliente(){
            axios.get('/clientes/create').then((resp)=>this.listTipoCliente=resp.data);
        },
        getContactsAndInmueble(){
            this.isDataLoading=true;
            Axios.get(
                `${this.route.read}/${this.editClientes.payload.data.id}`
            ).then((response) => {
                this.clientes.inmuebles = response.data.inmuebles.map(el => {
                    return el.id
                });
                this.contactos=response.data.cliente_contactos.map((e)=>{
                    return e.contacto;
                });
            }).finally(()=>{
                this.isDataLoading=false;
            });
        },
        createContact(){
            this.$store.commit('createContact',{show:true,payload:{id:this.clientes.id}})
        },
        closeModal() {
            this.clientes = {
                id: 0,
                nombre: "",
                nombre_fantasia: "",
                rut: "",
                direccion_principal: "",
                fono: "",
                email: "",
                ciudad: "",
                inmuebles: [],
            }
            this.route = ""
            this.listInmuebles = []
            this.contactos=[];
            this.updated = false
            this.$store.commit("hideEditClientes");
        },

        quitarContacto(item){
            Axios.delete('/contactos/'+item.id);
            this.contactos = this.contactos.filter((contacto) => contacto.id !== item.id);
        },
        saveData() {
            Axios.post(this.route.update, { ...this.clientes })
                .then((response) =>{
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Editado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });

                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text: "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                })
                .catch((e) => {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Ha ocurrido un error",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
        },
    },
};
</script>
<style >
.modal-edit-clientes {
    z-index: 3;
    background-color: white;
    max-height: 100%;
    min-width: 700px;
    border-radius: 0.125rem;
}
.md-list-item{
    max-width: 500px;
}
.md-menu-content-container{
    min-width: fit-content!important;
}
.md-select-menu{
    min-width: fit-content!important;
}

</style>
