<template>
    <mdb-container>
        <tableBody v-bind:data="this.data">
            <template v-slot:edit>
                <edit></edit>
            </template>
            <template v-slot:create>
                <create></create>
            </template>
            <template v-slot:info>
                <info :json_data="json_data"></info>
            </template>
        </tableBody>

    </mdb-container>
</template>

<script>
import tableBody from "../misc/grid-editable";
import { mdbContainer, mdbBtn } from "mdbvue";
import edit from "./edit";
import create from "./create";
import info from "./info";
export default {
    name: "index",
    props: ["routes", "clientes", "permissions"],
    components: {
        mdbContainer,
        edit,
        tableBody,
        create,
        info,
        mdbBtn
    },
    data() {
        let permissions = JSON.parse(this.permissions);
        let rowsData = JSON.parse(this.clientes)
        return {
            json_data: rowsData,
            data: {
                searchFields:true,
                nombreTabla: "Clientes",
                columns: [
                    {
                        label: "Id",
                        field: "id",
                        sort: true,
                    },
                    {
                        label: "Nombre",
                        field: "nombre",
                        sort: true,
                    },
                    {
                        label: "Nombre Fantasia",
                        field: "nombre_fantasia",
                        sort: true,
                    },
                    {
                        label: "Rut",
                        field: "rut",
                        sort: true,
                    },
                    {
                        label: "Direccion Principal",
                        field: "direccion_principal",
                        sort: true,
                    },
                    {
                        label: "Ciudad",
                        field: "ciudad",
                        sort: true,
                    },
                    {
                        label: "Fono",
                        field: "fono",
                        sort: true,
                    },
                    {
                        label: "Email",
                        field: "email",
                        sort: true,
                    }
                ],
                rows: rowsData,
                routes: JSON.parse(this.routes),
                showInfo: {
                    show: false,
                    method: "infoCliente",
                    enable: true,
                },
                create: {
                    show: false,
                    method: "createClientes",
                    enable: permissions.create,
                },

                edit: {
                    show: false,
                    method: "editClientes",
                    enable: permissions.edit,
                },
                delete: {
                    enable: permissions.delete,
                },
            },
        };
    },
};
</script>

<style scoped>
</style>

