<template>
    <md-dialog :md-active="this.infoCliente.show"  @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">Informacion de cliente</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content v-if="!isLoading">
                    <div v-html="this.imprimible"></div>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="downloadInforme" color="indigo">Descargar informe</mdb-btn>
                        <mdb-btn color="indigo"><download-excel  :data="json_data" :fields="field_export" name="nomina_clientes.xls"> Descargar Nomina </download-excel></mdb-btn>
                    </mdb-modal-footer>
                </md-dialog-content>
                <md-dialog-content v-else class="text-center">
                    <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
                </md-dialog-content>

            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbModalFooter,
} from "mdbvue";
import JsonExcel from 'vue-json-excel';
Vue.component('downloadExcel', JsonExcel)
import { mapState } from "vuex";
export default {
    name: "info-clientes",
    props:["json_data"],
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbModalFooter
    },
    data() {
        return {
            field_export:{
                "Nombre": "nombre",
                "Nombre de Fantasia": "nombre_fantasia",
                "RUT":"rut",
                "Direccion Principal":"direccion_principal",
                "Ciudad":"ciudad",
                "Fono":"fono",
                "Email":"email"
            },
            isLoading:false,
            certificado: {},
            imprimible: "",
            route: "",
            updated: false
        }
    },
    computed: {
        ...mapState(["infoCliente"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape"&&this.infoCertificado.show) {
                    this.closeModal();
                }
                if (e.key === "Enter"&&this.infoCertificado.show) {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    mounted(){
        this.route = this.$store.state.infoCertificado.payload.routes;
    },
    methods: {
        downloadInforme(){
            if(this.infoCliente.payload!==undefined){
                window.open('informe/'+this.infoCliente.payload.data.id, '_blank');
            }
        },
        closeModal(){
            this.infoCliente.show=false;
        }
    },
};
</script>

<style>
</style>

