<template>
    <md-dialog
        :md-active="this.showModal"
        @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header  class="text-center mh100"> Agregar Inmueble a cliente </mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                    <md-dialog-content>
                        <mdb-input
                            required
                            label="Contacto"
                            class="mb-5"
                            :type="tipo_contacto===1?'email':'text'"
                            v-model="contacto"
                        />
                        <md-field>
                            <label for="inmuebles">Inmuebles</label>
                            <md-select
                                multiple
                                v-model="selectedInmuebles"
                                name="inmubles"
                                id="inmuebles"

                            >
                                <md-option
                                    v-for="inmueble in listInmuebles"
                                    v-bind:value="inmueble.id"
                                    v-bind:key="inmueble.id"
                                >{{ [inmueble.descripcion,inmueble.direccion,inmueble.nombre_comercial].join(",") }}</md-option
                                >
                            </md-select>

                        </md-field>
                        <mdb-modal-footer center>
                            <mdb-btn type="submit" color="indigo">Guardar</mdb-btn>
                        </mdb-modal-footer>
                    </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>

<script>
import VueMaterial from "vue-material";

Vue.use(VueMaterial);
import {
    mdbDialog,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
export default {
    props:{
        show:{
            type:Boolean,
            required:true,
            default:false
        },
        selected:{
            type:Array,
            required:false,
            default:[]
        },
        listInmuebles:{
            type:Array,
            required:true,
            default:[]
        }
    },
    name: "inmuebles-cliente",

    components: {
            mdbDialog,
            mdbBtn,
            mdbModal,
            mdbModalHeader,
            mdbModalBody,
            mdbInput,
            mdbModalFooter,
    },
    computed:{
        showModal:{
            get(){
                return this.show;
            },
            set(val){
                this.$emit('show',val);
            }
        },
        selectedInmueblesObj:{
            get(){
                let out=[];
                this.selected.map((el)=>{
                    out.push(this.listInmuebles.find(x=>x.id===el));
                });
                return out;
            }
        },
        selectedInmuebles:{
            get(){
                return this.selected;
            },
            set(val){
                this.$emit("selected",val);
            }
        }
    },methods:{
        closeModal(){
            this.showModal=false;
        }
    }
}
</script>

<style scoped>

</style>
