<template>
    <md-dialog :md-active="this.editInmuebles.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'"
                >Crear Inmueble</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input
                        label="Nombre"
                        class="mb-5"
                        v-model="inmueble.nombre"
                    />
                    <mdb-input
                        label="Direccion"
                        class="mb-5"
                        v-model="inmueble.direccion"
                    />
                    <mdb-input
                        label="Ciudad"
                        class="mb-5"
                        v-model="inmueble.ciudad"
                    />
                    <md-autocomplete
                        v-model="termPropietario"
                        :md-options="propetarios"
                        @md-changed="searchPropetario"
                        @md-opened="searchPropetario"
                        @md-selected="selectedPropetario"
                    >
                        <label>Propietario</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro la bodega
                        </template>
                    </md-autocomplete>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>

<script>
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
export default {
    name: "edit",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    async updated() {
        if (this.editInmuebles.show) {
            if (!this.updated) {
                this.route = this.editInmuebles.payload.route;
                this.getPropietarios();
                this.inmueble = this.editInmuebles.payload.data
                this.termPropietario = this.editInmuebles.payload.data.nombre_propietario
                this.updated = true;
            }
        }
    },
    data() {
        return {
            inmueble: {
                id: 0,
                id_propetario: null,
                nombre: "",
                direccion: "",
                ciudad: "",
            },
            listPropetarios: [],
            propetarios: [],
            termPropietario: "",
            route: "",
            updated: false,
        };
    },
    computed: {
        ...mapState(["editInmuebles"]),
    },
    methods: {
        saveData() {
            axios
                .post(this.editInmuebles.payload.route.update, { ...this.inmueble })
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido actualizado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                })
                .catch((e) => {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Ha ocurrido un error",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
        },
        closeModal() {
            this.$store.commit("hideeditInmuebles");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },
        getPropietarios() {
            axios.get(this.route.propetarios).then((result) => {
                this.listPropetarios = result.data.data.map((item) => {
                    return { id: item.id, nombre: item.nombre };
                });
            });
        },
        searchPropetario(searchTerm) {
            this.propetarios = new Promise((resolve) => {
                window.setTimeout(() => {
                    if (!searchTerm) {
                        resolve(this.listPropetarios);
                    } else {
                        const term = searchTerm.toLowerCase();

                        resolve(
                            this.listPropetarios.filter(({ nombre }) =>
                                nombre.toLowerCase().includes(term)
                            )
                        );
                    }
                }, 500);
            });
        },
        selectedPropetario(selected) {
            this.inmueble.id_propetario = selected.id;
            this.termPropietario = selected.nombre;
        },
    },
};
</script>

<style>
</style>
