<template>
    <mdb-container>
        <tableBody v-bind:data="this.data">
            <template v-slot:edit>
                <edit></edit>
            </template>
            <template v-slot:create>
                <create></create>
            </template>
        </tableBody>
    </mdb-container>
</template>

<script>
import { mdbContainer, mdbBtn } from "mdbvue";
import tableBody from "../misc/grid-editable";
import edit from "./edit";
import create from "./create";

export default {
    name: "index",
    props: ["routes", "inmuebles", "permissions"],
    components: {
        mdbContainer,
        tableBody,
        mdbBtn,
        edit,
        create,
    },
    data() {
        let permission = JSON.parse(this.permissions);
        let data = JSON.parse(this.inmuebles).map((item) => {
            return {
                ...item,
                ...{
                    id_propietario: item.propietario.id,
                    nombre_propietario: item.propietario.nombre,
                },
            };
        });

        return {
            data: {
                nombreTabla: "Inmuebles",
                searchFields:true,
                columns: [
                    {
                        label: "Id",
                        field: "id",
                        sort: true,
                    },
                    {
                        label: "Nombre",
                        field: "nombre",
                        sort: true,
                    },
                    {
                        label: "Direccion",
                        field: "direccion",
                        sort: true,
                    },
                    {
                        label: "Ciudad",
                        field: "ciudad",
                        sort: true,
                    },
                    {
                        label: "Id. Propietario",
                        field: "id_propietario",
                        sort: true,
                    },
                    {
                        label: "Nombre Propietario",
                        field: "nombre_propietario",
                        sort: true,
                    },
                ],
                rows: data,
                routes: JSON.parse(this.routes),
                showInfo: {
                    show: false,
                    method: "",
                    enable: false,
                },
                create: {
                    show: false,
                    method: "createInmuebles",
                    enable: permission.create,
                },
                edit: {
                    show: false,
                    method: "editInmuebles",
                    enable: permission.edit,
                },
                delete: {
                    enable: permission.delete,
                },
            },
        };
    },
};
</script>

<style>
</style>
