<template>
    <md-dialog
        :md-active="Trampas.show"
        @close="closeModal"
    >
        <div class="modal-1 mh-100" style="width: 800px; overflow: auto">
            <mdb-modal-header class="text-center ">Crear Trampas</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
              <md-dialog-content>

                  <div class="row">
                  <div class="col" style="border: black solid 1px; border-radius: 10px;"  >
                      <form v-on:submit="addField">
                      <md-field :class="{
                        'md-invalid': this.errores.internalField
                     }">
                          <label>Nombre Interno del Campo</label>
                          <md-input v-model="campo.name" @input="validateInternal" required></md-input>
                          <span class="md-error">El campo es requerido, solo letras y guion bajo</span>
                      </md-field>
                      <md-field :class="{
                        'md-invalid': this.errores.labelField
                     }">
                          <label>Nombre del Campo para Mostrar</label>
                          <md-input v-model="campo.label"  @input="validateLabel" required></md-input>
                          <span class="md-error">El campo es requerido</span>
                      </md-field>
                      <md-field :class="{
                        'md-invalid': this.errores.typeField
                     }">
                          <label>Tipo de campo</label>
                          <md-select
                              v-model="campo.type"
                              name="tipo_campo"
                              id="tipo_campo"
                              required
                              @input="validateType"
                          >
                              <md-option v-bind:value="tipo.type" v-for="tipo in tipos" :key="tipo.type">{{ tipo.label }}</md-option>
                          </md-select>
                          <span class="md-error">El campo es obligatorio</span>
                      </md-field>
                      <div class="inline-block" v-if="this.campo.type==='select'">
                          <md-field :class="{
                        'md-invalid': this.errores.option
                     }"
                          >
                              <label>Agregar opcion</label>
                              <md-input v-model="labelOption"  @input="validateOption" ></md-input>
                          </md-field>
                          <md-button @click="addOption" icon="plus" :disabled="errores.option" color="primary"> Añadir opcion</md-button>
                      </div>
                      <md-list v-if="this.campo.type==='select'&&this.opciones.length!==0" >
                          <md-list-item v-for="option in opciones" :key="option.id">
                              <mdb-icon
                                  icon="minus-circle"
                                  @click.native="removeOption(option)"
                                  class="clickable-icon"
                              ></mdb-icon>
                              <span class="md-list-item-text"
                              >{{option.label}}</span
                              >
                          </md-list-item>
                      </md-list>
                      <div v-else-if="this.campo.type==='select'&&this.opciones.length===0">
                          No hay elementos en la lista
                      </div>
                          <div class="d-block">
                              <md-switch v-if="campo.type==='select'" v-model="campo.multiple">Seleccion Multiple</md-switch>
                              <md-switch v-model="campo.visible">Campo es Visible</md-switch>
                              <md-switch v-model="campo.inCert">Visible en Certificado</md-switch>
                              <md-switch v-model="campo.inReport">Visible en Reporte de Clientes</md-switch>
                              <md-switch v-model="campo.group" >Campo de Agrupacion</md-switch>
                              <md-switch v-model="campo.required" >Campo Requerido</md-switch>
                          </div>
                          <md-button :disabled="haveErrors" type="submit" color="primary">Agregar Campo</md-button>

                  </form>
                  </div>
                  <div class="col" v-if="!isLoading">
                      <preview @edit="editField" :key="this.campos.length" :form="this.campos" @delete="deleteField"/>
                  </div>
                      <div class="col text-center" v-else>
                          <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
                      </div>
                  </div>

                  <div class="d-block">
                      <md-switch v-model="geoRefenced" >Agregar Georeferenciacion</md-switch>
                          <md-field :class="{
                        'md-invalid': this.errores.name
                        }"
                          >
                              <label>Nombre de la trampa</label>
                              <md-input v-model="name"  @input="validateName" required></md-input>
                          </md-field>
                  </div>
                      <mdb-modal-footer center>
                          <mdb-btn v-if="!isLoading"  color="indigo"
                                    @click.native="saveData"
                                   :disabled="this.errores.name&&this.campos.length<3"
                          >Guardar</mdb-btn>
                          <md-progress-spinner v-else md-mode="indeterminate"></md-progress-spinner>
                      </mdb-modal-footer>

                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";

Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
import Preview from "./preview";

export default {
    name: "create",
    components: {
        Preview,
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data() {
        return {
            editMode:false,
            isLoading:false,
            labelOption:"",
            errores:{
                internalField:true,
                labelField:true,
                typeField:true,
                option:true,
                name:true
            },
            tipos:[
                {type:'input',label:"Entrada de texto"},
                {type:'textarea',label:"Área de texto"},
                {type:'number',label:"Numerico"},
                {type:'select',label:"Lista"},
                {type:'date',label:"Fecha"},
                {type:'datetime',label:"Hora y Fecha"},
                {type:'switch',label:"Verdadero o Falso"}
            ],
            opciones:[],
            geoRefenced:false,
            name:"",
            campo:{
                name: "", type: "", label: "", visible: true, inCert: false, inReport: false, group: false, multiple: false, required: false
            },
                campos:[
                    {"name": "etiqueta", "type": "text", "label": "Etiqueta", "required": true, "visible": true, "disabled": false, "inCert":true,"group":false,"inReport":true,},
                    {"name": "uid", "label": "UUID", "required":true, "type": "text", "visible": false, "disabled": true,"inCert":false,"group":false,"inReport":true,}
                ]
        };
    },
    watch:{
      Trampas:{
          handler(){
              if(this.Trampas.payload.data!==undefined){
                  this.getTrampa(this.Trampas.payload.data.id);
              }
          },deep:true
      }
    },
    computed: {
        haveErrors:{
          get(){
              return this.errores.typeField||this.errores.labelField||this.errores.internalField;
          }
        },
        ...mapState(["Trampas"]),
        route:{
            get(){
                return this.Trampas.payload.route;
            }
        },
        Trampas:{
            get(){
                return this.$store.state.Trampas;
            }
        }
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape") {
                    this.closeModal();
                }
                if (e.key === "Enter") {
                    this.saveData();
                }
            },
            { passive: true }
        );

    },
    methods: {

        removeOption(el){
          this.opciones=this.opciones.filter((x)=>x.id!==el.id);
        },
        validateOption(){
            this.errores.option=this.labelOption.trim().length===0;
        },
        validateInternal(val){
            this.errores.internalField=!/^([a-zA-Z\-_]+)$/.test(val);
        },
        validateLabel(val){
          this.errores.labelField=val.trim().length===0;
        },
        validateType(val){
          this.errores.typeField=val.trim().length===0;
        },
        validateName(val){
            this.errores.name=val.trim().length===0;
        },
        addField(ev){
            if(ev!==undefined){
                ev.preventDefault();
            }
            if(this.campo.type==='select'){
                this.campo.options=this.opciones
            }
            this.campos.push(Object.assign({},this.campo));
            this.campo={
                name: "", type: "", label: "", required:false, visible: true, inCert: false, inReport: false, group: false, multiple: false
            };
            this.opciones=[];
            this.editMode=false;

        },
        addOption(){
            if(this.labelOption.trim()!==''){
                if(this.opciones.filter((el)=>el.label.toLowerCase()===this.labelOption.toLowerCase()).length>0){
                    this.errores.option=true;
                }else{
                    this.errores.option=false;
                    this.opciones.push({label: this.labelOption,id:this.makeid(5)})
                }
            }
        },
        deleteField(values){
            values.forEach((value)=>{
                this.campos=this.campos.filter(x=>x.name!==value);
            });
        },
        editField(values){
            if(this.editMode) {
                this.addField(undefined);
            }
            this.campo=Object.assign({},values);
            if(Object.keys(values).includes('options')){
                this.opciones=Array.from(values.options);
            }
            this.editMode=true;
        },
        closeModal() {
            this.$store.commit("hideCreateTrampas");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },
        makeid(length) {
            let result           = [];
            const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            const charactersLength = characters.length;
            for ( let i = 0; i < length; i++ ) {
                result.push(characters.charAt(Math.floor(Math.random() *
                    charactersLength)));
            }
            return result.join('');
        },
        saveData() {
            let payload={campos:this.campos,nombre:this.name,georeferenciada:this.geoRefenced}
            if(this.Trampas.payload.data!==undefined){
                if(this.Trampas.payload.data.id!==undefined){
                    payload.id=this.Trampas.payload.data.id
                }
            }
            axios.post(payload.id!==undefined?
                    this.Trampas.payload.route.update :
                    this.Trampas.payload.route.store
                    ,payload )
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Creado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });

                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                });
        },
        getTrampa(id){
            this.isLoading=true;
            axios.get(this.Trampas.payload.route.show,{
                params:{
                    id:id
                }
            }).then((resp)=>{
                this.campos= resp.data.campos;
                this.name=resp.data.nombre;
                this.geoRefenced=resp.data.georeferenciada;
                this.isLoading=false;
            })
        }
    },
};
</script>

<style scoped>
</style>
