<template>
    <mdb-container>

        <tableBody v-bind:data="this.data">
            <template v-slot:create>
                <create></create>
            </template>
        </tableBody>
    </mdb-container>
</template>

<script>
import tableBody from "../../misc/grid-editable";
import { mdbContainer, mdbBtn } from "mdbvue";
import create from "./create";
export default {
    name: "index",
    props: ["routes", "trampas", "permissions"],
    components: {
        mdbContainer,
        tableBody,
        create,
        mdbBtn
    },
    data() {
        let permissions = JSON.parse(this.permissions);
        let rowsData = JSON.parse(this.trampas)
        return {
            json_data: rowsData,
            data: {
                nombreTabla: "Trampas ",
                columns: [
                    {
                        label: "Id",
                        field: "id",
                        sort: true,
                    },
                    {
                        label: "Nombre",
                        field: "nombre",
                        sort: true,
                    },
                    {
                        label: "Campos",
                        field: "campos",
                        sort: true,
                    },
                ],
                rows: rowsData.map((el)=>{
                    return {
                        ...el,
                        campos: el.campos.map((e)=>e.name).join(',')
                    }
                }),
                routes: JSON.parse(this.routes),
                showInfo: {
                    show: false,
                    method: "createTrampas",
                    enable: false,
                },
                create: {
                    show: true,
                    method: "createTrampas",
                    enable: permissions.create,
                },

                edit: {
                    show: true,
                    method: "createTrampas",
                    enable: permissions.edit,
                },
                delete: {
                    enable: permissions.delete,
                },
            },
        };
    },
};
</script>

<style scoped>
</style>

