<template>
    <div style="border: black solid 1px; border-radius: 10px;">
        <md-card-header>Pre visualizacion</md-card-header>
        <md-card-content >
            <div class="inline-block" v-for="field in form" :key="field.name">
                <md-field v-if="field.type!=='select'&&field.type!=='date'" >
                    <label>{{field.label}}</label>
                    <md-input required :type="field.type" :disabled="!field.visible" ></md-input>
                    <md-checkbox v-model="toDelete" :value="field.name" v-if="field.name!=='uid'&&field.name!=='etiqueta'"></md-checkbox>
                </md-field>
                <md-field v-else-if="field.type==='select'" >
                    <label>{{field.label}}</label>
                    <md-select name="select_field" id="select_field">
                        <md-option disabled v-for="options in field.options" :key="options.id">{{ options.label }}</md-option>
                    </md-select>
                    <md-checkbox v-model="toDelete" :value="field.name" v-if="field.name!=='uid'&&field.name!=='etiqueta'"></md-checkbox>
                </md-field>
                <md-datepicker v-else-if="field.type==='date'">
                    <label>{{field.label}}</label>
                    <md-checkbox v-model="toDelete" :value="field.name" v-if="field.name!=='uid'&&field.name!=='etiqueta'"></md-checkbox>
                </md-datepicker>
            </div>
            <span>El campo "Etiqueta" y "UUID" son atributos del sistema para identificar el registro</span>
        </md-card-content>

        <md-card-actions >
            <md-button v-if="toDelete.length===1" class="md-active"
                       @click="editElement"
            >Editar elementos</md-button>
            <md-button v-if="toDelete.length>0"   class="md-accent"
                     @click="deleteElement"
            >Eliminar elementos</md-button>
        </md-card-actions>
    </div>
</template>

<script>
export default {
    props:{
      form:{
          type:Array,
          required:false,
      }
    },
    name: "preview",
    data(){
        return {
            toDelete:[]
        }
    },
    methods:{
        deleteElement(){
            this.$emit('delete',this.toDelete);
        },
        editElement(){
            this.$emit('edit',this.form.find(x=>x.name===this.toDelete[0]));
           this.deleteElement();
           this.toDelete.shift();

        }
    }
}
</script>

<style scoped>

</style>
