<template>
    <md-dialog :md-active="this.createFactura.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">
                Crear Factura</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <md-autocomplete
                        v-model="termCertificados"
                        :md-options="certificados"
                        @md-changed="searchCertificado"
                        @md-opened="searchCertificado"
                        @md-selected="selectedCertificado"
                        autocomplete="off"
                    >
                        <label>Certificados</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.folio }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro el certificado
                        </template>
                    </md-autocomplete>
                    <md-field>
                        <label for="certificados">Certificados</label>
                        <md-select
                            name="certificados"
                            id="certificados"
                            multiple
                            disabled
                            v-model="factura.certificados"
                        >
                            <md-option
                                v-for="certificado in listCertificados"
                                v-bind:value="certificado.folio"
                                v-bind:key="certificado.folio"
                                >{{ certificado.folio }}</md-option
                            >
                        </md-select>
                    </md-field>

                    <mdb-input
                        label="Num. Factura"
                        class="mb-5"
                        v-model="factura.num_factura"
                    />
                    <mdb-input
                        type="date"
                        label="Fecha"
                        class="mb-5"
                        v-model="factura.fecha"
                    />
                    <mdb-input
                        label="Bruto"
                        class="mb-5"
                        v-on:input="calculateIva"
                        v-model="bruto"
                    />
                    <mdb-input label="IVA" class="mb-5" v-model="factura.iva" />
                    <mdb-input
                        label="Neto"
                        class="mb-5"
                        v-model="factura.total"
                        v-on:input="calculateIva(this.bruto)"
                    />

                    <div class="warning-color" v-if="advirsment">{{message}}</div>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>

<script>
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
import {
    mdbBtn,
    mdbModal,
    mdbModalBody,
    mdbModalFooter,
    mdbModalHeader,
    mdbInput,
    mdbSelect,
} from "mdbvue";
export default {
    name: "create",
    components: {
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbSelect,
    },
    watch:{
        "factura.certificados":{
          handler(){
              this.searchIva();
          },deep:true
        },
      createFactura:{
          handler(){
                  this.factura.certificados=this.Addcertificados.map(x=>x.folio);
                  this.Addcertificados.map(x=>{
                      this.bruto+=x.valor;
                  });
                  this.searchIva();
                  this.calculateIva(this.bruto);

          },deep:true
      },
    },

    computed: {
        ...mapState(["createFactura"]),
        Addcertificados:{
            get(){
                return this.$store.state.FactureCerts;
            },
            set(val){
                this.$store.commit('FactureCerts',val);
            }
        }
    },
    data() {
        return {
            bruto:0,
            factura: {
                certificados: [],
                num_factura: "",
                iva: 0,
                total: 0,
                fecha: "",
            },
            route: "",
            advirsment:false,
            message:"",
            termCertificados:"",
            listCertificados: [],
            certificados:[],
            certs:[]
        };
    },
    updated() {
        if (this.createFactura.show && this.route === "") {
            this.route = this.createFactura.payload.route;
            axios.get('/certificados/pendientes',{params:{cantidad:5}}).then((response) => {
                this.listCertificados = response.data.map(
                    (certificado) => {
                        return {folio:certificado.folio,valor:certificado.valor};
                    }
                );
            });
        }

    },
    methods: {
        calculateIva(val){
            if(val>0){
                try{
                    this.advirsment=false;
                    this.message="";
                    this.factura.total=parseInt(val)+(parseInt(val*(this.factura.iva/100)));
                }catch (e) {
                    this.advirsment=true;
                    this.message="No se ha podido calcular el iva";
                }
            }
        },
        searchIva(){
            if(this.factura.certificados.length>0&&this.factura.iva===0) {
                axios.get('/clientes/tipo',{
                    params:{
                        folios:this.factura.certificados
                    }
                }).then((resp)=>{
                    if(resp.data.length>0&&Array.isArray(resp.data)){
                        let repeat=0;
                        let first=true;
                        resp.data.map((el)=>{
                            if(first){
                                repeat=el;
                                first=!first;
                            }else{
                                if(repeat!==el){
                                    this.advirsment=true;
                                    this.message="Los certificados seleccionados no corresponden a un mismo tipo de cliente";
                                }
                            }
                        });
                        if(this.advirsment===false){
                            this.message="";
                            resp.data.map((el)=>{
                                this.factura.iva=el;
                            })
                            this.calculateIva(this.bruto);
                        }
                    }

                });
            }
        },
        closeModal() {
            this.$store.commit("hideCreateFactura");
            this.Addcertificados=[];
        },
        selectedCertificado(value, text) {
            if(this.factura.certificados.find(item => item.folio === value)){
                return
            }

            this.factura.certificados.push(value)
            this.termCertificados = ""
        },
        searchCertificado(searchTerm){
            this.certificados = new Promise((resolve) => {
                window.setTimeout(async() => {
                    if (!searchTerm) {
                        resolve(this.listCertificados);
                    } else {
                        resolve(
                            this.listCertificados= await axios.get('/certificados/pendientes',{params:{cantidad:5,folio:searchTerm}}).then((resp)=>{
                                this.certs=resp.data;

                                return resp.data.map((cert)=>{

                                    return {folio:cert.folio,valor:cert.valor};
                                })
                            })
                        );
                    }
                }, 1500);
            });
        },
        saveData() {
            axios
                .post(this.route.store, { ...this.factura })
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Creado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });

                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                })
                .catch((e) => {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Ha ocurrido un error",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
        },
    },
};
</script>

<style scoped>
</style>
