<template>
    <md-dialog :md-active="this.editFactura.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">
                Editar Factura {{ factura.num_factura }}</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <md-autocomplete
                        v-model="termCertificados"
                        :md-options="certificados"
                        @md-changed="searchCertificado"
                        @md-opened="searchCertificado"
                        @md-selected="selectedCertificado"
                        autocomplete="off"
                    >
                        <label>Certificados</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro el certificado
                        </template>
                    </md-autocomplete>
                    <md-field>
                        <label for="certificados">Certificados</label>
                        <md-select
                            name="certificados"
                            id="certificados"
                            multiple
                            disabled
                            v-model="factura.certificados"
                        >
                            <md-option
                                v-for="certificado in factura.certificados"
                                v-bind:value="certificado"
                                v-bind:key="certificado"
                                >{{ certificado }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <br>
                    <mdb-input
                        type="date"
                        label="Fecha"
                        class="mb-5"
                        v-model="factura.fecha"
                    />
                    <mdb-input label="IVA" class="mb-5" v-model="factura.iva" />
                    <mdb-input
                        label="Total"
                        class="mb-5"
                        v-model="factura.total"
                    />
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo">Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>

<script>
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
import {
    mdbBtn,
    mdbModal,
    mdbModalBody,
    mdbModalFooter,
    mdbModalHeader,
    mdbInput,
} from "mdbvue";
export default {
    name: "edit",
    computed: mapState(["editFactura"]),
    components: {
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
    },
    watch:{
        editFactura:{
            handler(){
                if(this.editFactura.payload!==undefined){
                   this.factura.certificados=this.editFactura.payload.data.certificados.map(x=>x.folio);
                   this.factura.num_factura=this.factura.num_factura=this.editFactura.payload.data.num_factura;
                   this.factura.iva=this.editFactura.payload.data.iva;
                   this.factura.fecha=this.editFactura.payload.data.fecha;
                   this.factura.id=this.editFactura.payload.data.id;
                   this.factura.total=this.editFactura.payload.data.total;
                }
            },deep:true
        }
    },
    data() {
        return {
            factura: {
                certificados: "",
                num_factura: "",
                iva: 19,
                total: 0,
                fecha: "",
            },
            route: "",
            termCertificados:"",
            certificados:[],
            listCertificados: []
        };
    },
    methods: {
        closeModal() {
            this.factura= {
                certificados: "",
                num_factura: "",
                iva: 19,
                total: 0,
                fecha: "",
            }
            this.route= "",
            this.listCertificados= []
            this.$store.commit("hideEditFactura");
        },
        selectedCertificado(value, text) {
            if(this.factura.certificados.find(item => item === value)){
                return
            }
            this.factura.certificados.push(value)
            this.termCertificados = ""
        },
         searchCertificado(searchTerm){

                axios.get('/certificados/pendientes',{params:{cantidad:5,folio:searchTerm}}).then((resp)=>{
                    if(resp.status===200){
                        this.certificados=resp.data.map(x=>x.folio);
                    }
                });
        },
        saveData() {
            axios
                .post(this.editFactura.payload.route.update, { ...this.factura })
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Creado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });

                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                })
                .catch((e) => {
                    console.log("error",e);
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Ha ocurrido un error",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
        },
    },
};
</script>

<style>
</style>
