<template>
    <mdb-container>
        <tableBody v-bind:data="this.data">
            <template v-slot:edit>
                <edit></edit>
            </template>
        </tableBody>
       <div class="mt-3 pt-2 pb-4 mb-2">
           <pendientes/>
       </div>
    </mdb-container>
</template>

<script>
import tableBody from "../misc/grid-editable";
import { mdbContainer } from "mdbvue";
import edit from "./edit";
import create from "./create";
import Pendientes from "../dashboard/pendientes";
export default {
    name: "index",
    props: ["facturas", "routes", "permissions"],
    components: {
        Pendientes,
        mdbContainer,
        tableBody,
        create,
        edit,
    },
    data() {
        let permission = JSON.parse(this.permissions);
        return {
            data: {
                nombreTabla: "Facturas ",
                searchFields:true,
                columns: [
                    {
                        label: "N. Factura",
                        field: "num_factura",
                        sort: true,
                    },
                    {
                        label: "IVA",
                        field: "iva",
                        sort: true,
                    },
                    {
                        label: "Total",
                        field: "total",
                        sort: true,
                    },
                    {
                        label: "Fecha",
                        field: "fecha",
                        sort: true,
                    },
                ],
                rows: JSON.parse(this.facturas),
                routes: JSON.parse(this.routes),
                showInfo: {
                    show: false,
                    method: "",
                    enable: false,
                },
                create: {
                    show: false,
                    method: "createFactura",
                    enable: permission.create,
                },
                edit: {
                    show: false,
                    method: "editFactura",
                    enable: permission.edit,
                },
                delete: {
                    enable: permission.delete,
                },
            },
        };
    },
};
</script>

<style scoped>
</style>
