<template>
<div :ref="reference" class="gmap" ></div>
</template>

<script>
import { Loader } from '@googlemaps/js-api-loader';
import Vue from 'vue';
export default {
    name: "g-maps",
    props:{
        reference:{
          type:String,
          default:"map"
        },
        libraries:{
            type:Array,
            default:()=>["places","geometry"]
        },
        version:{
            type:String,
            default:"weekly"
        },
        language:{
            type:String,
            default:"es"
        },
        region:{
            type:String,
            default:"CL"
        },
        apiKey:{
            type:String,
            default:Vue.prototype.$GoogleMapsApiKey
        },
        simpleRoute:{
            type:Object,
            default:undefined
        },
        roadMap:{
            type:Object,
            default:undefined
        },
        supressMarkers:{
            type:Boolean,
            default:true,
        },
        geoReferenceMode:{
            type:String,
            default:'direcctions'
        }
    },
    data(){
        return{
            delay:500,
            nextAddress:0,
            mapOptions:{
                center:{
                    lat:0,
                    lng:0
                },
                zoom:7,
                gestureHandling: 'greedy'
            },
            loader:undefined,
            directionsService:undefined,
            directionsRenderer:undefined,
            geocoderService:undefined,
            gmap:undefined,
            bounds:undefined,
            points:[],
            referenceObject:undefined,
        }
    },
 /*
    watch:{
      simpleRoute:{
          handler(){
              console.log("SIMPLE ROUTE UPDATED ")
              this.initializeMap();
          },deep:true
      }
    },
  */
    mounted() {
       this.initializeMap();
    },
    methods:{
        initializeMap(){
            this.initialize();
            this.modeSelector();

        },
        modeSelector(){
            if(this.simpleRoute!==undefined){
                setTimeout(()=>{
                  this.simpleRouteRender(this.simpleRoute.origin,this.simpleRoute.destination);
                    this.searchAddress(this.simpleRoute.destination,false);
                },this.delay)
                return;
            }
            if(this.roadMap!==undefined){
                setTimeout(()=>{
                    this.roadMap.waypoints.map(el=>this.points.push({
                        location: el,
                        stopover: true,
                    }));
                    this.calcRoadMap(this.roadMap.origin,this.roadMap.destination,this.roadMap.this.points);
                },this.delay)
            }
        },
        loadSimpleRoute(){
          this.simpleRouteRender(this.simpleRoute.origin,this.simpleRoute.destination);
        },
        initialize(){
            if(!(window.google && window.google.maps && window.google.maps.version)) {
                this.loader=new Loader({
                    apiKey:this.apiKey,
                    version:this.version,
                    libraries:this.libraries,
                    language:this.language,
                    region:this.region,
                });
                this.loader.load().then(()=>{
                    this.loadMapFunctions();
                }).catch(e=>{
                    console.log("Error al cargar mapas",e);
                });
            }else{
                this.loadMapFunctions();
            }
        },
        loadMapFunctions(){
           // try{
                this.directionsService = new window.google.maps.DirectionsService();
                this.directionsRenderer = new window.google.maps.DirectionsRenderer({suppressMarkers: this.supressMarkers});
                this.geocoderService = new window.google.maps.Geocoder();
                this.gmap = new window.google.maps.Map(this.$refs[this.reference],this.mapOptions);
                this.directionsRenderer.setMap(this.gmap);
                //this.bounds= new google.maps.LatLngBounds();
                //this.gmap.fitBounds(this.bounds);

        },
        searchAddress(address,marker){
            this.geocoderService.geocode({ address: address }, (results, status) => {
                if (status === google.maps.DirectionsStatus.OK) {
                    if(marker){
                        this.gmap.setCenter(results[0].geometry.location);
                        new google.maps.Marker({
                            map: this.gmap,
                            position: results[0].geometry.location,
                        });
                    }else{
                        this.$emit('destination',{latitude:results[0].geometry.location.lat(),longitude:results[0].geometry.location.lng()})
                    }
                }
            });
        },

        calcRoadMap(origin,destination,waypoints) {
             var request={
                 origin: origin,
                 destination: destination,
                 travelMode: google.maps.TravelMode.DRIVING,
                 waypoints: waypoints,
                 optimizeWaypoints: true,

             };

            points.map((el)=>this.searchAddress(el.location,true))
            this.directionsService.route(request, (result, status)=> {
                if(status === 'OK') {
                    this.directionsRenderer.setDirections(result);
                }
            });
        },
        simpleRouteRender(origin,destination){
            var request={
                origin: origin,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING,
                optimizeWaypoints: true,

            };
            this.directionsService.route(request, (result, status)=> {
                if(status === 'OK') {
                    this.directionsRenderer.setDirections(result);
                    this.searchAddress(destination,false);
                }else{
                    this.$emit('possible-error',true);
                }
                if(result!==undefined){
                    result.geocoded_waypoints.forEach((el)=>{
                        if(el.partial_match){
                            this.$emit('possible-error',true);
                        }
                    });
                }

            });
        },
    }
}
</script>

<style>
.gmap {
    height: 450px;
    padding-right: 0px!important;
    padding-left: 0px!important;
    display: block!important;
}
</style>
