<template>
    <div class="col">
        <h5 class="text-info text-center d-block"><mdb-icon size="lg" icon="user-circle" /> Datos del Cliente</h5>
        <div class="row bordered flex-space-arround pr-1 pl-1 align-items-center">
           <div class="col">
               <div class="text-info text-center">Inmueble</div>
               <mdb-input
                   required
                   label="Nombre"
                   class="mb-5"
                   v-model="inmueb.nombre"
                   disabled
               />
               <mdb-input
                   required
                   label="Direccion"
                   class="flex-auto pl-1 pr-1"
                   v-model="inmueb.direccion"
                   disabled
               />
               <mdb-input
                   label="Ciudad"
                   class="mb-5"
                   v-model="inmueb.ciudad"
                   disabled
               />
           </div>
            <div class="col">
                <div class="text-info text-center">Cliente</div>
                <mdb-input
                    label="Nombre "
                    class="mb-5"
                    v-model="inmueb.propietario.nombre"
                    disabled
                />
                <mdb-input
                    v-autofocus
                    label="Rut"
                    class="mb-5"
                    v-model="inmueb.propietario.rut"
                    disabled
                />
                <mdb-input
                    v-autofocus
                    label="Direccion"
                    class="flex-auto pl-1 pr-1"
                    required
                    v-model="inmueb.propietario.direccion_principal"
                    disabled
                />
            </div>
        </div>
        <div class="row">
            <md-field>
                <label for="inmueble">Buscar por</label>

                <md-select
                    id="inmueble"
                    v-model="search.field">
                    <md-option
                        v-for="inmuebleOpt in listFieldsInmueble"
                        v-bind:value="inmuebleOpt"
                        v-bind:key="inmuebleOpt"
                    >{{ inmuebleOpt }}</md-option>
                </md-select>
            </md-field>
            <md-autocomplete
                v-model="termInmueble"
                required
                :md-options="listInmuebles"
                @md-changed="getInmuebles"
                @md-opened="getInmuebles"
                @md-selected="selectedInmueble"
            >
                <label>Inmueble</label>
                <template
                    slot="md-autocomplete-item"
                    slot-scope="{ item }"
                >
                    {{ item[search.field] }}
                </template>
                <template slot="md-autocomplete-empty">
                    No se encontro el inmueble
                </template>
            </md-autocomplete>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import {mdbIcon, mdbInput,} from "mdbvue";

export default {
    name: "inmueble",
    props:{
        inmueble:{
            type:Object,
            default:()=>{
                return {
                    id:undefined,
                    ciudad:undefined,
                    direccion:undefined,
                    id_propetario:undefined,
                    latitude:undefined,
                    longitude:undefined,
                    nombre:undefined,
                    propietario:{
                        id:undefined,
                        nombre:undefined,
                        nombre_fantasia:undefined,
                        rut:undefined,
                        direccion_principal:undefined,
                        ciudad:undefined,
                        fono:undefined,
                        email:undefined,
                    }
                }
            }
        }
    },
    data(){
        return{
            search:{
                field:"nombre",
                search:""
            },
            listFieldsInmueble:["nombre","direccion"],
            Inmueble:undefined,
            termInmueble:"",
            listInmuebles: [],
        }
    },
    computed:{
      inmueb:{
          get(){
              if(this.Inmueble===undefined){
                  this.Inmueble=this.inmueble;
              }
              return this.Inmueble;
          },
          set(val){
              this.Inmueble=val;
          }
      }
    },
    components:{
        mdbIcon,
        mdbInput,
    },
    methods:{
        async getInmuebles() {
            if(typeof this.termInmueble==='string'){
                this.search.search=this.termInmueble;
            }
            let route="";
            if(this.inmueb.propietario.id!==undefined){
                this.route=`/inmuebles/propietario/${this.inmueb.propietario.id}`;
            }else{
                this.route=`/inmuebles/search`
            }
            this.listInmuebles = axios
                .get(this.route, {
                    params: {
                        ...this.search
                    },
                })
                .then((result) => {
                    return result.data.data
                });
        },
        selectedInmueble(selected){
            this.inmueb = selected;
            this.termInmueble = selected.nombre;
            this.$emit('selected-inmueble',selected);
        },
    }
}
</script>

<style scoped>

</style>
