<template>
    <div class="col">
        <h5 class="text-info text-center d-block"><mdb-icon size="lg" icon="home" /> Encomienda trabajo</h5>
        <div class="row bordered flex-space-arround pr-1 pl-1 align-items-center">

            <mdb-input
                label="Nombre"
                required
                v-model="client.nombre"
                disabled
            />
            <mdb-input
                v-autofocus
                label="Nombre de Fantasia"
                required
                v-model="client.nombre_fantasia"
                disabled
            />
            <mdb-input
                v-autofocus
                label="Rut"
                required
                v-model="client.rut"
                disabled
            />

            <mdb-input
                v-autofocus
                label="Ciudad"
                v-model="client.ciudad"
                disabled
            />
            <mdb-input
                v-autofocus
                label="Fono"
                v-model="client.fono"
                disabled
            />
            <mdb-input
                v-autofocus
                label="E-Mail"
                required
                v-model="client.email"
                disabled
            />
            <mdb-input
                v-autofocus
                class="flex-auto pl-1 pr-1"
                label="Direccion Principal"
                required
                v-model="client.direccion_principal"
                disabled
            />


        </div>
        <div class="row">
            <md-field>
                <label for="cliente">Buscar por</label>
                <md-select
                    id="cliente"
                    required
                    v-model="search.field"
                >
                    <md-option
                        v-for="clientSearch in listFieldsClient"
                        v-bind:value="clientSearch"
                        v-bind:key="clientSearch"
                    >{{ clientSearch }}</md-option>
                </md-select>
            </md-field>
            <md-autocomplete
                required
                v-model="termCliente"
                :md-options="listClientes"
                @md-changed="getClientes"
                @md-opened="getClientes"
                @md-selected="selectedCliente"
            >
                <label>Solicitante</label>
                <template
                    slot="md-autocomplete-item"
                    slot-scope="{ item }"
                >
                    {{ item[search.field] }}
                </template>
                <template slot="md-autocomplete-empty">
                    No se encontro el solicitante
                </template>
            </md-autocomplete>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { mdbIcon, mdbInput} from 'mdbvue'
export default {
name: "encomienda-trabajo",
    props:{
        cliente:{
            type:Object,
            default:()=>{return {
                id:undefined,
                nombre:undefined,
                nombre_fantasia:undefined,
                rut:undefined,
                direccion_principal:undefined,
                ciudad:undefined,
                fono:undefined,
                email:undefined,
            }}
        }
    },
    components:{
        mdbIcon,
        mdbInput,
    },
    data(){
        return{
            search:{
                field:"nombre",
                search:""
            },
            Cliente:undefined,
            listFieldsClient:["nombre","ciudad","rut"],
            termCliente:"",
            listClientes:[],

        }
    },
    computed:{
    client:{
        get(){
            if(this.Cliente===undefined){
                this.Cliente=Object.assign({},this.cliente)
            }
                return this.Cliente;
        },
        set(val){
            this.Cliente=Object.assign({},val);
        }
    }
    },
    methods:{
        async getClientes() {
            if(typeof this.termCliente==='string'){
                this.search.search=this.termCliente;
            }
            setTimeout(()=>{
                this.listClientes = axios
                    .get("/clientes/search", {
                        params: {
                            ...this.search
                        },
                    })
                    .then((result) => {
                        return result.data.data;
                    });
            },300)

        }, selectedCliente(selected) {
            this.termCliente = selected.nombre;
            this.client=selected;

           this.$emit('selected-cliente',selected);
        },
    }
}
</script>

<style scoped>

</style>
