<template>
    <div >
        <h5 class="text-info text-center d-block"><mdb-icon size="lg" far icon="calendar-check" /> Datos de Agenda</h5>
        <div class="bordered pr-1 pl-1 align-items-center">
            <div class="col">
                <mdb-input
                    label="Hora de inicio"
                    required
                    v-model="Horario.hora_inicio"
                    type="time"
                />
                <mdb-input
                    label="Hora de termino estimada"
                    required
                    type="time"
                    v-model="Horario.hora_fin"
                />
                <md-field v-if="!isLoading">
                    <label for="motivo_visita">Motivo visita</label>
                    <md-select v-model="motivo_visita" name="motivo_movimiento" id="motivo_visita">
                        <md-option  :value="motivo.id" v-for="motivo in listMotivos" :key="motivo.id">{{motivo.motivo}}</md-option>
                    </md-select>

                </md-field>
                <div class="text-center" v-else>
                    <md-progress-spinner  md-mode="indeterminate"></md-progress-spinner>
                </div>
            </div>
            <div class="col ">
                <mdb-input
                    label="Fecha seleccionada"
                    disabled
                    v-model="Horario.fecha"
                />
                <md-switch
                    v-model="Horario.withFrecuency"
                >Establecer frecuencia</md-switch>
                <mdb-input
                    v-if="Horario.withFrecuency"
                    label="Dias"
                    type="number"
                    v-model="Horario.frecuency"
                />
            </div>
        </div>

    </div>

</template>

<script>
import {mdbInput,mdbIcon} from 'mdbvue'
import axios from "axios";
export default {
    name: "horario",
    components:{
      mdbInput,
        mdbIcon
    },
    props:{
        horario:{
            type:Object,
            default:undefined
        },
        id_motivo_visita:{
            type:Number,
            default:2
        }
    },
    computed:{
        Horario:{
            get(){
                return this.horario;
            },
            set(val){
                this.$emit('selected-horario',
                    {
                        allRoutes:val.allRoutes,
                        withFrecuency:val.withFrecuency,
                        frecuency:val.frecuency,
                        horario:val,
                        horario_inicio:val.fecha+' '+val.hora_inicio,
                        horario_fin:val.fecha+' '+val.hora_fin,
                        motivo_visita:this.motivo_visita
                    }
                );

            }
        }
    },
    watch:{
        listMotivos:{
          handler(){
              this.selectedHorario();
          },deep:true
        },
        Horario:{
            handler(){
                this.selectedHorario();
            },deep:true
        }
},
    data(){
        return {
            listMotivos:[],
            motivo_visita:0,
            isLoading:false
        }
    }
,created() {
        this.isLoading=true;
        axios.get('/rutas/create').then((resp)=>this.listMotivos=resp.data);
        this.isLoading=false;
        this.motivo_visita=this.id_motivo_visita;
    },
    updated() {
        this.selectedHorario();
    },
    methods:{
        selectedHorario(){
            if(this.horario.fecha!==undefined){
                //this.Horario.withFrecuency=this.Horario.withFrecuency===undefined?false:this.Horario.withFrecuency;
                if(!this.horario.withFrecuency){
                    this.$emit('selected-horario',
                        {
                            withFrecuency:this.Horario.withFrecuency,
                            frecuency:this.Horario.frecuency,
                            horario:this.Horario,
                            horario_inicio:this.Horario.fecha+' '+this.Horario.hora_inicio,
                            horario_fin:this.Horario.fecha+' '+this.Horario.hora_fin,
                            motivo_visita:this.motivo_visita
                        }
                    );
                }else{
                    this.$emit('selected-horario',
                        {
                            withFrecuency:this.Horario.withFrecuency,
                            frecuency:this.Horario.frecuency,
                            horario:this.Horario,
                            horario_inicio:this.Horario.hora_inicio,
                            horario_fin:this.Horario.hora_fin,
                            motivo_visita:this.motivo_visita
                        }
                    );
                }
            }
        }
    }
}
</script>

<style scoped>

</style>
