<template>
    <div>
        <h5 class="text-info text-center d-block"><mdb-icon icon="map-marked-alt" /> Ruta del Técnico aplicador</h5>
        <g-maps @destination="updateLocation" :apiKey="apikey" v-if="!isLoading" :simple-route="this.routeData" :supress-markers="false">
        </g-maps>
        <div class="text-center" v-else>
            <md-progress-spinner  md-mode="indeterminate"></md-progress-spinner>
        </div>
    </div>
</template>

<script>
import GMaps from "../../misc/maps/g-maps";
import {mdbIcon} from 'mdbvue'
import Vue  from 'vue'
import axios from 'axios'
export default {
name: "ruta",
    props:{
    ruta:{
        type:Object,
        default:()=>{return {

        }}
    }
    },
    components: {GMaps,mdbIcon},
    watch:{
    "ruta.inmueble":{
        handler(){
            this.requestData();
        },deep:true
    },
        "ruta.user":{
            handler(){
                this.requestData()
            },deep:true
        }
    },
    data(){
        return{
            apikey:Vue.prototype.$GoogleMapsApiKey,
            isLoading:false,
            routeData:{
                origin:undefined,
                destination:undefined
            },
        }
    },
    created() {
        this.requestData();
    },
    methods:{
        requestData(){
            this.isLoading=true;
            if(this.ruta.id!==undefined){
                axios.get(`/rutas/show/${this.ruta.id}`).then((resp)=> this.processRequest(resp));
            }else{
                axios.get(`/rutas/last/${this.ruta.horario.fecha}/${this.ruta.user.id!==undefined?this.ruta.user.id:0}`).then((resp)=>{
                    this.processRequest({data:{from:resp.data.from,to:{inmueble:this.ruta.inmueble}}})
                })
            }
        },
        updateLocation(location){
            this.$emit("new-location",location);
        },
        processRequest(resp){
            if(resp.data.from.inmueble!==undefined){
                this.routeData.origin=[resp.data.from.inmueble.direccion,resp.data.from.inmueble.ciudad].join(',')
            }else{
                this.routeData.origin=resp.data.from
            }
            if(resp.data.to.inmueble!==undefined){
                this.routeData.destination= [resp.data.to.inmueble.direccion,resp.data.to.inmueble.ciudad].join(',');
            }else{
                this.routeData.destination= resp.data.to;
            }

            this.isLoading=false;
        },

    }
}
</script>

<style scoped>

</style>
