<template>
    <div class="col">
        <h5 class="text-info text-center d-block"><mdb-icon size="lg" icon="briefcase" /> Datos del Usuario Aplicador</h5>
        <div class="row bordered flex-space-arround pr-1 pl-1 align-items-center">
            <mdb-input
                label="Nombre"
                required
                v-model="usr.nombre"
                disabled
            />
            <mdb-input
                v-autofocus
                label="Nombre de Fantasia"
                required
                v-model="usr.email"
                disabled
            />
            <mdb-input
                v-autofocus
                label="Rut"
                required
                v-model="usr.rut"
                disabled
            />
        </div>

            <md-field>
                <label for="usuario">Buscar por</label>
                <md-select
                    id="usuario"
                    required
                    v-model="search.field"
                >
                    <md-option
                        v-for="clientSearch in listFieldsUser"
                        v-bind:value="clientSearch"
                        v-bind:key="clientSearch"
                    >{{ clientSearch }}</md-option>
                </md-select>
            </md-field>
            <md-autocomplete
                required
                v-model="termUser"
                :md-options="listUsers"
                @md-changed="getClientes"
                @md-opened="getClientes"
                @md-selected="selectedCliente"
            >
                <label>Usuario</label>
                <template
                    slot="md-autocomplete-item"
                    slot-scope="{ item }"
                >
                    {{ item[search.field] }}
                </template>
                <template slot="md-autocomplete-empty">
                    No se encontro el usuario
                </template>
            </md-autocomplete>
        </div>

</template>

<script>
import axios from "axios";
import { mdbIcon, mdbInput} from 'mdbvue'
export default {
    name: "usuario",
    props:{
        user:{
            type:Object,
            default:()=>{return {
                car_location: undefined,
                email: undefined,
                fcm_token: undefined,
                firma: undefined,
                id: undefined,
                isAdmin: undefined,
                location: undefined,
                nombre: undefined,
                patente: undefined,
                rut: undefined,
                tec_a_cargo: undefined,
                tecnico_a_cargo: undefined,
                updated_at: undefined
            }}
        }
    },
    components:{
        mdbIcon,
        mdbInput,
    },
    data(){
        return{
            search:{
                field:"nombre",
                search:""
            },
            User:undefined,
            listFieldsUser:["nombre","rut"],
            termUser:"",
            listUsers:[],
        }
    },
    computed:{
        usr:{
            get(){
                if(this.User===undefined){
                    this.User=Object.assign({},this.user)
                }
                return this.User;
            },
            set(val){
                this.User=Object.assign({},val);
            }
        }
    },
    methods:{
        async getClientes() {
            if(typeof this.termUser==='string'){
                this.search.search=this.termUser;
            }
            setTimeout(()=>{
                this.listUsers = axios
                    .get("/user/search", {
                        params: {
                            ...this.search
                        },
                    })
                    .then((result) => {
                        return result.data.data;
                    });
            },300)

        }, selectedCliente(selected) {
            this.termUser = selected.nombre;
            this.usr=selected;
            this.$emit('selected-user',selected);
        },
    }
}
</script>

<style scoped>

</style>
