<template>
    <div>
        <div class="list-left">
            <md-list v-if="!isLoading" >
                <Draggable :group="{ name:'client', pull:'clone', put:false } " :list="listClients" tag="div" ghost-class="move-item" class="md-list-item-default md-list-item-container md-button-clean">
                    <md-list-item class="text-center" v-for="client in listClients" :key="client.id" v-if="search.term!==''?client[search.key].toLowerCase().includes(search.term):true">
                        <md-chip
                            :class="color(client)===''?'md-primary':''"
                            @mouseover="focusedClient(client)"
                            :style="'background-color:'+color(client)+'!important; color: white;'" >
                            <mdb-icon icon="user-circle" />
                            {{client.nombre_fantasia}}</md-chip>
                    </md-list-item>
                </Draggable>
            </md-list>
    </div>
        <div class="inline-block text-center h3" >Tipo de Cliente:</div>
        <div class="inline-block text-center" v-if="!isLoadingColors">
            <div v-for="color in listColors" :style="'padding: 5px; color:white; background-color:'+color.color">{{color.tipo}}</div>
            <div style="padding: 5px; color:white; background-color:var(--md-theme-default-primary);"   >Sin Categorizar</div>
        </div>
    </div>

</template>

<script>
import axios from 'axios';
import Draggable from 'vuedraggable'
import {mdbIcon} from 'mdbvue';
export default {
    name: "list-client",
    components:{
        Draggable,
        mdbIcon
    },
    props: {
        search: {
            type: Object,
            default: function () {
                return {
                    field: {id: undefined, label: undefined}
                    , term: ""
                }
            }
        }
    },
    data(){
        return{
            isLoading:false,
            isLoadingColors:false,
            listClients:[],
            listColors:[]
        }
    },
    created() {
        this.loadUsers();
        this.loadTipoCliente();
    },
    methods:{
        focusedClient(el){
            this.$emit('client',el);
        },
        loadUsers(){
            this.isLoading=true;
            axios.get('/clientes/list').then((resp)=>{
                this.listClients=resp.data.data;
                setTimeout(()=>{
                    this.isLoading=false;
                },600);
            })

        },
        loadTipoCliente(){
            this.isLoadingColors=true;
            axios.get('/tipo_cliente/list').then((resp)=>{
                this.listColors=resp.data;
                setTimeout(()=>{
                    this.isLoadingColors=false;
                },400);
            })
        },
        color(user){
            try{
                return user.tipo_cliente!==null
                && user.tipo_cliente!==undefined?user.tipo_cliente.color!==null?`${user.tipo_cliente.color}` :'':'';
            }catch (e) {
                return '';
            }

        },

    },
}
</script>

<style  lang="scss">
.move-item{
    @apply opacity-50 bg-gray-100 border border-blue-500;
}
.list-left{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x:hidden;
}
</style>
