<template>
    <div class="list-left">
        <md-list>
            <Draggable  :group="{ name:'user', pull:'clone', put:false }"  :list="listUsers"   tag="div" ghost-class="move-item" class="md-list-item-default md-list-item-container md-button-clean">
                <md-list-item class="text-center" v-for="user in listUsers" :key="user.id" v-if="search.term!==''?user[search.key].toLowerCase().includes(search.term):true">
                    <md-chip
                        @mouseover="focusedUser(user)"
                        class="md-primary"
                    ><mdb-icon icon="user-circle" />
                        {{user.nombre}}</md-chip>
                </md-list-item>
            </Draggable>
        </md-list>
    </div>
</template>

<script>
import axios from 'axios';
import Draggable from 'vuedraggable'
import {mdbIcon} from 'mdbvue';
export default {
    name: "list-user",
    components:{
        Draggable,
        mdbIcon
    },
    props: {
        search: {
            type: Object,
            default: function () {
                return {
                    field: {id: undefined, label: undefined}
                    , term: ""
                }
            }
        }
    },
    data(){
        return{
            listUsers:[]
        }
    },
    mounted() {
     this.loadUsers();
    },
    methods:{
        loadUsers(){
            axios.get('/user/list/all').then((resp)=>{
                this.listUsers=resp.data;
            })
        },
        focusedUser(el){
            this.$emit('user',el);
        },
    }
}
</script>

<style  lang="scss">
.list-left{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.move-item{
    @apply opacity-50 bg-gray-100 border border-blue-500;
}
</style>
