<template>
    <md-dialog :md-active="this.createUser.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'"
                >Crear Usuario</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input
                        label="Nombre de usuario"
                        class="mb-5"
                        v-model="user.nombre"
                        required
                    />
                    <mdb-input
                        label="Correo"
                        type="email"
                        v-model="user.email"
                        class="mb-5"
                        required
                    />
                    <mdb-input
                        label="Rut"
                        type="text"
                        v-on:keyup="rut()"
                        v-on:autocomplete="rut()"
                        v-on:change="rut()"
                        v-model="user.rut"
                        class="mb-5"
                        required
                    />
                    <mdb-input
                        label="Patente"
                        type="text"
                        class="mb-5"
                        v-model="user.patente"
                    />
                    {{ this.errores }}
                    <mdb-input
                        label="Contraseña"
                        type="password"
                        v-model="user.password"
                        class="mb-5"
                        required
                    />
                    <mdb-input
                        label="Repetir Contraseña"
                        type="password"
                        v-model="user.password_confirm"
                        class="mb-5"
                        required
                    />
                    <md-field>
                        <label for="roles">Rol</label>
                        <md-select v-model="user.role" name="roles" id="roles">
                            <md-option
                                v-bind:value="role.id"
                                v-for="role in this.roles"
                                :key="role.role_name"
                                >{{ role.role_name }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <md-autocomplete
                        v-model="termTecCargo"
                        :md-options="tecCargos"
                        @md-changed="searchTecCargo"
                        @md-opened="searchTecCargo"
                        @md-selected="selectedTecCargo"
                    >
                        <label>Tecnico a Cargo</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro el tecnico
                        </template>
                    </md-autocomplete>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import {
    mdbBtn,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import axios from "axios";
import Swal from "sweetalert2";
export default {
    name: "create",
    components: {
        mdbBtn,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
    },
    data() {
        return {
            termTecCargo: "",
            user: {
                nombre: "",
                email: "",
                rut: "",
                password: "",
                password_confirm: "",
                role: 0,
                tec_a_cargo: null,
            },
            errores: "",
            roles: {},
            route: "",
            updated: false,
            tecCargos: [],
            tecnicosList: [],
        };
    },
    computed: {
        ...mapState(["createUser", "isValidRut"]),
    },
    created() {
        window.addEventListener("keydown", (e) => {
            if (e.key === "Escape") {
                this.closeModal();
            }
        });
    },
    async updated() {
        if (!this.updated) {
            this.updated = !this.updated;
            if (this.createUser.show) {
                this.route = this.createUser.payload.route;
                await axios.get(this.route.create).then((response) => {
                    this.roles = response.data.data[0];
                });

                await axios.get(`${this.route.read}/all`).then((response) => {
                    this.tecnicosList = response.data;
                    this.tecCargos = response.data
                });
            }
        }
    },
    methods: {
        ...mapMutations(["validateRut"]),
        closeModal() {
            this.$store.commit("hideCreateUser");
        },
        rut() {
            this.errores = "";
            if (this.user.rut && this.user.rut.length >= 9) {
                if (this.user.rut.split("-").length === 2) {
                    if (this.user.rut.split("-")[1] !== "") {
                        this.validateRut(this.user.rut);
                        if (this.isValidRut) {
                            this.errores = "";
                        } else {
                            this.errores = "Rut invalido";
                        }
                    } else {
                        this.errores = "Digito verificador invalido";
                    }
                } else {
                    this.errores = "Rut invalido";
                }
            }
        },
        saveData() {
            if (this.user.password !== this.user.password_confirm) {
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Contraseñas no coinciden",
                    showConfirmButton: false,
                    timer: 2000,
                });
            } else {
                axios.post(this.route.store, this.user).then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Creado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    }
                });
            }
        },
        searchTecCargo(searchTerm) {
            this.tecCargos = new Promise((resolve) => {
                window.setTimeout(() => {
                    if (!searchTerm) {
                        resolve(this.tecnicosList);
                    } else {
                        const term = searchTerm.toLowerCase();

                        resolve(
                            axios
                                .get(`${this.route.read}?search=${searchTerm}&field=nombre&all=true`)
                                .then((response) => {
                                    this.tecCargos = response.data.data;
                                    return response.data.data.map((e) => {
                                        return e.nombre;
                                    });
                                })
                        );
                    }
                }, 500);
            });
        },
        selectedTecCargo(selected) {
            this.user.tec_a_cargo = selected.id;
            this.termTecCargo = selected.nombre
        },
    },
};
</script>

<style  lang="scss">
</style>

