<template>
    <md-dialog :md-active="this.editUser.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'"
                >Editar Usuario {{ user.nombre }}</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <mdb-input
                        label="Nombre de usuario"
                        class="mb-5"
                        v-model="user.nombre"
                    />
                    <mdb-input
                        label="Correo"
                        type="email"
                        v-model="user.email"
                        class="mb-5"
                    />
                    <mdb-input
                        label="Rut"
                        type="email"
                        v-model="user.rut"
                        class="mb-5"
                    />
                    <mdb-input
                        label="Patente"
                        type="text"
                        class="mb-5"
                        v-model="user.patente"
                    />
                    <md-field>
                        <label for="roles">Rol</label>
                        <md-select
                            v-model="
                                user.roles[0] === undefined
                                    ? 0
                                    : user.roles[0].id
                            "
                            name="roles"
                            id="roles"
                        >
                            <md-option
                                v-bind:value="role.id"
                                v-for="role in this.roles"
                                v-bind:key="role.role_name"
                                >{{ role.role_name }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <md-autocomplete
                        v-model="termTecCargo"
                        :md-options="tecCargos"
                        @md-changed="searchTecCargo"
                        @md-opened="searchTecCargo"
                        @md-selected="selectedTecCargo"
                    >
                        <label>Tecnico a Cargo</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro el tecnico
                        </template>
                    </md-autocomplete>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
Vue.use(VueMaterial);
import { mapState } from "vuex";
import Swal from "sweetalert2";
import axios from "axios";
export default {
    name: "edit",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data() {
        return {
            user: {
                nombre: "",
                email: "",
                rut: "",
                patente: "",
                password: "",
                password_confirm: "",
                roles: {},
                tec_a_cargo: null,
            },
            roles: {},
            route: "",
            updated: false,
            tecCargos: [],
            tecnicosList: [],
             termTecCargo: "",
        };
    },
    computed: {
        ...mapState(["editUser"]),
    },
    created() {
        window.addEventListener("keydown", (e) => {
            if (e.key === "Escape") {
                this.closeModal();
            }
        });
    },
    async updated() {
        if (this.editUser.show) {
            this.user = this.editUser.payload.data;
            this.route = this.editUser.payload.route;
            if (this.roles.length === undefined) {
                await axios.get(this.route.create).then((response) => {
                    this.roles = response.data.data[0];
                });
                 await axios.get(`${this.route.read}/all`).then((response) => {
                    this.tecnicosList = response.data;
                    this.tecCargos = response.data
                });
            }
            if (this.user.tecnico_a_cargo !== null) {
                this.termTecCargo = this.user.tecnico_a_cargo.nombre
            }

        } else {
            if (!this.roles) {
                this.user = {
                    nombre: "",
                    email: "",
                    rut: "",
                    password: "",
                    password_confirm: "",
                    roles: {},
                    tec_a_cargo: null,
                };
                this.user = this.editUser.payload.data;
            }
        }
    },
    methods: {
        closeModal() {
            if (this.editUser.show) {
                this.$options.backup = {
                    nombre: "",
                    email: "",
                    rut: "",
                    password: "",
                    password_confirm: "",
                    roles: {},
                    tec_a_cargo: null,
                };
                this.user = {
                    nombre: "",
                    email: "",
                    rut: "",
                    password: "",
                    password_confirm: "",
                    roles: {},
                    tec_a_cargo: null,
                };

                this.$store.commit("hideEditUser");
            }
        },
        saveData() {
            axios
                .post(this.route.update, this.user)
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido actualizado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    }
                })
                .catch((error) => {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Ha Ocurrido un error",
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
        },
                searchTecCargo(searchTerm) {
            this.tecCargos = new Promise((resolve) => {
                window.setTimeout(() => {
                    if (!searchTerm) {
                        resolve(this.tecnicosList);
                    } else {
                        const term = searchTerm.toLowerCase();

                        resolve(
                            axios
                                .get(`${this.route.read}?search=${searchTerm}&field=nombre&all=true`)
                                .then((response) => {
                                    this.tecCargos = response.data.data;
                                    return response.data.data.map((e) => {
                                        return e.nombre;
                                    });
                                })
                        );
                    }
                }, 500);
            });
        },
        selectedTecCargo(selected) {
            this.user.tec_a_cargo = selected.id;
            this.termTecCargo = selected.nombre
        },
    },
};
</script>

<style>
</style>

