<template>
    <mdb-container>
        <tableBody v-bind:data="this.data">
            <template v-slot:edit>
                <edit></edit>
            </template>
            <template v-slot:create>
                <create></create>
            </template>
        </tableBody>
        <mdb-btn><download-excel :data="json_data" :fields="field_export" name="nomina_usuarios.xls">Descargar Nomina </download-excel></mdb-btn>
    </mdb-container>
</template>

<script>
import tableBody from "../misc/grid-editable";
import { mdbContainer, mdbBtn } from "mdbvue";
import JsonExcel from "vue-json-excel";
import edit from "./edit";
import create from "./create";
Vue.component("downloadExcel", JsonExcel);
export default {
    name: "index",
    props: ["users", "routes", "permissions"],
    components: {
        edit,
        create,
        tableBody,
        mdbContainer,
        mdbBtn
    },
    data() {
        let permission = JSON.parse(this.permissions);
        let rowsData = JSON.parse(this.users);
        if(rowsData.length > 0){
            rowsData.map(row => {
                if(row.roles.length > 0){
                    row.name_roles = row.roles.map(rol => rol.role_name).join(',')
                }

                if(row.tecnico_a_cargo !== null){
                    row.tecnico = row.tecnico_a_cargo.nombre
                }
            })
        }

        return {
            json_data: rowsData,
            field_export: {
                "Nombre": "nombre",
                "Administrador": "isAdmin",
                "RUT": "rut",
                "Tecnico a Cargo": "tec_a_cargo",
            },
            data: {
                nombreTabla: "Usuarios",
                columns: [
                    {
                        label: "Id",
                        field: "id",
                        sort: true,
                    },
                    {
                        label: "Nombre",
                        field: "nombre",
                        sort: true,
                    },
                    {
                        label: "Roles",
                        field: "name_roles",
                        sort: true,
                    },
                    {
                        label: "Rut",
                        field: "rut",
                        sort: true,
                    },{
                        label: "Patente",
                        field: "patente",
                        sort: true
                    },
                    {
                        label: "Firma",
                        field: "firma",
                        sort: true,
                    },
                    {
                        label: "Tecnico a cargo",
                        field: "tecnico",
                        sort: false,
                    },
                ],
                rows: rowsData,
                routes: JSON.parse(this.routes),
                showInfo: {
                    show: false,
                    method: "",
                },
                create: {
                    show: false,
                    enable: permission.create,
                    method: "createUser",
                },
                edit: {
                    show: false,
                    enable: permission.edit,
                    method: "editUser",
                },
                delete: {
                    enable: permission.delete,
                },
                debug: true,
            },
        };
    },
    beforeMount() {},
};
</script>

<style scoped>
</style>
