<template>
    <mdb-container>
        <tableBody v-bind:data="this.data">
            <template v-slot:info>
                <info></info>
            </template>
            <template v-slot:create>
                <create></create>
            </template>
        </tableBody>
    </mdb-container>
</template>

<script>
import tableBody from "../misc/grid-editable";
import info from "./info";
import create from "./create"
import axios from 'axios';
import { mdbContainer, mdbBtn, mdbInput } from "mdbvue";
export default {
    name: "index",
    props: ["routes", "certificados", "permissions"],
    components: {
        mdbContainer,
        tableBody,
        info,
        mdbBtn,
        mdbInput,
        create
    },
    data() {
        let permissions = JSON.parse(this.permissions);
        let certificates = JSON.parse(this.certificados);
        let rowsCertificados = certificates.map((el) => {
            return {
                nombre_cliente: el.cliente.nombre,
                nombre_tecnico: el.usuario.nombre,
                list_tratamientos: el.tratamientos
                    .map((trat) => {
                        return trat.tipoTratamiento.nombre;
                    })
                    .join(","),
                ...el,
            };
        });
        return {
            fechaFiltro: null,
            data: {
                nombreTabla: "Certificados ",
                searchFields:true,
                columns: [
                    {
                        label: "Id",
                        field: "id",
                        sort: true,
                    },
                    {
                        label: "Folio",
                        field: "folio",
                        sort: true,
                    },
                    {
                        label: "Cliente",
                        field: "nombre_cliente",
                        sort: true,
                    },
                    {
                        label: "Tecnico",
                        field: "nombre_tecnico",
                        sort: true,
                    },
                    {
                        label: "Tratamientos",
                        field: "list_tratamientos",
                        sort: true,
                    },
                    {
                        label: "Fecha",
                        field: "fecha",
                        sort: true,
                    },
                ],
                rows: rowsCertificados,
                routes: JSON.parse(this.routes),
                showInfo: {
                    show: false,
                    method: "infoCertificado",
                    enable: permissions.info,
                },
                create: {
                    show: false,
                    method: "createCertificado",
                    enable: permissions.create,
                },

                edit: {
                    show: false,
                    method: "",
                    enable: false,
                },
                delete: {
                    show:true,
                    enable: true,
                },
            },
            allRows: rowsCertificados,
        };
    },
    async created(){
      await this.getEvaluationCriteria();
      await this.getEvaluations();
    },
    methods:{
        async getEvaluationCriteria(){
            const req= await axios.get('/glosa-evaluacion/list');
            this.$store.commit('setEvaluationCriteria',req.data.data);
        },
        async getEvaluations(){
            const req= await axios.get('/evaluacion/list');
            this.$store.commit('setEvaluations',req.data.data);
        },
    }
};
</script>

<style scoped>
</style>


