<template>
    <md-dialog :md-active="this.infoCertificado.show"  @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">Informacion del Certificados</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content v-if="!isLoading">
                    <div v-html="this.imprimible"></div>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="download" color="indigo">Descargar</mdb-btn>
                        <mdb-btn @click.native="imprimir" color="indigo">Imprimir</mdb-btn>
                        <mdb-btn @click.native="closeModal" color="indigo">Salir</mdb-btn>
                    </mdb-modal-footer>
                </md-dialog-content>
                <md-dialog-content v-else class="text-center">
                    <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
                </md-dialog-content>

            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbModalFooter,
} from "mdbvue";
import { mapState,mapActions } from "vuex";
import axios from 'axios';
export default {
    name: "create",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbModalFooter
    },
    data() {
        return {
            isLoading:false,
            certificado: {},
            imprimible: "",
            route: "",
            updated: false
        }
    },
    computed: {
        ...mapState(["infoCertificado"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape"&&this.infoCertificado.show) {
                    this.closeModal();
                }
                if (e.key === "Enter"&&this.infoCertificado.show) {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    async updated() {

        if (!this.updated) {
            this.updated = !this.updated;
            if (this.infoCertificado.show) {
                this.certificado = this.infoCertificado.payload.data
            }
        }
    },
    mounted(){
        this.route = this.$store.state.infoCertificado.payload.routes;
    },
    methods: {
        ...mapActions(['printCert']),
        closeModal() {
            this.$store.commit("hideInfoCertificado");
        },
        async download(){
            this.getCert().then((resp)=>{
                this.printCert(resp);
                this.isLoading=false;
            })


            //window.open(`/certificados/pdf/${this.certificado.id}`)
        },
       async getCert(){
           this.isLoading=true;
            return await axios.get(`/certificados/pdf/${this.infoCertificado.payload.data.id}`);
        },
       async imprimir(){
           const cert=await this.getCert();
           const WinPrint = window.open('', 'print', 'toolbar=0,scrollbars=0,status=0,margin=0');
           WinPrint.document.write(cert.data);
           WinPrint.document.close();
           WinPrint.focus();
           WinPrint.print();
           this.isLoading=false;

        }
    },
};
</script>

<style>
</style>
