<template>
    <md-dialog :md-active="this.Tratamientos.show"  @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">Detalle de tratamiento</mdb-modal-header>
            <mdb-modal-body class="mx-3 grey-text">
                <form v-on:submit.prevent="add">
                    <md-dialog-content>
                        <div class="container">
                            <md-autocomplete
                                v-model="tipoTratamientoTerm"
                                :md-options="tipoTratamientoList"
                                :value="tipoTratamientoTerm"
                                @md-changed="getTratamientos"
                                @md-opened="getTratamientos"
                                @md-selected="selectedTratamiento"
                                v-autofocus
                                :required="!this.editMode"
                            >
                                <label>Tipo de tratamiento</label>
                                <template
                                    slot="md-autocomplete-item"
                                    slot-scope="{ item }"
                                >
                                    {{item[search.field]}}
                                </template>
                                <template slot="md-autocomplete-empty">
                                    No se encontraron tipos de tratamiento
                                </template>
                            </md-autocomplete>
                            <md-field>
                                <label for="">Buscar producto por</label>
                                <md-select
                                    v-model="search.field"
                                    required
                                >
                                    <md-option
                                        v-for="factor in listFields"
                                        v-bind:value="factor"
                                        v-bind:key="factor"
                                    >{{ factor }}</md-option>
                                </md-select>
                            </md-field>
                            <md-autocomplete
                                :required="!this.editMode"
                                v-model="termProducto"
                                :value="termProducto"
                                :md-options="listProductos"
                                @md-changed="getProductos"
                                @md-opened="getProductos"
                                @md-selected="selectedProducto"
                                v-autofocus
                            >
                                <label>Producto</label>
                                <template
                                    slot="md-autocomplete-item"
                                    slot-scope="{ item }"
                                >
                                    {{ item[search.field] }}
                                </template>
                                <template slot="md-autocomplete-empty">
                                    No se encontro el producto
                                </template>
                            </md-autocomplete>
                            <mdb-input
                                label="Nombre Producto"
                                class="mb-5"
                                disabled
                                v-model="tratamiento.producto.nombre"
                            />
                            <mdb-input
                                label="Codigo"
                                class="mb-5"
                                disabled
                                v-model="tratamiento.producto.codigo"
                            />
                            <mdb-input
                                label="Marca Producto"
                                class="mb-5"
                                disabled
                                v-model="tratamiento.producto.marca"
                            />
                            <mdb-input
                                label="Maquinaria"
                                class="mb-5"
                                disabled
                                v-model="tratamiento.producto.maquinaria"
                            />

                            <mdb-input
                                label="Concentracion"
                                class="mb-5"
                                required
                                v-model="tratamiento.concentracion"
                            />
                            <mdb-input
                                label="Dosis"
                                class="mb-5"
                                required
                                v-model="tratamiento.dosis"
                            />
                            <mdb-input
                                label="Lugares"
                                class="mb-5"
                                required
                                v-model="tratamiento.lugares"
                            />
                            <md-field>
                                <label for="">Presentacion/Medida usada</label>
                                <md-select
                                    v-model="tratamiento.factor_conversion"
                                    required
                                >
                                    <md-option
                                        v-for="(v) in tratamiento.producto.factor_conversion"
                                        v-bind:value="v"
                                        :key="v.id"
                                    >{{ v.descripcion }}</md-option>
                                </md-select>
                            </md-field>
                            <mdb-input
                                label="Total"
                                class="mb-5"
                                type="number"
                                required

                                v-model="tratamiento.total"
                            >
                                <div class="valid" ref="total">
                                    Solo numeros enteros mayores que cero
                                </div>
                            </mdb-input>
                            <md-field>
                                <label for="">Vigencia En</label>
                                <md-select
                                    v-model="vigenciaSelected"
                                    required
                                >
                                    <md-option
                                        v-for="(v,index) in vigencia"
                                        v-bind:value="v"
                                        :key="index"
                                    >{{ v }}</md-option>
                                </md-select>
                            </md-field>
                            <mdb-input
                                label="Vigencia"
                                class="mb-5"
                                :type="vigenciaSelected==='Dias'?'number':'time'"
                                required
                                v-model="tratamiento.vigencia"
                            >
                                <div class="valid" ref="vigencia">
                                    Solo numeros enteros mayores que cero
                                </div>
                            </mdb-input>
                        </div>
                        <mdb-modal-footer center>
                            <mdb-btn type="submit" color="indigo">Agregar</mdb-btn>
                            <mdb-btn @click.native="closeModal" color="secondary">Salir</mdb-btn>
                        </mdb-modal-footer>
                    </md-dialog-content>
                </form>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>

<script>
import {
    mdbBtn,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbAccordion,
    mdbAccordionPane,
    mdbModalFooter,
} from "mdbvue";
import axios from "axios";
export default {
    name: "tratamiento",
    components:{
        mdbBtn,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbAccordion,
        mdbAccordionPane,
        mdbModalFooter,
    },
    data(){
        return {
            editMode:false,
            vigencia:['Dias','Horas'],
            vigenciaSelected:'Dias',
            search:{
                field:"nombre",
                search:""
            },
            tipoTratamientoList:[],
            tipoTratamientoTerm:"",
            listFields:["nombre","codigo","marca"],
            listProductos:[],
            termProducto:"",
            factor_conversion:{},
            trat:{
                uuid:"",
                concentracion:"",
                dosis:"",
                lugares:"",
                total:0,
                vigencia:"",
                tipoTratamiento:{
                  id:0,
                  nombre:"",
                  comentario_fijo:"",
                  abreviatura:""
                },
                producto:{
                    id:0,
                    nombre:"",
                    codigo:"",
                    marca:"",
                    factor_conversion:[],
                    maquinaria:"",
                }
            }

        }
    },
    created() {

    },
    computed:{
        tratamiento:{
          get(){
              if(this.Tratamientos.payload.uuid!==""&&this.Tratamientos.payload.uuid!==undefined){
                  this.editMode=true;
                  this.trat=this.Tratamientos.payload;
              }
              return this.trat;
          },set(val){
              this.trat=val;
            }
        },
        Tratamientos:{
            get(){
                return this.$store.state.Tratamientos
            },
            set(val){
                this.$store.commit('Tratamientos',val)
            }
        },
    },
    methods:{
        checkInteger(val){
            return (Number.isInteger(Number(val))&&Number(val)>0);
        },
        closeModal(){
            this.$store.commit('hideTratamientos');
            this.reset();
        },
        Msg(ref,valid){
            console.log("ref: "+ref,valid)
            if(!valid){
                this.$refs[ref].classList.remove('valid');
                this.$refs[ref].classList.add('invalid')
            }else{
                this.$refs[ref].classList.add('valid');
                this.$refs[ref].classList.remove('invalid')
            }
            return !valid;
        },
        add(e){
            e.preventDefault();
           if(this.Msg('total',this.checkInteger(this.trat.total))){
               return;
           }
           if(this.vigenciaSelected==='Dias'){
               if(this.Msg('vigencia',this.checkInteger(this.trat.vigencia))) {
                   return;
               }
           }
           if(!this.editMode){
                this.tratamiento.uuid=this.generateUUID();
           }
            this.$emit("tratamiento",this.tratamiento);
            this.closeModal();

        },
        getProductos(){
            if(typeof this.termProducto==='string'){
                this.search.search=this.termProducto;
            }
            this.listProductos = axios
                .get("/stock_usuarios/show", {
                    params: {
                        ...this.search
                    },
                })
                .then((result) => {
                    return result.data.data;
                });
        },
        selectedProducto(selected){
            this.tratamiento.producto=selected;
            this.termProducto=selected.nombre;
        },
        getTratamientos(){
            if(typeof this.termProducto==='string'){
                this.search.search=this.termProducto;
            }
            this.tipoTratamientoList = axios
                .get("/tipo-tratamiento/list")
                .then((result) => {
                    return result.data.data;
                });
        },
        selectedTratamiento(selected){
            this.tratamiento.tipoTratamiento=selected;
            this.tipoTratamientoTerm=selected.nombre;
        },
        reset(){

            this.tratamiento=undefined;
            this.Tratamientos={
                show:false,
                payload:{}
            };
            Object.assign(this.$data,{
                editMode:false,
                vigencia:['Dias','Horas'],
                vigenciaSelected:'Dias',
                search:{
                    field:"nombre",
                    search:""
                },
                tipoTratamientoList:[],
                tipoTratamientoTerm:"",
                listFields:["nombre","codigo","marca"],
                listProductos:[],
                termProducto:"",
                factor_conversion:{},
                trat:{
                    uuid:"",
                    concentracion:"",
                    dosis:"",
                    lugares:"",
                    total:0,
                    vigencia:"",
                    tipoTratamiento:{
                        id:0,
                        nombre:"",
                        comentario_fijo:"",
                        abreviatura:""
                    },
                    producto:{
                        id:0,
                        nombre:"",
                        codigo:"",
                        marca:"",
                        factor_conversion:[],
                        maquinaria:"",
                    }
                }
            });
        },
        generateUUID() {
            var d = new Date().getTime();
            if (typeof performance !== 'undefined' && typeof performance.now === 'function'){
                d += performance.now();
            }
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = (d + Math.random() * 16) % 16 | 0;
                d = Math.floor(d / 16);
                return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
            });


        }
    },
    destroyed() {
        this.reset();
    }
}
</script>

<style scoped>
.invalid{
    display:block;
    color:red;
    size: 10px;
}
.valid{
    display:none
}
</style>
