<template>
    <md-dialog :md-active="this.createConversion.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">
                Crear Conversion</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <md-autocomplete
                        v-if="conversion.forProduct"
                        v-model="termProducto"
                        :md-options="productos"
                        @md-changed="searchProducto"
                        @md-opened="searchProducto"
                        @md-selected="selectedProducto"
                    >
                        <label>Producto</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro el producto
                        </template>
                    </md-autocomplete>
                    <md-switch
                        v-model="conversion.forProduct"

                    >Para producto</md-switch>
                    <md-field class="mb-5">
                        <label>Unidad de origen</label>
                        <md-select
                            v-model="conversion.id_unidad_medida_origen"
                            name="unidad_medida_origen"
                            id="roles"
                            :disabled="conversion.forProduct"
                            @md-selected="selectedUnidadOrigen"
                        >
                            <md-option
                                v-bind:value="origen.id"
                                v-for="origen in unidadOrigen"
                                v-bind:key="origen.id"
                                >{{ origen.nombre }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <md-field class="mb-5">
                        <label>Unidad de destino</label>
                        <md-select
                            v-model="conversion.id_unidad_medida_destino"
                            name="unidad_medida_destino"
                            id="unidad_medida_destino"
                            @md-selected="selectedUnidadDestino"
                        >
                            <md-option
                                v-for="destino in unidadDestino"
                                v-bind:value="destino.id"
                                v-bind:key="destino.id"
                                >{{ destino.nombre }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <mdb-input
                        v-autofocus
                        label="Equivalencia"
                        class="mb-5"
                        v-model="conversion.factor_conversion"
                        @change="changeFactor"
                    />
                    <mdb-input  label="Descripción" class="mb-5" v-model="conversion.descripcion"/>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import {
    mdbBtn,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
export default {
    name: "create",
    components: {
        mdbBtn,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
    },
    data() {
        return {
            conversion: {
                id: 0,
                id_unidad_medida_origen: "",
                factor_conversion: 0,
                id_unidad_medida_destino: "",
                descripcion:"",
                id_producto: 0,
                forProduct:false,
            },

            unidadOrigen: [],
            unidadDestino: [],
            termProducto: "",
            termOrigen:"",
            termDestino:"",
            route: "",
            updated: false,
            productos: [],
            productosList: [],
        };
    },
    computed: {
        ...mapState(["createConversion"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape") {
                    this.closeModal();
                }
                if (e.key === "Enter") {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    updated() {
        if (!this.updated) {
            this.updated = !this.updated;
            if (this.createConversion.show) {
                this.route = this.createConversion.payload.route;
                axios.get(this.route.unidades).then(response => {
                    this.unidadDestino = response.data.data
                    this.unidadOrigen = response.data.data
                });

               axios.get(this.route.productos).then(response => {
                    this.productosList = response.data.data
                })
            }
        }
    },
    methods: {
        closeModal() {
            this.$store.commit("hideCreateConversion");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },
        saveData() {
            if (
                this.conversion.unidad_medida_origen !== "" ||
                this.conversion.unidad_medida_destino !== "" ||
                this.conversion.factor_conversion > 1
            ) {

                axios
                    .post(this.route.store, {
                        ...this.conversion
                    })
                    .then((response) => {
                        if (response.status === 200) {
                            Swal.fire({
                                position: "top-end",
                                icon: "success",
                                title: "Ha sido Creado Correctamente",
                                showConfirmButton: false,
                                timer: 2000,
                            });

                            setTimeout(() => {
                                window.location.reload();
                            }, 700);
                        } else {
                            Swal.fire({
                                position: "top-end",
                                icon: "error",
                                title: "Algo ha salido mal",
                                text:
                                    "Faltan campos requeridos o los datos ya existen",
                                showConfirmButton: false,
                                timer: 2000,
                            });
                        }
                    })
                    .catch(() => {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Ha ocurrido un error",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    });
            } else {
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "No se ingresaron los datos requeridos",
                    showConfirmButton: false,
                    timer: 2000,
                });
            }
        },
        selectedProducto(selected) {
            this.conversion.id_producto = selected.id;
            //this.conversion.producto = selected.nombre;
            this.termProducto = selected.nombre;
            this.conversion.id_unidad_medida_origen = selected.id_unidad_minima
        },
        searchProducto(searchTerm) {
            this.productos = new Promise((resolve) => {
                window.setTimeout(() => {
                    if (!searchTerm) {
                        resolve(this.productosList);
                    } else {
                        const term = searchTerm.toLowerCase();

                        resolve(
                            this.productosList.filter(({ nombre }) =>
                                nombre.toLowerCase().includes(term)
                            )
                        );
                    }
                }, 500);
            });
        },
        selectedUnidadOrigen(valor){
            let unidad = this.unidadOrigen.find(u => u.id === valor)
            this.termOrigen = unidad.nombre
        },
        selectedUnidadDestino(valor){
            let unidad = this.unidadDestino.find(u => u.id === valor)
            this.termDestino = unidad.nombre
        },
        changeFactor(){
             this.conversion.descripcion = `${this.termProducto} , 1 ${this.termDestino} -> ${this.conversion.factor_conversion} ${this.termOrigen}`
        }
    },
};
</script>

<style>

</style>
