<template>
    <md-dialog :md-active="this.editConversion.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'">
                Editar Conversion</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <md-field class="mb-5">
                        <label>Unidad de origen</label>
                        <md-select
                            v-model="conversion.unidad_medida_origen"
                            name="unidad_medida_origen"
                            id="unidad_medida_origen"
                        >
                            <md-option
                                v-bind:value="origen.nombre"
                                v-for="origen in this.unidadOrigen"
                                :key="origen.id"
                                >{{ origen.nombre }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <mdb-input
                        v-autofocus
                        label="Equivalencia"
                        class="mb-5"
                        v-model="conversion.factor_conversion"
                    />
                    <md-field class="mb-5">
                        <label>Unidad de destino</label>
                        <md-select
                            v-model="conversion.unidad_medida_destino"
                            name="unidad_medida_destino"
                            id="roles"
                        >
                            <md-option
                                v-bind:value="destino.nombre"
                                v-for="destino in this.unidadDestino"
                                :key="destino.id"
                                >{{ destino.nombre }}</md-option
                            >
                        </md-select>
                    </md-field>
                     <mdb-input  label="Descripción" class="mb-5" v-model="conversion.descripcion"/>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
export default {
    name: "edit",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data() {
        return {
            conversion: {
                id: 0,
                unidad_medida_origen: "",
                factor_conversion: 0,
                unidad_medida_destino: "",
                descripcion: "",
                id_producto: 0,
            },
            unidadOrigen: [],
            unidadDestino: [],
            route: "",
            id_unidad_medida_origen: 0,
            id_unidad_medida_destino: 0,
            updated: false,
        };
    },
    computed: {
        ...mapState(["editConversion"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape") {
                    this.closeModal();
                }
                if (e.key === "Enter") {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    async updated() {
        if (!this.updated) {
            this.updated = !this.updated;
            if (this.editConversion.show) {
                this.route = this.editConversion.payload.route;
                this.conversion = this.editConversion.payload.data;
                await axios.get(this.route.unidades).then((response) => {
                    this.unidadOrigen = response.data.data;
                    this.unidadDestino = response.data.data;
                });
            }
        }
    },
    methods: {
        closeModal() {
            this.$store.commit("hideCreateConversion");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },
        saveData() {
            this.id_unidad_medida_origen = this.unidadOrigen.filter(
                (e) => e.nombre === this.conversion.unidad_medida_origen
            )[0].id;
            this.id_unidad_medida_destino = this.unidadDestino.filter(
                (e) => e.nombre === this.conversion.unidad_medida_destino
            )[0].id;
            axios
                .post(this.route.update, {
                    ...this.conversion,
                    id_unidad_medida_origen: this.id_unidad_medida_origen,
                    id_unidad_medida_destino: this.id_unidad_medida_destino,
                })
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Actualizado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });

                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                })
                .catch((e) => {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Ha ocurrido un error",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
        },
    },
};
</script>

<style>

</style>
