<template>
    <mdb-container>
        <tableBody v-bind:data='this.data' >
            <template v-slot:edit >
                <edit></edit>
            </template>
            <template v-slot:create >
                <create></create>
            </template>
        </tableBody>
    </mdb-container>
</template>

<script>
    import tableBody from '../../misc/grid-editable';
    import {mdbContainer} from 'mdbvue';
    import edit from './edit';
    import create from './create'
    export default {
        name: "index",
        props:["routes","conversion", "permissions"],
        components:{
            mdbContainer,
            edit,
            tableBody,
            create
        },
        data() {
            let permisos = JSON.parse(this.permissions)
            return {
                data: {
                    nombreTabla:"Conversiones ",
                    columns:  [
                        {
                            label: 'Id',
                            field: 'id',
                            sort: true
                        },
                        {
                            label: 'Unidad de origen',
                            field: 'unidad_medida_origen',
                            sort: true
                        },
                        {
                            label: 'Equivalencia',
                            field: 'factor_conversion',
                            sort: true
                        },
                        {
                            label: 'Unidad de destino',
                            field: 'unidad_medida_destino',
                            sort: true
                        },
                        {
                            label: 'Descripcion',
                            field: 'descripcion',
                            sort: true
                        }

                    ],
                    rows:JSON.parse(this.conversion),
                    routes:JSON.parse(this.routes),
                    showInfo:{
                        show:false,
                        method:"",
                    },
                    create:{
                        show:false,
                        method:'createConversion',
                        enable: permisos.create
                    },
                    edit:{
                        show:false,
                        method:'editConversion',
                        enable: permisos.edit
                    },
                    delete: {
                        enable: permisos.delete
                    }
                }
            }
        },
    }
</script>

<style scoped>

</style>
