<template>
    <div >
        <md-autocomplete autocomplete  v-model="producto.nombre_producto" :md-open-on-focus="openFocus"  :md-options="productosList" @md-changed="getProducto" >
            <label>Producto</label>
            <template  slot="md-autocomplete-item" slot-scope="{item,term}"><md-highlight-text :md-term="term">{{ item}}</md-highlight-text></template>
            <template  v-if="producto.nombre_producto.length>3" slot="md-autocomplete-empty" slot-scope="{ term }">
                No se encontro el producto "{{ term }}"
            </template>
        </md-autocomplete>
        {{producto.id!==0?"Producto: "+producto.nombre+"/ Identificador: "+producto.id+"/ Codigo: "+producto.codigo:""}}

        <md-autocomplete>
            <label>Bodega</label>
        </md-autocomplete>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: 'autocompletado',
        data() {
            return {
                openFocus:true,
                producto:{
                    id:0,
                    nombre:"",
                    codigo:0,
                },
                productosList: [],
                productos:[],
            }
        },

        methods: {
           async  getProducto (item) {
                 if(this.actual.nombre_producto.length>3){
                      this.productosList = new Promise(resolve => {
                         window.setTimeout(() => {
                             resolve(axios.post('/producto/show',{nombre:item})
                                 .then(response => {
                                     this.productos=response.data.data;
                                     return response.data.data.map((e)=>{
                                         return e.nombre;
                                     });
                                 }));
                         }, 500);
                     });
                    //  if(this.productos.length===1){
                    //      window.setTimeout(() => {
                    //          this.producto=this.productos[0];
                    //          this.actual.id_producto=this.productos[0].id;
                    //          this.actual.codigo=this.productos[0].codigo;
                    //      },1000);

                    //  }
                    //  this.productos.map(e=>{
                    //      if(e.nombre===this.actual.nombre_producto){
                    //          this.producto=e;
                    //          this.actual.nombre_producto=e.nombre;
                    //          this.actual.id_producto=e.id;
                    //          this.actual.codigo=e.codigo;
                    //      }
                    //  });
                 }

            }


        }
    }
</script>

<style lang="scss" scoped>
</style>

