<template>
    <md-dialog :md-active="this.createStock.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'"
                >Añadir Stock</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <md-autocomplete
                        v-model="termProducto"
                        :md-options="productos"
                        @md-changed="getProductos"
                        @md-opened="getProductos"
                        @md-selected="selectedProducto"
                    >
                        <label>Producto</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro el producto
                        </template>
                    </md-autocomplete>
                    <md-autocomplete
                        v-model="termBodega"
                        :md-options="bodegas"
                        @md-changed="getBodegas"
                        @md-opened="getBodegas"
                        @md-selected="selectedBodega"
                    >
                        <label>Bodega</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro la bodega
                        </template>
                    </md-autocomplete>
                    <md-field>
                        <label for="">Unidad Mínima</label>
                        <md-input v-model="stock.unidad_minima" disabled />
                    </md-field>
                    <md-field>
                        <label>Cantidad</label>
                        <md-input v-model="stock.cantidad" type="number" />
                        <span
                            v-if="stock.cantidad > 0 && stock.factor !== -1"
                            class="md-helper-text"
                            >{{
                                ` ${
                                    stock.cantidad
                                } del factor seran transformados en ${
                                    stock.factor_conversion.factor_conversion *
                                    stock.cantidad
                                } ${stock.unidad_minima}`
                            }}</span
                        >
                    </md-field>
                    <md-field>
                        <label for="">Recibir en Factor</label>
                        <md-select
                            v-model="stock.factor"
                            @md-selected="selectedFactor"
                        >
                            <md-option value="-1">No Aplica</md-option>
                            <md-option
                                v-for="factor in factores"
                                v-bind:value="factor.id"
                                v-bind:key="factor.id"
                                >{{ factor.descripcion }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <md-field>
                        <label for="">Lote</label>
                        <md-input v-model="stock.lote" />
                    </md-field>
                    <md-field  >
                        <label>Caducidad</label>
                        <md-input v-model="stock.caducidad" ></md-input>
                    </md-field>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
import Axios from "axios";
export default {
    name: "create",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data() {
        return {
            stock: {
                id_producto: "",
                id_bodega: "",
                cantidad: 0,
                cantidadConvertida: 0,
                unidad_minima: "",
                id_unidad_minima: "",
                factor_conversion: {},
                caducidad: "",
                lote: "",
                factor: -1,
            },
            factores: [],
            productos: [],
            bodegas: [],
            termProducto: "",
            termBodega: "",
            route: "",
            updated: false,
        };
    },
    computed: {
        ...mapState(["createStock"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape") {
                    this.closeModal();
                }
                if (e.key === "Enter") {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    methods: {
        async getProductos(searchTerm) {
            this.productos = axios
                .get(this.createStock.payload.route.productos, {
                    params: {
                        field: "nombre",
                        search: searchTerm,
                    },
                })
                .then((result) => {
                    return result.data.data.map((item) => {
                        return { id: item.id, nombre: item.nombre };
                    });
                });
        },

        async getBodegas(searchTerm) {
            this.bodegas = axios
                .get(this.createStock.payload.route.bodegas, {
                    params: {
                        field: "nombre",
                        search: searchTerm,
                    },
                })
                .then((result) => {
                    return result.data.data.map((item) => {
                        return { id: item.id, nombre: item.nombre };
                    });
                });
        },
        selectedProducto(selected) {
            this.stock.id_producto = selected.id;
            this.termProducto = selected.nombre;

            axios
                .get(
                    `${this.createStock.payload.route.producto}/${selected.id}`
                )
                .then((result) => {
                    this.stock.unidad_minima = result.data.unidad_medida.nombre;
                    this.factores = result.data.factor_conversions;
                    this.stock.id_unidad_minima = result.data.unidad_medida.id;
                });
        },
        selectedFactor(selected) {
            let factor = this.factores.filter(
                (factor) => factor.id === selected
            );
            this.stock.factor_conversion = factor[0];
        },
        selectedBodega(selected) {
            (this.stock.id_bodega = selected.id),
                (this.termBodega = selected.nombre);
        },
        closeModal() {
            this.$store.commit("hideCreateStock");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },

        saveData() {
            Swal.fire({
                position: "center",
                icon: "warning",
                title: "¿Esta seguro?",
                showConfirmButton: true,
                showCancelButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    if (this.stock.factor !== -1) {
                        this.stock.cantidadConvertida =
                            this.stock.cantidad *
                            this.stock.factor_conversion.factor_conversion;
                    }
                    axios
                        .post(this.createStock.payload.route.store, {
                            ...this.stock,
                        })
                        .then((response) => {
                            if (response.status === 200) {
                                Swal.fire({
                                    position: "top-end",
                                    icon: "success",
                                    title: "Ha sido Creado Correctamente",
                                    showConfirmButton: false,
                                    timer: 2000,
                                });
                                setTimeout(() => {
                                    window.location.reload();
                                }, 700);
                            } else {
                                Swal.fire({
                                    position: "top-end",
                                    icon: "error",
                                    title: "Algo ha salido mal",
                                    text:
                                        "Faltan campos requeridos o los datos ya existen",
                                    showConfirmButton: false,
                                    timer: 2000,
                                });
                            }
                        })
                        .catch((e) => {
                            Swal.fire({
                                position: "top-end",
                                icon: "error",
                                title: "Ha ocurrido un error",
                                showConfirmButton: false,
                                timer: 2000,
                            });
                        });
                }
            });
        },
    },
};
</script>

<style>

</style>
