<template>
    <md-dialog :md-active="this.editStockUsuarios.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'"
                >Editar</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <md-autocomplete
                        v-model="motMovText"
                        :md-options="motivos_movimiento"
                        @md-changed="getMotMovimiento"
                        @md-opened="getMotMovimiento"
                        @md-selected="selectedMotMovimiento"
                    >
                        <label>Motivo Movimiento</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontraron datos
                        </template>
                    </md-autocomplete>
                    <md-autocomplete
                        v-if="stock.motivo_movimiento == '7'"
                        v-model="termBodega"
                        :md-options="bodegas"
                        @md-changed="getBodegas"
                        @md-opened="getBodegas"
                        @md-selected="selectedBodega"
                    >
                        <label>Bodega</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro la bodega
                        </template>
                    </md-autocomplete>
                    <md-field v-if="stock.motivo_movimiento == '3' || stock.motivo_movimiento=='2'||stock.motivo_movimiento=='4'">
                        <label for="">Usuario Origen</label>
                        <md-input v-model="usuarioOrigen" type="text" disabled/>
                    </md-field>
                    <md-autocomplete
                        v-if="stock.motivo_movimiento == '3' || stock.motivo_movimiento=='2'"
                        v-model="termUsuario"
                        :md-options="usuarios"
                        @md-changed="getUsuarios"
                        @md-opened="getUsuarios"
                        @md-selected="selectedUsuarios"
                    >
                        <label>Usuario Destino</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro al usuario.
                        </template>
                    </md-autocomplete>
                    <md-field>
                        <label>Unidad</label>
                        <md-input
                            v-model="stock.unidad_minima"
                            type="text"
                            disabled=""
                        />
                    </md-field>
                    <md-field>
                        <label>Conversion</label>
                        <md-select
                            v-model="factor"
                            @md-selected="selectedFactor"
                        >
                            <md-option value="-1">No Aplica</md-option>
                            <md-option
                                v-for="conversion in conversiones"
                                v-bind:value="conversion.id"
                                v-bind:key="conversion.id"
                                >{{ conversion.descripcion }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <md-field>
                        <label>Cantidad</label>
                        <md-input v-model="stock.cantidad" type="number" />
                        <span
                            v-if="
                                factor != -1 && stock.factor_conversion != null
                            "
                            class="md-helper-text"
                            >{{
                                ` ${
                                    stock.cantidad
                                } del factor seran transformados en ${
                                    stock.factor_conversion.factor_conversion *
                                    stock.cantidad
                                } ${stock.unidad_minima}`
                            }}</span
                        >
                    </md-field>
                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";

export default {
    name: "editUsuarios",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data() {
        return {
            stock: {
                id: 0,
                cantidad: 0,
                id_producto: "",
                id_bodega: "",
                id_usuario: "",
                motivo_movimiento: null,
                factor_conversion: null,
                unidad_minima: "",
                id_usuario_origen: 0
            },
            usuarioOrigen:"",
            factor: -1,
            bodegas: [],
            conversiones: [],
            motivos_movimiento: [],
            unidad_medida: {},
            termBodega: "",
            termUnidad: "",
            termUsuario: "",
            usuarios: [],
            motMovText: "",
            route: "",
            updated: false,
        };
    },
    computed: {
        ...mapState(["editStockUsuarios", "stockProductos", "username"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape") {
                    this.closeModal();
                }
                if (e.key === "Enter") {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    updated() {
        if (this.editStockUsuarios.show && !this.updated) {
            let datos = this.stockProductos.data.usuarios.filter((element) => {
                return element.id === this.editStockUsuarios.payload.data.id;
            });

            this.stock = datos[0];
            this.stock.motivo_movimiento = null;
            this.stock.factor_conversion = null;
            this.unidad_medida = datos[0].producto.unidad_medida;
            this.stock.unidad_minima = datos[0].producto.unidad_medida.nombre;
            this.conversiones = datos[0].producto.factor_conversions;
            this.usuarioOrigen = datos[0].users.nombre;
            this.updated = true;
        }
    },
    methods: {
        async getBodegas(searchTerm) {
            this.bodegas = axios
                .get(this.editStockUsuarios.payload.route.bodegas, {
                    params: {
                        field: "nombre",
                        search: searchTerm,
                    },
                })
                .then((result) => {
                    return result.data.data.map((item) => {
                        return { id: item.id, nombre: item.nombre };
                    });
                });
        },
        getUsuarios(searchTerm) {
            this.usuarios = axios
                .get(this.editStockUsuarios.payload.route.usuarios, {
                    params: {
                        field: "nombre",
                        search: searchTerm,
                    },
                })
                .then((result) => {
                    return result.data.data.map((item) => {
                        return { id: item.id, nombre: item.nombre };
                    });
                });
        },
        selectedUsuarios(selected) {
            this.stock.id_usuario = selected.id;
            this.termUsuario = selected.nombre;
        },
        selectedBodega(selected) {
            this.stock.id_bodega = selected.id;
            this.termBodega = selected.nombre;
        },
        selectedMotMovimiento(selected) {
            this.stock.motivo_movimiento = selected.id;
            this.motMovText = selected.nombre;
        },
        selectedFactor(selected) {
            let factor = this.conversiones.filter(
                (factor) => factor.id === selected
            );
            this.stock.factor_conversion = factor[0];
        },
        async getMotMovimiento(searchTerm) {
            this.motivos_movimiento = axios
                .get("/movimientos")
                .then((result) => {
                    return result.data.map((item) => {
                        return { id: item.id, nombre: item.motivo };
                    });
                });
        },
        closeModal() {
            this.$store.commit("hideEditStockUsuarios");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },

        saveData() {
            if (this.stock.factor !== -1 && this.stock.factor_conversion!== null) {
                this.stock.cantidadConvertida =
                    this.stock.cantidad *
                    this.stock.factor_conversion.factor_conversion;
            }
            axios
                .post(this.editStockUsuarios.payload.route.update, {
                    ...this.stock,
                })
                .then((response) => {
                    if (response.status === 200) {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Ha sido Creado Correctamente",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: "Algo ha salido mal",
                            text:
                                "Faltan campos requeridos o los datos ya existen",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                })
                .catch((e) => {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: e.response.data.message,
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
        },
    },
};
</script>

<style>

.md-dialog-container {
    max-height: 100% !important;
}
.modal-1 {
    z-index: 3;
    background-color: white;
    max-height: 100%;
    min-width: 500px;
    border-radius: 0.125rem;
}
.mh100 {
    max-height: 100% !important;
    overflow: auto;
}
.md-dialog .div.md-dialog-container {
    max-width: 768px;
}
@media (max-width: 500px) {
    .modal-1 {
        margin: 0;
        min-width: 100%;
    }
}

@import "../../../../node_modules/vue-material/dist/theme/default.css";
@import "../../../../node_modules/vue-material/dist/vue-material.min.css";
</style>

