<template>
    <md-dialog :md-active="this.editStock.show" @close="closeModal">
        <div class="modal-1 mh100">
            <mdb-modal-header v-bind:class="'text-center mh100'"
                >Editar</mdb-modal-header
            >
            <mdb-modal-body class="mx-3 grey-text">
                <md-dialog-content>
                    <md-autocomplete
                        v-model="termBodega"
                        :md-options="bodegas"
                        @md-changed="getBodegas"
                        @md-opened="getBodegas"
                        @md-selected="selectedBodega"
                    >
                        <label>Bodega</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontro la bodega
                        </template>
                    </md-autocomplete>
                    <md-autocomplete
                        :disabled="motMovDisabled"
                        v-model="motMovText"
                        :md-options="motivos_movimiento"
                        @md-changed="getMotMovimiento"
                        @md-opened="getMotMovimiento"
                        @md-selected="selectedMotMovimiento"
                    >
                        <label>Motivo Movimiento</label>
                        <template
                            slot="md-autocomplete-item"
                            slot-scope="{ item }"
                        >
                            {{ item.nombre }}
                        </template>
                        <template slot="md-autocomplete-empty">
                            No se encontraron datos
                        </template>
                    </md-autocomplete>
                    <md-field>
                        <label>Unidad</label>
                        <md-input
                            v-model="unidad_medida.abreviatura"
                            type="text"
                            disabled=""
                        />
                    </md-field>
                    <md-field>
                        <label for="">Recibir en Factor</label>
                        <md-select
                            v-model="stock.factor"
                            @md-selected="selectedFactor"
                        >
                            <md-option value="-1">No Aplica</md-option>
                            <md-option
                                v-for="factor in conversiones"
                                v-bind:value="factor.id"
                                v-bind:key="factor.id"
                            >{{ factor.descripcion }}</md-option
                            >
                        </md-select>
                    </md-field>
                    <md-field>
                        <label>Cantidad</label>
                        <md-input v-model="stock.cantidad" type="number" />
                        <span v-if="factor != -1" class="md-helper-text"
                            >{{
                                ` ${
                                    stock.cantidad
                                } del factor seran transformados en ${
                                    stock.factor_conversion.factor_conversion *
                                    stock.cantidad
                                } ${stock.unidad_minima}`
                            }}</span
                        >
                    </md-field>

                    <mdb-modal-footer center>
                        <mdb-btn @click.native="saveData" color="indigo"
                            >Guardar</mdb-btn
                        >
                    </mdb-modal-footer>
                </md-dialog-content>
            </mdb-modal-body>
        </div>
    </md-dialog>
</template>
<script>
import VueMaterial from "vue-material";
Vue.use(VueMaterial);
import {
    mdbContainer,
    mdbTextarea,
    mdbIcon,
    mdbBtn,
    mdbModal,
    mdbModalHeader,
    mdbModalBody,
    mdbInput,
    mdbModalFooter,
} from "mdbvue";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
import Axios from "axios";
export default {
    name: "edit",
    components: {
        mdbContainer,
        mdbBtn,
        mdbModal,
        mdbModalHeader,
        mdbModalBody,
        mdbInput,
        mdbModalFooter,
        mdbTextarea,
        mdbIcon,
    },
    data() {
        return {
            updated: false,
            stock: {
                id: 0,
                id_producto: "",
                id_bodega: "",
                cantidad: 0,
                motivo_movimiento: null,
                factor_conversion: null,
            },
            motMovDisabled: false,
            unidad_medida: {},
            factor: -1,
            bodegas: [],
            conversiones: [],
            motivos_movimiento: [],
            termBodega: "",
            bodega_origen: "",
            motMovText: "",
            route: "",

        };
    },
    computed: {
        ...mapState(["editStock", "stockProductos"]),
    },
    created() {
        window.addEventListener(
            "keydown",
            (e) => {
                if (e.key === "Escape") {
                    this.closeModal();
                }
                if (e.key === "Enter") {
                    this.saveData();
                }
            },
            { passive: true }
        );
    },
    updated() {
        if (this.editStock.show && !this.updated) {
            let datos = this.stockProductos.data.productos.filter(
                (element) => element.id === this.editStock.payload.data.id
            );

            this.stock = datos[0];
            this.stock.motivo_movimiento = null;
            this.stock.factor_conversion = null;
            //todo:backend descontar o contar dependiendo del movimiento
            this.unidad_medida = datos[0].producto.unidad_medida;
            this.termBodega = datos[0].bodega.nombre;
            this.conversiones = datos[0].producto.factor_conversions;
            this.bodega_origen = datos[0].id_bodega
            this.updated = true;
        }
    },
    methods: {
        selectedFactor(selected) {
            let factor = this.conversiones.filter(
                (factor) => factor.id === selected
            );
            this.stock.factor_conversion = factor[0];
        },
        async getBodegas(searchTerm) {
            this.bodegas = axios
                .get(this.editStock.payload.route.bodegas, {
                    params: {
                        field: "nombre",
                        search: searchTerm,
                    },
                })
                .then((result) => {
                    return result.data.data.map((item) => {
                        return { id: item.id, nombre: item.nombre };
                    });
                });
        },
        async getMotMovimiento(searchTerm) {
            this.motivos_movimiento = axios
                .get("/movimientos")
                .then((result) => {
                    return result.data.map((item) => {
                        return { id: item.id, nombre: item.motivo };
                    });
                });
        },
        selectedBodega(selected) {
            if (this.bodega_origen !== selected.id) {
                this.stock.motivo_movimiento = 3;
                this.motMovText = "Traspaso";
                this.motMovDisabled = true
            }else{
                this.motMovDisabled = false
            }

            this.stock.id_bodega = selected.id;
            this.termBodega = selected.nombre;
        },
        selectedMotMovimiento(selected) {
            this.stock.motivo_movimiento = selected.id;
            this.motMovText = selected.nombre;
        },
        closeModal() {
            this.$store.commit("hideEditStock");
            setTimeout(() => {
                window.location.reload();
            }, 100);
        },

        saveData() {
            Swal.fire({
                position: "center",
                icon: "warning",
                title: "¿Está seguro?",
                showConfirmButton: true,
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    axios
                        .post(this.editStock.payload.route.update, {
                            ...this.stock,
                        })
                        .then((response) => {
                            if (response.status === 200) {
                                Swal.fire({
                                    position: "top-end",
                                    icon: "success",
                                    title: "Ha sido Creado Correctamente",
                                    showConfirmButton: false,
                                    timer: 2000,
                                });
                                setTimeout(() => {
                                    window.location.reload();
                                }, 700);
                            } else {
                                Swal.fire({
                                    position: "top-end",
                                    icon: "error",
                                    title: "Algo ha salido mal",
                                    text:
                                        "Faltan campos requeridos o los datos ya existen",
                                    showConfirmButton: false,
                                    timer: 2000,
                                });
                            }
                        })
                        .catch((e) => {
                            Swal.fire({
                                position: "top-end",
                                icon: "error",
                                title: "Ha ocurrido un error",
                                showConfirmButton: false,
                                timer: 2000,
                            });
                        });
                }
            });
        },
    },
};
</script>

<style>
.md-dialog-container {
    max-height: 100% !important;
}
.modal-1 {
    z-index: 3;
    background-color: white;
    max-height: 100%;
    min-width: 500px;
    border-radius: 0.125rem;
}
.mh100 {
    max-height: 100% !important;
    overflow: auto;
}
.md-dialog .div.md-dialog-container {
    max-width: 768px;
}
@media (max-width: 500px) {
    .modal-1 {
        margin: 0;
        min-width: 100%;
    }
}

@import "../../../../node_modules/vue-material/dist/theme/default.css";
@import "../../../../node_modules/vue-material/dist/vue-material.min.css";
</style>

