<template>
    <mdb-container>
        <mdb-accordion>
            <mdb-accordion-pane
                title="Stock por Producto"
                type="table"
                :isOpen="openPaneNum == 0"
                @pane-clicked="handlePaneOpened(0)"
            >
                <tableBody v-bind:data="this.stockProductos">
                    <template v-slot:edit>
                        <edit></edit>
                    </template>
                    <template v-slot:create>
                        <create
                            v-bind:unidadRoute="stockProductos.routes.unidad"
                        ></create>
                    </template>
                </tableBody>
            </mdb-accordion-pane>
            <mdb-accordion-pane
                title="Stock por Usuario"
                type="table"
                :isOpen="openPaneNum == 1"
                @pane-clicked="handlePaneOpened(1)"
            >
                <tableBody v-bind:data="this.stockUsuarios">
                    <template v-slot:edit>
                        <edit-usuarios></edit-usuarios>
                    </template>
                    <template v-slot:create>
                        <create-usuarios></create-usuarios>
                    </template>
                </tableBody>
            </mdb-accordion-pane>
        </mdb-accordion>
    </mdb-container>
</template>

<script>
import tableBody from "../misc/grid-editable";

import { mdbContainer, mdbAccordion, mdbAccordionPane } from "mdbvue";
import edit from "./edit";
import create from "./create";
import EditUsuarios from './editUsuarios.vue';
import CreateUsuarios from './createUsuarios.vue';
export default {
    name: "index",
    props: ["routes", "stock", "permissions", "user"],
    components: {
        mdbContainer,
        mdbAccordion,
        mdbAccordionPane,
        edit,
        tableBody,
        create,
        EditUsuarios,
        CreateUsuarios
    },
    data() {
        let permissions = JSON.parse(this.permissions);
        let jrows = JSON.parse(this.stock);
        let routes = JSON.parse(this.routes)
        this.$store.commit("saveStocks", jrows);
        this.$store.commit("setUser", this.user)
        return {
            openPaneNum: 0,
            stockProductos: {
                nombreTabla: "Productos en Stock",
                searchFields:true,
                columns: [
                    {
                        label: "Id",
                        field: "id",
                        show: false,
                    },
                    {
                        label: "Nombre Producto",
                        field: "nombre",
                        sort: true,
                    },

                    {
                        label: "Stock",
                        field: "cantidad",
                        sort: true,
                    },
                    {
                        label: "Unidad Minima",
                        field: "id_unidad_medida",
                        sort: true,
                    },
                    {
                        label: "Bodega",
                        field: "bodega",
                        sort: true,
                    },
                    {
                        label: "Codigo",
                        field: "codigo",
                        sort: true,
                    },
                    {
                        label: "Maquinaria",
                        field: "maquinaria",
                        sort: true,
                    },
                    {
                        label: "Caducidad",
                        field: "caducidad",
                        sort: true
                    },
                    {
                        label: "Lote",
                        field: "lote",
                        sort: true
                    }
                ],
                rows: jrows.productos.map((row) => {
                    return {

                        id: row.id,
                        cantidad: row.cantidad,
                        nombre: row.producto.nombre,
                        bodega: row.bodega.nombre,
                        id_unidad_medida: row.producto.unidad_medida.abreviatura,
                        codigo: row.producto.codigo,
                        maquinaria: row.producto.maquinaria,
                        caducidad: row.caducidad,
                        lote: row.lote
                    };
                }),
                routes: routes.stock,
                showInfo: {
                    show: false,
                    method: "",
                    enable: false,
                },
                create: {
                    show: false,
                    method: "createStock",
                    enable: permissions.productos.create,
                },
                edit: {
                    show: false,
                    method: "editStock",
                    enable: permissions.productos.edit,
                },
                delete: {
                    enable: permissions.productos.delete,
                },
                debug: true,
            },
            stockUsuarios: {
                nombreTabla: "Stock por Usuarios",
                searchFields:true,
                columns: [
                    {
                        label: "Id",
                        field: "id",
                        show: false,
                    },
                    {
                        label: "Nombre Producto",
                        field: "nombre",
                        sort: true,
                    },

                    {
                        label: "Stock",
                        field: "cantidad",
                        sort: true,
                    },
                    {
                        label: "Unidad Minima",
                        field: "id_unidad_medida",
                        sort: true,
                    },
                    {
                        label: "Usuario",
                        field: "user",
                        sort: true,
                    },
                    {
                        label: "Codigo",
                        field: "codigo",
                        sort: true,
                    },
                    {
                        label: "Maquinaria",
                        field: "maquinaria",
                        sort: true,
                    },
                    {
                        label: "Caducidad",
                        field: "caducidad",
                        sort: true
                    },
                    {
                        label: "Lote",
                        field: "lote",
                        sort: true
                    }
                ],
                rows: jrows.usuarios.map((row) => {
                    return {
                        id: row.id,
                        cantidad: row.cantidad,
                        nombre: row.producto.nombre,
                        user: row.users.nombre,
                        id_unidad_medida:
                            row.producto.unidad_medida.abreviatura,
                        codigo: row.producto.codigo,
                        maquinaria: row.producto.maquinaria,
                        caducidad: row.caducidad,
                        lote: row.lote
                    }
                }),
                routes: routes.stockUsuarios,
                showInfo: {
                    show: false,
                    method: "",
                    enable: false,
                },
                create: {
                    show: false,
                    method: "createStockUsuarios",
                    enable: permissions.usuarios.create,
                },
                edit: {
                    show: false,
                    method: "editStockUsuarios",
                    enable: permissions.usuarios.edit,
                },
                delete: {
                    enable: false,
                },
            },
        };
    },
    methods: {
        handlePaneOpened(num) {
            if (this.openPaneNum == num) {
                return (this.openPaneNum = null);
            }
            this.openPaneNum = num;
        },
    },
};
</script>


